@charset "utf-8";
/* CSS Document */
*, *:before, *:after{margin: 0;padding: 0;outline:none;
    /*box-sizing:border-box;*/
}
body, button, input, select, textarea {font: 13px/1.5 Microsoft YaHei;}
html{overflow-x: hidden; overflow-y:auto;}
h1, h2, h3, h4, h5, h6 {font-size: 100%}
a:link,a:visited,a:active {text-decoration: none; outline:none; outline-style:none}
a:hover {text-decoration: underline;transition:color .4s ease-out 0s}
address, cite, dfn, em, var{font-style: normal}
code, kbd, pre, samp {font-family: courier new,courier,monospace}
small {font-size: 12px}
ul, ol {list-style: none outside none}
fieldset, img {border: 0 none}
button, input, select, textarea {font-size: 100%}
.clear:after {clear: both;content: "";display: block;height: 0;}
.clear{zoom:1}
.l{float:left !important}
.r{float:right !important}
.txl{text-align:left !important}
.txr{text-align:right !important}
.txc{text-align:center !important}
.none{display:none}
.block{display:block !important}
.mb10{margin-top:10px !important}
.bgnone{background:none ;border:none}
.autowidth{width:100%;}
@font-face {
    font-family: "icon";
    src:url('../fonts/icon.eot?gny4e2');
    src:url('../fonts/icon.eot?gny4e2#iefix') format('embedded-opentype'),
        url('../fonts/icon.ttf?gny4e2') format('truetype'),
        url('../fonts/icon.woff?gny4e2') format('woff'),
        url('../fonts/icon.svg?gny4e2#iconY') format('svg');
}
.ico{
    font-family: "icon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
    font-weight:normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
}
.w1010{width:1010px;margin:0 auto}
.skin{background:url(../img/skin.png) no-repeat}
.layer-abs{position:absolute;left:0;top:-1px;display:none;padding-bottom: 5px;z-index:100}
.layer-abs{left:193px}
.borderlmaign > .collendlist > li > .layer-abs .collendlist{width:195px}

.redtxt{color:#e80202 !important}
.row-l{width:195px}
.collendlist{border:1px solid #ff6503}
.row-l h1 > i{margin:0 10px;vertical-align:middle}
.row-l h1,.borderlmaign > h3{background:#ff6503;color:#fff;height:40px;font:bold 14px/40px Microsoft YaHei;padding-left:17px}
.borderlmaign > h3{padding:0}
.collendlist > li > a{position:relative;color:#666;height:34px;border-bottom:1px solid #e1e1e1;line-height:34px;padding-left:35px;cursor:pointer;display:block}
.collendlist > li > a:hover{color:#029cdc}
.borderlmaign > h3{cursor:pointer;position:relative}
.borderlmaign > h3 > a,.borderlmaign > h3 > a:hover{display:block;color:#fff;text-decoration:none}
.borderlmaign > h3 > a{padding-left:17px}
.borderlmaign > h3 i,.collendlist > li > a > i{position:absolute;top:16px;right:15px;background-position:0 0;height:7px;width:13px;display:block}
.borderlmaign > h3 i{-webkit-transition: transform .3s ease 0s;-moz-transition: transform .3s ease 0s;-ms-transition: transform .3s ease 0s;transition: transform .3s ease 0s}
.borderlmaign > h3.open i{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.borderlmaign h3 + .collendlist{display:none}
.collendlist > li{border-bottom:1px solid #f1f1f1;position:relative;z-index:10;background:#fff}
.collendlist > li > a{display:block;border-bottom:none;text-align:left;padding:0 0 0 17px}
.collendlist > li > a:hover,.collendlist > li.on > a{background:#f1f1f1; text-decoration:none}
.collendlist > li > a:hover{color:#ff6503}
.collendlist > li > a > i{top:0;font-size:20px;color:#ccc}
.nullcooend > li > a{text-align:left;padding:0 0 0 35px}
.prolist li{padding:15px;overflow:hidden;border-top:1px solid #eee;position:relative}
.prolist li img{vertical-align:middle;width:58px;height:64px}
.prolist li > span{display:block;position:absolute;width:110px;left:78px;top:10px;height:100%}
.prolist > li > span > p{position:absolute;bottom:20px;left:0}
.prolist li p{color:#666;margin-top:2px}
.prolist li p > span{color:#ff6503;padding-left:5px}
.prolist li a{color:#000}
.prolist li a:hover{color:#ff6503}
.cowb{border:1px solid #eee}
.cowb h1{background:#f7f7f7;color:#666}
.row-r{width:800px}
.rserbox{position:relative}
.rserbox label{padding:0 10px 0 0;color:#333}
.rserbox > i{position:absolute;left:0;top:0}
.btnalpha{border:none;background:none;text-indent:-999px}
.inputtext{height:28px;border:1px solid #dbdbdb;line-height:28px;;text-indent:10px;width:200px;vertical-align:middle;font-family:'Microsoft YaHei';font-size:13px;-webkit-box-shadow:inset -1px 1px 8px #eee;
box-shadow:inset -1px 1px 8px #eee;}
.inputbtn{background:#c5c5c5;border:none;font-size:15px;font-family:'Microsoft YaHei';color:#fff;overflow:visible;vertical-align:middle;cursor:pointer;display:inline-block;height:30px;text-align:center;position:relative;width:28px;height:28px;line-height:28px;border:1px solid #dbdbdb;border-left:none}
.inputbtn > input{padding:0 25px; position:absolute;width:100%;height:100%}
.bg-ser-gray{background:#f5f5f5;padding:4px 0;border:1px solid #d9d9d9}
.bg-ser-gray form{width:227px;*width:241px;float:right;}
.scbtn{color:#666;padding:0 0 0 20px;width:auto;float:left;line-height:23px;cursor:pointer}
.scbtn > i{color:#ccc;font-size:16px;margin:-8px 5px 0 5px}
.bg-ser-gray .inputtext,.bg-ser-gray .inputbtn{height:23px;line-height:23px}
.bg-ser-gray .inputbtn{width:23px}
.prolists > li{width:248px;*width:246px;border:1px solid #dcdcdc;float:left;margin:15px 25px 0 0;color:#666;height:263px;*height:262px}
.prolists dt{height:33px;line-height:33px;padding-left:8px;position: relative;}
.prolists dt .pxId{float:left;cursor:default}
.prolists dd{border-top:1px solid #dcdcdc}
.prolists > li > dl > dd > p{padding:8px;cursor:default;font-weight:bold}
.prolists dt .scbtn{line-height:33px}
.prolists dt .scbtn > i{margin:0 8px}
.prolists .scbtn{float:right}
/*.prolists .prolist{padding-bottom:10px}*/
.prolists .prolist li{border:none}
.prolists .prolist li img,.proInfobox .prolist li img{width:70px;height:90px;}
.prolists .prolist li span,.proInfobox .prolist li span{line-height:1.8em;padding:8px 0 0 15px;width:160px}
.infooo{height:73px}
.btnpro{display:block;text-align:center;height:33px;line-height:33px;color:#333}
.btnpro:hover{text-decoration:none}
.btnpro > i{font-size:20px;color:#999;vertical-align: middle;margin:10px 0 0 10px}
.prolists > li.selected{border-color:#ff6503}
.prolists > li.selected .btnpro,.prolists > li.selected .btnpro > i{background:#ff6503;color:#fff}
.pagination-digg{float:right;margin-top:20px}
.navlistbox .pagination-digg{padding:4px 0 0 0}
.pagination-digg li,#pagination-digg > span { border:0; margin:0; padding:0; font-size:12px; list-style:none; /* savers */ float:left; }
.pagination-digg a { border:solid 1px #cddbe4; margin-right:10px;background:#fff}
.pagination-digg .previous-off,.pagination-digg .next-off,.pagination-digg .pagenum{ border:solid 1px #DEDEDE;display:block; float:left;margin-right:10px; padding:2px 10px; border-radius:4px}
.pagination-digg .next a,.pagination-digg .previous a{position:relative}    
.pagination-digg .active {border:solid 1px  #ff6600; color:#ff6600;display:block; float:left; padding:2px 10px; /* savers */ margin-right:10px}
.pagination-digg a:link,#pagination-digg a:visited { color:#0085d0; display:block; float:left; padding:2px 10px; text-decoration:none}
.pagination-digg a:hover {color:#ff6600;border-color:#b9b9b9}
.pagination-digg .pagenum{border:none;margin:0;padding:2px 0;*padding:0 0 0 0 !important}
.pagination-digg .pagenum:first-child{padding:3px 6px}
.pagination-digg > span{float:left;color:#666}
.pagination-digg > span,#pagination-digg > span > a{margin-right:0;}
.numpage,.pagebtn{width:40px;border:solid 1px #cddbe4;margin:0 2px;height:22px;text-align:center; vertical-align:top}
.pagebtn{background:#fff;cursor:pointer;color:#0085d0;height:24px;vertical-align:middle}
.numpage:focus,.pagebtn:hover{border-color:#b9b9b9}

.corner,.rbar-link > li > h1 >.corner{border-style:dashed solid dashed dashed; font-size:0; line-height:0; border-color:transparent #ff6501 transparent transparent; border-width:6px;display: block;font-size: 0;height: 0;line-height:0;position:absolute;top:4px}
.pagination-digg .previous a{padding-left:15px}
.pagination-digg .previous a > .corner{left:0;}
.pagination-digg .next a{padding-right:15px}
.pagination-digg .next a > .corner,.rbar-link > li > h1 >.corner{right:0;border-right-color:transparent;border-left-color:#ff6501;border-right-style:dashed;border-left-style:solid}
.pagination-digg a.active{color:#ccc;cursor:default;border-color:#cddbe4}
.pagination-digg .previous  a.active .corner{border-right-color:#ccc}
.pagination-digg .next a.active .corner{border-left-color:#ccc}
.hisProlist{padding:5px 10px 10px 10px}
.hisProlist li{float:left;border:none;width:85px;padding:0;text-align:center;margin-top:10px}
.hisProlist li img{width:70px;height:70px;display:block;margin:0 auto}
.hisbtnmore{background:#eee;display:block;height:35px;line-height:35px;color:#8f8f8f;text-align:center;margin-top:10px}
.hisbtnmore:hover{text-decoration:none;background:#e0e0e0}
.hisbtnmore > i{font-size:20px;
    margin: 0 5px 0 0;vertical-align: middle;}
.proInfobox{background:#fdfdfd;border:1px solid #cfcfcf;overflow:hidden}
.proInfobox .prolist li span{width:90%;padding:15px 0 0 15px}
.proInfobox .prolist li span h1{font-size:16px}
.proInfobox .prolist li span p{font-size:12px}
.w50{width:500px;background:#f5f5f5;margin-bottom:-10000px; padding-bottom:10000px}
.proInfopro > p{line-height:2.6;color:#444;padding:10px 45px;font-size:14px}
.proInfopro > p > strong{color:#000}
.proInfopro > p > span{padding-left:20px}
.proInfopro > p > span > a{color:#0b8deb;text-decoration: underline;}
.profile .select_ui, .profile textarea, .profile [type=tel], .profile [type=date], .profile [type=text], .profile [type=password] {
    border: 1px solid #bebebe;
    font-size: 12px;
    outline: 0
}
.profile .select_text_ui{
    -webkit-box-shadow: 0 1px 2px 0 #f0f0f0 inset;
    box-shadow: 0 1px 2px 0 #f0f0f0 inset;
    background: #fff
}
.profile input, .profile button, .profile .select_ui, .profile .btn_mid_pink {
    vertical-align: middle;
    font-family: inherit
}

.profile .fileup_ui {
    position: relative;
    overflow: hidden
}

.profile select {
    font-size: 12px
}
.profile .select_ui {
    background:#f9f9f9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #bebebe;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    text-align: left;
    line-height: 1.5;
    height: auto;
    width: auto;
    float: left;
    margin: 0;
*display:inline;
*cursor:default;
*filter:none;
*zoom:1;
cursor:pointer ;
    overflow: hidden;

}
.profile .select_focus_ui {
    background: #fcfcfc;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fcfcfc));
    background: -webkit-linear-gradient(top, #f2f2f2, #fcfcfc);
    background: -moz-linear-gradient(top, #f2f2f2, #fcfcfc);
    background: -o-linear-gradient(top, #f2f2f2, #fcfcfc);
    background: linear-gradient(to bottom, #f2f2f2, #fcfcfc);
*filter:none
}
.select_ui .select_text_ui {
    border-right: 1px solid #bcbcbc;
    color: #666;
    vertical-align: baseline;
    padding:5px 15px 5px 10px;
    margin-right: 26px;
    overflow:hidden;
    background: #fff;
    display: block;
	padding-right:10px;
	width:90px;
	text-overflow:ellipsis
}
.select_ui select {
    cursor: pointer;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    filter: alpha(opacity=0);
    position: absolute;
    background: #fff;
    min-width: 100%;
    border: inherit;
    color: inherit;
    font: inherit;
    padding: 1px;
    margin: -1px;
    height: 100%;
    opacity: 0;
    border: 0;
    bottom: 0;
    left: 0;
    top: 0;
*left:-9999em;
*padding:0;
*margin:0
}
.profile .select_arrow {
    border-color: #b7b7b7 transparent;
    border-top-color: inherit;
    border-width: 5px 5px 0;
    border-style: solid;
    position: absolute;
    margin-top: -2px;
    overflow: hidden;
    right: 7px;
    height: 0;
    width: 0;
    top: 50%;
*border-color:#f2f2f2;
*border-top-color:#b7b7b7
}
.select_ui:hover .select_arrow {
    border-top-color: #9e9e9e
}
.profile .select_focus_ui .select_arrow {
    border-top-color: inherit
}
.profile .select_menu_ui {
    vertical-align: baseline;
    border: 1px outset #ccc;
    white-space: nowrap;
    position: absolute;
    background: #fff;
    overflow: hidden;
    line-height: 1.5;
    margin: 1px -1px;
    list-style: none;
    cursor: default;
    min-width: 100%;
*width:100%;
    padding: 0;
    top: 100%;
    left: 0
}
.select_menu_ui .option_ui {
    padding: 0 999px 0 3px;
    margin-right: -999px
}
.select_menu_ui .option_hover_ui {
    background: highlight;
    color: highlighttext
}
.profile .select_focus_ui, .profile textarea:focus, .profile [type=tel]:focus, .profile [type=date]:focus, .profile [type=text]:focus, .profile [type=password]:focus {
    border-color: #8ec52b
}
.tithc{float:left;line-height:28px;text-align:right;width:110px;padding-right:10px}
.profile{margin-bottom:5px}
.yongtline{margin:10px 0 30px 0}
.sys_spec_text li{ float:left;position:relative; margin:0 10px 0 0; outline:none;}
.sys_spec_text li a{ height:28px; padding:1px 15px; border:1px solid #ccc; background:#fff; display:inline-block; line-height:28px;color:#666}
.sys_spec_text li a:hover{ border:2px solid #e4393c;text-decoration:none;padding:0 14px;}
.sys_spec_text li.selected a{ border:2px solid #e4393c;padding:0 14px;}
.sys_spec_text li i{display:none;position:absolute;bottom:-2px;right:0}
.sys_spec_text li.selected i{ display:block;color:#e4393c}
.prelinel{border-top:1px solid #d6d6d6;padding:20px 30px}
.prelinel .l{width:150px;}
.prelinel .r{width:260px;text-align:right}
.mainrbor-my{border-bottom:1px solid #cfcfcf}
.mainrbor-my table{width:100%}
.mainrbor-my > table .tr-th ,.mainrbor-my > div > table .tr-th{height:45px;line-height:45px;background:#49c75c;}
.mainrbor-my > table .tr-th th, .mainrbor-my > div > table .tr-th th{color:#fff;font-weight: normal;}
.mainrbor-my > table .tr-th th.title{background:#2d913c;font-weight: bold;font-size:18px}
.mainrbor-my > table .tr-bd td{padding-top:15px;padding-bottom:15px}
.mainrbor-my > table .tr-bd td{border-top:1px solid #cdcdcd;text-align:center;font-size:14px}
.mainrbor-my > table .tr-bd.on td{background:#eaf7ff;border-color:#97d6f9}
.mainrbor-my > table .txl{padding-left:12px}
.mainrbor-my > table .tr-bd .jefont{color:#0da401;font-weight:normal;font-size:12px}
.mainrbor-my > table .tr-bd .minfont{color:#08a0e1}
.spinner{text-align:center}
.spinner .increase,.spinner .decrease,.spinner .value{text-align:center;margin:0;border:1px solid #cbcbcb;width:18px;height:22px;font-size:12px;background:#fff;-webkit-appearance: none; vertical-align: middle;}
.spinner .increase,.spinner .decrease{cursor:pointer;font-family:'simSun'}
.spinner .increase.disabled,.spinner .decrease.disabled{color:#ededed;cursor:default}
.spinner .value{width:60px;border-left-width:0;border-right-width:0;font-size:14px}
.spinner .value.mini{width:40px}
.padtext{padding-left:12px;color:#fd7426 }
.orangetxt{color:#fd7426 !important}
.mainrbor-my table .collendlist .tr-th{background:#fafafa;height:38px;line-height:38px}
.mainrbor-my table .collendlist .tr-th th{color:#666;font-weight:bold}
.mainrbor-my table .collendlist table{background:#cdcdcd}
.mainrbor-my table .collendlist table tbody tr td{background:#fff;text-align:center;padding:5px 0}
.mainrbor-my table .collendlist table tbody tr td.txl{padding-left:10px}



.sep-row {height: 10px;}
.tableboxcol{padding:10px;background:#fafafa;border-top:1px solid #97d6f9;}
.bluetxt{color:#45aae2}
.bluetxt > i{margin-left:2px}
.arrowskin,.mainrbor-my > table .tr-bd.on .arrowskin{background:url(../img/arrow.png) no-repeat;display:inline-block;width:21px;height:21px; vertical-align:middle;margin-right:10px}
.mainrbor-my > table .tr-bd.on .arrowskin{background-position:0 -21px}
.detailBar{background:#e7e7e7}
.detailBtn{background:#f76d02;width:155px;height:47px;color:#fff;display:inline-block;font:bold 13px/47px simSun}
.detailBtn:hover{text-decoration:none;background:#e16401}
.detailBtn > i{font-size:18px; vertical-align:-3px;margin-right:10px}
.detailBar .redtxt{font-size:16px;padding-right:40px}
.tr-th-order{background:#f1f1f1}
.boxinfotip{background:#27b53f;color:#fff;font-size:14px;font-weight:bold;padding:4px 8px;margin-left:10px;font-family:'simSun'}
.boxinfotip > i{margin-right:8px;font-weight:normal}
.toolbar{position:relative;line-height:18px;margin-top:10px}
.toolbar a{margin-left:10px;color:#000}
.checkinputc,input[type=checkbox] + span + label{cursor:pointer}
.toolbar input[type=checkbox]{opacity:0;position:absolute;width:20px;height:20px;z-index:1}
.toolbar input[type=checkbox] + span{ vertical-align:middle;position:relative;width:18px;height:18px;display:inline-block;vertical-align:-4px;margin-right:5px}
.toolbar input[type=checkbox]:checked + span:before,.toolbar input[type=checkbox] + span:before{position:absolute;width:18px;height:18px;border:1px solid #ccc;content:'';background:#fff}
.toolbar input[type=checkbox]:checked + span:before{background:#ff6801 url(../img/checkIco.png) no-repeat center  center;border-color:#ff6801}
.cargouwcarIco{background:#ff6800;display:inline-block;width:28px;height:28px;color:#fff;text-align:center;line-height:28px;border-radius:4px;font-size:18px;margin-right:10px}
.gwcarline{border-bottom:2px solid #ff6800;padding:10px 5px}
.gwcarline h1{font-size:16px;font-weight:normal}
.addboxc{background:url(../img/addbg.png) no-repeat;height:85px;overflow:hidden}
.addboxc dt{margin:10px 0 0 150px}
.addboxc dt a{font-family:'simSun';color:#666}
.addboxc dd{margin:18px 0 0 25px;font-family:'simSun';color:#666}
.addtitle{font-family:'simSun';font-size:14px;padding:10px 0 8px 0}
 dl.screenBox{border:#eee 2px solid;padding:12px 0 0 0;*padding-bottom:10px}
 dl.screenBox.noborder{border-bottom:0px;border-left:0px;border-top:0px;border-right:0px}
 dl.screenBox.goodstype{border-bottom:#e6e6e6 1px dashed}
 dl.screenBox dt{float:left;font-family:'simSun';color:#666}
 dl.screenBox dt{text-align:right;width:90px;height:22px;font-weight:bold;line-height:22px}
 dl.screenBox dd{position:relative;width:910px;float:left;}
 dl.screenBox dd a{line-height:14px;margin:0 18px 10px 0px;display:inline-block;color:#36c;text-decoration:none;color:#666;padding:4px 10px;float:left; white-space:nowrap;font-family:'simSun'}
 dl.screenBox dd a:first-child{padding:4px 6px}
 dl.screenBox dd a:hover{background:#f3edc2;color:#fc6800}
 dl.screenBox dd a.on{background:#fc6800;color:#fff}
.plrtxt{padding:0 5px}
.cartable td.borl{border-left:1px solid #cdcdcd}
.cartable td.borr{border-right:1px solid #cdcdcd}
.cartable > table .tr-bd-blue td{background:#f2f6ff;padding-top: 10px;padding-bottom:10px;border-top:1px solid #cdcdcd;font-size:14px;color:#666;}
.cartable > table .tr-bd-gray td{border-bottom: 1px solid #cdcdcd;}
.cartable > table .tr-bd-blue td span.bluetxt{padding-left:30px}
.cartable > table .tr-bd td{border-top:none}
.cartable > table .tr-bd-white td{background:#fff}
.cartable > table .tr-bd-gray td{background:#f7f7f7}
.cartable > table .tr-bd-gray td .coninputbox{width:220px}
.cartable > table .tr-bd-gray td .coninputbox input{height:26px;height:26px;padding-right:0;width:150px}
.cartable > table .tr-bd-gray td .coninputbox label{height:26px;line-height:26px}
.coninputbox{width:180px;float:left;margin-right:10px;*width:208px;*margin-right:5px;position:relative}
.coninputbox > label{float:left;height:22px;line-height:22px;padding-right:10px}
.coninputbox > i.ico{position:absolute;right:10px;top:0;color:#000;font-size:15px}
.laydate_body .laydate_box, .laydate_body .laydate_box *{margin:0; padding:0;}
.laydate-icon,
.laydate-icon-default,
.laydate-icon-yahui,
.laydate-icon-danlan,
.laydate-icon-qianhuang,
.laydate-icon-yalan,
.laydate-icon-dahong{height:22px; line-height:22px; padding-right:20px; background-repeat:no-repeat; background-position:right center;  background-color:#fff; outline:0;}
.laydate-icon-default{border:1px solid #C6C6C6; background-image:url(../skins/default/icon.png)}
.laydate-icon-yahui{border:1px solid #C6C6C6; background-image:url(../skins/yahui/icon.png)}
.laydate-icon-danlan{border:1px solid #B1D2EC; background-image:url(../skins/danlan/icon.png)}
.laydate-icon-qianhuang{border:1px solid #E7D7CB; background-image:url(../skins/qianhuang/icon.png)}
.laydate-icon-yalan{border:1px solid #34AADC; background-image:url(../skins/yalan/icon.png)}
.laydate-icon-dahong{border:1px solid #D91600; background-image:url(../skins/dahong/icon.png)}
.laydate_body .laydate_box{width:244px;*width:240px; font:12px '\5B8B\4F53'; z-index:99999999; *margin:-2px 0 0 -2px; *overflow:hidden; _margin:0; _position:absolute!important; background-color:#fff;}
.laydate_body .laydate_box li{list-style:none;}
.laydate_body .laydate_box .laydate_void{cursor:text!important;}
.laydate_body .laydate_box a, .laydate_body .laydate_box a:hover{text-decoration:none; blr:expression(this.onFocus=this.blur()); cursor:pointer;}
.laydate_body .laydate_box a:hover{text-decoration:none;}
.laydate_body .laydate_box cite, .laydate_body .laydate_box label{position:absolute; width:0; height:0; border-width:5px; border-style:dashed; border-color:transparent; overflow:hidden; cursor:pointer;}
.laydate_body .laydate_box .laydate_yms, .laydate_body .laydate_box .laydate_time{display:none;}
.laydate_body .laydate_box .laydate_show{display:block;}
.laydate_body .laydate_box input{outline:0; font-size:14px; background-color:#fff;}
.laydate_body .laydate_top{position:relative; padding:5px; *width:100%; z-index:99;}
.laydate_body .laydate_ym{position:relative; float:left;  cursor:pointer;}
.laydate_body .laydate_ym input{float:left; height:24px; line-height:24px; text-align:center; border:none; cursor:pointer;}
.laydate_body .laydate_ym .laydate_yms{position:absolute; left: -1px; top: 24px; height:181px;}
.laydate_body .laydate_y{width:125px;*width:121px; margin-right:6px;}
.laydate_body .laydate_y input{width:68px;*width:64px; margin-right:15px;}
.laydate_body .laydate_y .laydate_yms{width:125px; text-align:center;}
.laydate_body .laydate_y .laydate_yms a{position:relative; display:block; height:20px;}
.laydate_body .laydate_y .laydate_yms ul{height:139px; padding:0; *overflow:hidden;}
.laydate_body .laydate_y .laydate_yms ul li{float:left; width:60px; height:20px; line-height: 20px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.laydate_body .laydate_m{width:99px;}
.laydate_body .laydate_m .laydate_yms{width:99px; padding:0;}
.laydate_body .laydate_m input{width:42px; margin-right:15px;}
.laydate_body .laydate_m .laydate_yms span{display:block; float:left; width:42px; margin: 5px 0 0 5px; line-height:24px; text-align:center; _display:inline;}
.laydate_body .laydate_choose{display:block; float:left; position:relative; width:20px; height:24px;}
.laydate_body .laydate_choose cite, .laydate_body .laydate_tab cite{left:50%; top:50%;}
.laydate_body .laydate_chtop cite{margin:-7px 0 0 -5px; border-bottom-style:solid;}
.laydate_body .laydate_chdown cite, .laydate_body .laydate_ym label{top:50%; margin:-2px 0 0 -5px; border-top-style:solid;}
.laydate_body .laydate_chprev cite{margin:-5px 0 0 -7px;}
.laydate_body .laydate_chnext cite{margin:-5px 0 0 -2px;}
.laydate_body .laydate_ym label{right:28px;}
.laydate_body .laydate_table{ width:230px; margin:0 5px; border-collapse:collapse; border-spacing:0px; }
.laydate_body .laydate_table td{width:31px; height:19px; line-height:19px; text-align: center; cursor:pointer; font-size: 12px;}
.laydate_body .laydate_table thead{height:22px; line-height:22px;}
.laydate_body .laydate_table thead th{font-weight:400; font-size:12px;}
.laydate_body .laydate_bottom{position:relative;padding:5px; font-size:12px;height:30px}
.laydate_body .laydate_bottom #laydate_hms{position: relative; z-index: 1; float:left; }
.laydate_body .laydate_time{ position:absolute; left:5px; bottom: 26px; width:129px; height:125px; *overflow:hidden;}
.laydate_body .laydate_time .laydate_hmsno{ padding:5px 0 0 5px;}
.laydate_body .laydate_time .laydate_hmsno span{display:block; float:left; width:24px; height:19px; line-height:19px; text-align:center; cursor:pointer; *margin-bottom:-5px;}
.laydate_body .laydate_time1{width:228px; height:154px;}
.laydate_body .laydate_time1 .laydate_hmsno{ padding:0; *padding:4px 0 0 5px;}
.laydate_body .laydate_msg{left:49px; bottom:67px; width:141px; height:auto; overflow: hidden;}
.laydate_body .laydate_msg p{padding:5px 10px;}
.laydate_body .laydate_bottom li{float:left; height:20px; line-height:20px; border-right:none; font-weight:900;}
.laydate_body .laydate_bottom .laydate_sj{width:33px; text-align:center; font-weight:400;}
.laydate_body .laydate_bottom input{float:left; width:21px; height:20px; line-height:20px; border:none; text-align:center; cursor:pointer; font-size:12px;  font-weight:400;}
.laydate_body .laydate_bottom .laydte_hsmtex{height:20px; line-height:20px; text-align:center;}
.laydate_body .laydate_bottom .laydte_hsmtex span{position:absolute; width:20px; top:0; right:0px; cursor:pointer;}
.laydate_body .laydate_bottom .laydte_hsmtex span:hover{font-size:14px;}
.laydate_body .laydate_bottom .laydate_btn{position:absolute; right:5px; top:5px;}
.laydate_body .laydate_bottom .laydate_btn a{float:left; height:20px; padding:0 6px; _padding:0 5px;line-height:20px}
.laydate_body .laydate_bottom .laydate_v{position:absolute; left:10px; top:6px; font-family:Courier; z-index:0;}
.laydate-icon{border:1px solid #C6C6C6;width:110px; vertical-align:.2px;float:left;background:#fff;box-shadow:none;padding-left:5px;text-indent:0}

.laydate_body .laydate_box,
.laydate_body .laydate_ym,
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_table,
.laydate_body .laydate_table td,
.laydate_body .laydate_bottom #laydate_hms,
.laydate_body .laydate_time,
.laydate_body .laydate_bottom .laydate_btn a{border:1px solid #ccc;}

.laydate_body .laydate_y .laydate_yms a,
.laydate_body .laydate_choose,
.laydate_body .laydate_table thead,
.laydate_body .laydate_bottom .laydte_hsmtex{background-color:#F6F6F6;}

.laydate_body .laydate_box, 
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_time{box-shadow: 2px 2px 5px rgba(0,0,0,.1);}

.laydate_body .laydate_box{border-top:none; border-bottom:none; background-color:#fff; color:#333;}
.laydate_body .laydate_box input{color:#333;}
.laydate_body .laydate_box .laydate_void{color:#ccc!important; /*text-decoration:line-through;*/}
.laydate_body .laydate_box .laydate_void:hover{background-color:#fff!important}
.laydate_body .laydate_box a, .laydate_body .laydate_box a:hover{color:#333;}
.laydate_body .laydate_box a:hover{color:#666;}
.laydate_body .laydate_click{background-color:#eee!important;}
.laydate_body .laydate_top{border-top:1px solid #C6C6C6;}
.laydate_body .laydate_ym .laydate_yms{border:1px solid #C6C6C6; background-color:#fff;}
.laydate_body .laydate_y .laydate_yms a{border-bottom:1px solid #C6C6C6;}
.laydate_body .laydate_y .laydate_yms .laydate_chdown{border-top:1px solid #C6C6C6; border-bottom:none;}
.laydate_body .laydate_choose{border-left:1px solid #C6C6C6;}
.laydate_body .laydate_chprev{border-left:none; border-right:1px solid #C6C6C6;}
.laydate_body .laydate_choose:hover, 
.laydate_body .laydate_y .laydate_yms a:hover{background-color:#fff;}
.laydate_body .laydate_chtop cite{border-bottom-color:#666;}
.laydate_body .laydate_chdown cite, .laydate_body .laydate_ym label{border-top-color:#666;}
.laydate_body .laydate_chprev cite{border-right-style:solid; border-right-color:#666;}
.laydate_body .laydate_chnext cite{border-left-style:solid; border-left-color:#666;}
.laydate_body .laydate_table td{border:none;  height:21px!important; line-height:21px!important; background-color:#fff;}
.laydate_body .laydate_table .laydate_nothis{color:#999;}
.laydate_body .laydate_table thead{height:21px!important; line-height:21px!important; border-bottom:1px solid #ccc;}
.laydate_body .laydate_table thead th{}
.laydate_body .laydate_bottom{border-bottom:1px solid #C6C6C6;}
.laydate_body .laydate_bottom #laydate_hms{background-color:#fff;}
.laydate_body .laydate_time{background-color:#fff;}
.laydate_body .laydate_bottom .laydate_sj{border-right:1px solid #C6C6C6; background-color:#F6F6F6;}
.laydate_body .laydate_bottom input{background-color:#fff;}
.laydate_body .laydate_bottom .laydte_hsmtex{border-bottom:1px solid #C6C6C6;}
.laydate_body .laydate_bottom .laydate_btn{border-right:1px solid #C6C6C6;}
.laydate_body .laydate_bottom .laydate_v{color:#999}
.laydate_body .laydate_bottom .laydate_btn a{border-right:none; background-color:#F6F6F6;}
.laydate_body .laydate_bottom .laydate_btn a:hover{color:#000; background-color:#fff;}

.laydate_body .laydate_m .laydate_yms span:hover,
.laydate_body .laydate_y .laydate_yms ul li:hover,
.laydate_body .laydate_table td:hover{background-color:#F3F3F3}
.graytxt{color:#999;padding-left:30px}
.blacktxt{color:#333;padding:0 0 0 50px}
.bargrayspan span{padding-right:30px}
.bargrayspan span > strong{font-weight:normal}
.bargrayspan span.allpretxt > strong{font-weight:bold;font-size:18px}
.checkboxb{margin-top:0}
.checkboxb > input[type=checkbox]{left:0}
.checkboxb > input[type=checkbox] + span{margin:0}
.checkboxb > input[type=checkbox]:checked + span:before, .checkboxb > input[type=checkbox] + span:before{left:0}
.bg-grayw{background:#ededed;margin-top:20px}
.bg-grayw .toolbar{margin:18px 0 0 20px}
.bargrayspan .detailBtn{font:bold 15px/56px Microsoft YaHei;width:140px;height:56px;}
.starIcosc{position:absolute;right:0;top:50%;margin-top:-22px;font-size:26px}
.appendpath{border-bottom:1px solid #e9e9e9;padding-bottom:5px;}
.appendpath span{float:left;margin-right:5px}
a.pathbtnc{background:#a5a5a5;padding:0 5px 0 15px;font-size:12px;color:#fff;display:block;height:20px;font:normal 12px/20px simSun}
a.pathbtnc:hover{text-decoration:none;background:#999}
a.pathbtnc.onpathbtnc{background:#ff6600}
a.pathbtnc.onpathbtnc:hover{background:#eb5e00}
a.pathbtnc > i{ vertical-align:-2px;margin-left:5px}
.layui-layer-content .tableboxcol{padding:0}
.bgfffpa{padding:15px;padding-top:10px;background:#fff}
.bgfffpa table{background:#cdcdcd;color:#666;width:100%}
.bgfffpa table input{ vertical-align:middle;margin:-3px 5px 0 0}
.bgfffpa table td{background:#fff;padding:8px 0;text-align:center}
.bgfffpa table .tr-th th{background:#fafafa;padding:10px 0}
.bgfffpa table td p.txl{padding-left:13px}
.bluesubbtn{background:#2d913c;font-size:16px;color:#fff;height:32px;padding:0 25px;cursor:pointer;overflow:visible}
.bluesubbtn:hover{background:#0091eb}
.btnptbbox{padding:25px 0 10px 0}
.addbjpop{cursor:pointer}
.olxuh{padding:0 !important}
.olxuh > span.txc{display:inline-block;width:50px}
.orangebtn{background:#f76d02}
.orangebtn:hover{background:#e16401}
.btnptbbox.txr{padding-right:30px}
.btnptbbox.txr span{font-size:15px;padding-right:40px}
.bgfffpa.mainrbor-my > table{margin-bottom:15px}
.bgfffpa.mainrbor-my > table .tr-th {height:28px;line-height:28px}
.bgfffpa.mainrbor-my > table .tr-bd-gray td{padding:4px;background:#fafafa}
.bgfffpa.mainrbor-my table .tr-th th{color:#666;font-weight:bold;padding:1px 0}
.bgfffpa.mainrbor-my table .tr-bd-blue td{background:#f2f6ff}
.bgfffpa.mainrbor-my > table .tr-bd td{border-top:none;padding:4px 0}
.bgfffpa.mainrbor-my > table .tr-bd .txl{padding-left:20px}
.bgfffpa.mainrbor-my > table td{padding-top:4px;padding-bottom:4px;font-size:13px}
.bgfffpa.mainrbor-my > table .coninputbox > h1{padding-left:15px}
.popupsglist{padding:10px 0}
.popupsglist > li{float:left;width:390px;height:26px;line-height:26px}
.popupsglist > li > span{width:100px;text-align:right;display:inline-block;color:#999}
span.laydate-icon{position:relative}
input.laydate-icon{border:none;background:none;position:absolute;right:0;top:0;z-index:1;cursor:pointer;float:none;padding:0;width:105px}
.orangebg{background:#2d913c}
.zisbg{background:#a278b8}
.bluebgt{background:#098beb}
.select_ui .selectnone{padding:0;cursor:pointer}
.select_ui .selectnone > input{padding:5px 0 5px 10px;width:88px;overflow:hidden;text-overflow:ellipsis;background:none ;border:none}
.radioclass{width: 20px;
height: 20px;
display:block;
cursor: pointer;
text-align: center;
position:relative;
margin:0 auto;}
.radioclass >input[type=radio] + span:before {
width: 20px;
height: 20px;
display:block;
cursor: pointer;
text-align: center;
background-image: url(../img/radio.png);
background-repeat: no-repeat;
background-position:0 -22px;
position:absolute;top:0;left:0;
content:''
}
.radioclass > input[type=radio] {

cursor: pointer;
width: 20px;
height: 20px;
position:absolute;left:0;top:0;z-index:2
}
.radioclass >input[type=radio]:checked + span:before {
background-position:0 0;
}
.fixedbar{position:fixed;bottom:0;left:0;z-index:999}
.mainrbor-my.cartable{padding-bottom:66px}
.hidethead{width:1010px;z-index:9999}


.layer-ov {
    background: none repeat scroll 0 0 #fffcf7;
    border: 1px solid #ffc887;
    font-size: 12px;
    line-height: 1.6;
    padding: 6px 8px 6px 10px;
    position: absolute;
    right: 10px;
    top: 33px;
    width: 177px;
    z-index: 9999;
}
.J-shoping-title > p{height:36px;line-height:36px;padding:0 30px 0 0;text-align:right;margin:0;font-family:'Microsoft YaHei';color:#fff;font-size:13px}
.carcoubox{width:308px;border:1px solid #fd8701;top:36px;right:0;position:absolute;color:#666;display:none;background:#fff}
.carcoubox > h1{font-size:12px;color:#666;padding:10px;margin:0 0 -8px 0}
.carcoubox .prolist{margin:0;padding:0; list-style:none;position:relative;overflow-y:auto}
.carcoubox .prolist li{padding:8px 10px;overflow:hidden;border-bottom:1px dotted #ccc;position:relative;border-top:none;}
.carcoubox .prolist li img{vertical-align:middle;width:50px;height:50px;border:1px solid #ddd;padding:2px;display:block}
.carcoubox .prolist li > span{display:block;position:absolute;width:220px;left:73px;top:10px;font-size:12px}
.carcoubox .prolist.overyhi li > span{width:210px;}
.carcoubox .prolist > li > span > p{position:absolute;bottom:20px;left:0}
.carcoubox .prolist li p{color:#666;margin-top:2px}
.carcoubox .prolist li p > span{color:#ff6503;padding-left:5px}
.carcoubox .prolist li > span > a{color:#333;text-decoration:none;display:block;width:125px;line-height:1.4;font:normal 12px/1.4 Microsoft YaHei}
.carcoubox .prolist li a:hover{color:#ff6503}
.carcoubox .prolist li .itemspan{position:absolute;top:0;right:0;font:bold 12px/1.4 Arial;color:#666;text-align:right}
.carcoubox .prolist li .itemspan p a{font-weight:normal;color:#666;text-decoration:none}
.carcoufoter{background:#f5f5f5;margin:0;font-size:12px;position:relative;padding:8px;text-align:right}
.carcoufoter span{position:absolute;left:10px;text-align:left;top:14px}
.btngo{background:#ff8800;color:#fff;padding:6px 8px;text-decoration:none;display:inline-block}
.btngo:hover{background:#eb7d00;}
.carcoubox > .prolist.overyhi{height:364px;overflow-y: auto;}
#floatOrder{width:50px;height:50px;background:#fff;border:solid 5px #e54144;overflow:hidden;position:absolute;z-index:890;}
.Q-online{width:28px;height:20px;display:block;position:fixed;right:10px;bottom:13px;}
*html .Q-online{position:absolute;top:expression(eval(document.documentElement.scrollTop));margin:500px 0 0 0;}
.layer-ov{position:absolute;top:33px;right:10px;display:none;width:237px;border:1px solid #ffc887;background:#fffcf7;font-size:12px;line-height:1.6;padding:6px 8px 6px 10px;}
.lxgyslayer-ov{background:#fff;border-color:#98d7fa;padding:2px 8px;}
.lxgysico{background:url(../img/lxgysico.png) no-repeat;width:17px;height:17px;position:absolute;left:0;top:50%;margin-top:-8px;}
.lxgyslayer-ov ul li{position:relative;padding:0 0 0 22px;height:25px;line-height:25px;}
.lxgysmobile{background-position:left -24px;}
.lxgysemail{background-position:left -48px;}
.popinputc{padding:5px;width:200px;}
.zjlypopbox .select_ui .select_text_ui{width:150px;}
.zjlypopbox .bluesubbtn{height:30px;}
.layui-layer-content .zjlypopbox .profile .tithc{width:120px;}
.radiobox{margin:4px 30px 0 0;display:inline-block;}
.radiobox input{vertical-align:middle;margin:-3px 5px 0 0;}
.popupsglist.taoxiangqlist > li{width:300px;overflow: hidden;}
.changjwlmslist{margin:-8px 0}
.changjwlmslist li {padding:8px 0 8px 8px;border-bottom:1px solid #cdcdcd}
/*
.pace {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	z-index: 2000;
	position: fixed;
	margin: auto;
	right: 20px;
	bottom: 25px;
	width: 200px;
	height: 8px;
	border: 1px solid #000000;
	background-color: #fff;
}
.pace .pace-progress {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-transition: width 1s ease-in-out 1s linear;
	-moz-transition: width 1s ease-in-out 1s linear;
	-ms-transition: width 1s ease-in-out 1s linear;
	-o-transition: width 1s ease-in-out 1s linear;
	transition: width 1s ease-in-out 1s linear;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	max-width: 190px;
	position: fixed;
	z-index: 2000;
	display: block;
	position: absolute;
	left: 1px;
	top: 1px;
	height: 4px;
	font-size: 12px;
	background: #000000;
	color: #000000;
	line-height: 20px;
	font-weight: bold;
}
.pace .pace-progress:after {
	content: attr(data-progress-text);
	display: inline-block;
	margin-top: 5px;
	line-height: 20px;
	text-align: center;
}
.pace.pace-inactive {
	display: none;
}
*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}



/*flash*/
/*

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
*/

/*

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    width: 200px;
    background: #fff;
    border: 1px solid #29d;

    overflow: hidden;
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    max-width: 200px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #29d;
}

.pace.pace-inactive {
    display: none;
}


.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}
*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}
div.wrapper {
    margin: 0 auto;
    padding: 0;
    
    width: 1010px;

}
.blank6 {
    clear: both;
    display: block;
    font-size: 1px;
    height: 6px;
    overflow: hidden;
}
body a:hover {
    /*color: #FF6600 !important;*/
    transition: color 0.2s linear 0s, background-color 0.3s linear 0s;
}

.red {
    color: #FF6600;
}
body {
    /*background: url("../images/homepage/background.png") repeat-x scroll 0 0 #FFFFFF;*/
}
img {
    border: 0 none;
    /*background: url("../images/homepage/placeholder.png") repeat-x scroll center center transparent;*/
}
.none {
    display: none;
}
.indextipDD {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    left: 0;
    line-height: 35px;
    padding-left: 15px;
    position: absolute;
    width: 100px;
}
div.head {
    float: left;
    width: 980px;
    position: relative;
}
body {
    font-family: "微软雅黑";
}

div.headLeft {
    float: left;
    width: 325px;
}

div.headCenter {
    float: left;
    height: 70px;
    margin: 10px 0 0;
}

div.headRight {
    float: left;
    height: 70px;
    position: relative;
    padding: 10px 0 0;
    /*z-index: 99;*/
    width: 600px;
}

div.head img {
    vertical-align: middle;
    border-radius: 5px 5px 5px 5px;

}

.titleTop, .titleBottom {
    color: #006DAE;
    font-family: "微软雅黑";
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px
}

.titleBottom {
    font-size: 28px;
}

div.searchDiv {
    height: 100%;
    margin-left: 100px;
    position: relative;
    z-index: 100;
    padding: 5px 0 0;
}




.headBottom {
    background:#029cdc;
    clear: both;
    height:45px;
}

.titleList {
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 15px;
    font-weight: 700;
    height: 45px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.titleList li {
    float: left;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding:0 40px;
}

li.thProdCat {
    background: url("../images/homepage/u23_normal.png") repeat-x scroll 0 2px transparent;
    margin-right: 5px;
    text-align: left;
    width: 183px;
    position: relative;
}

div.bitLeft {
    float: left;
    height: 34px;
    line-height: 30px;
    text-align: center;
    text-indent: 25px;
    width: 150px;
}

li.thProdCat img {
    position: absolute;
    right: 25px;
    top: 10px;
    vertical-align: middle;
}

.currentBit {
    background:#0e86b8;
    color: #FFF;
}


div.searchInput {
    background: none;
    /*height: 28px;*/
    overflow: hidden;
    /*line-height: 28px;*/
    /*padding-left: 10px;*/
    color: #ddd;
    width: 498px;
    vertical-align: middle;
    /*border: 3px solid #0D306B;*/
    z-index: 11;
}

div.searchInput .inputText {
    margin: 0;
    background-color: #FFFFFF;
    color: #999999;
    font-size: 12px;
    height: 19px;
    line-height: 20px;
    padding: 5px;
    border: 3px solid #029cdc;
    border-right: 0 none;
    padding-left: 20px;
    background: url("../product/search.png") no-repeat scroll 2px center #FFFFFF;
    width: 400px;
}

div.searchInput .inputText:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset;
    outline: 0 none;
    transition: all 0.2s linear 0s;
}

div.searchInput .active {
    background:none;
    padding-left: 5px;
    width: 415px;
}
.form label, .searchInput input, .form select, .form textarea, .form button, .form .label {
    float: left;
}

.btn-img, .searchInput {
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

div.searchInput .inputsubmit {
    background: none repeat scroll 0 0 #029cdc;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    width: 64px;
}


#nv {
    font-size: 16px;
    text-align: left;
    padding-bottom: 3px;
    /*text-indent: 7px;*/
}

#nv b {
    color: #666;
    padding: 5px 6px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
}
#nv b.cur {
    background-color:#029cdc;
    color: #fff;
    cursor: default;
    transition: all 0.2s ease-in 0s;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
div.searchInput input {
    border: medium none;
    height: 35px;
    margin: 0;
    padding: 0;
}

.titleList li {
    cursor: pointer
}

/*页面最底部的样式*/
.footer a {
    color: #909090 !important;
    text-decoration: none;
}

.footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer {
    /*background: none repeat scroll 0 0 #018bff;*/
    background: url("../images/footer.jpg") repeat scroll 0 0 transparent;
    /*border: 1px solid #0358C2;*/
    clear: both;
    /*height: 80px;*/
    bottom: 0px;
    color: #ffffff;
    font-family: "宋体", Arial;
    font-size: 12px;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    /*width: 980px;*/
    margin:15px auto 0;
}

.footer p {
    color: #909090;
    margin-top: 10px;
}

.sim-select {

    background: url("../images/homepage/bg1px.png") no-repeat scroll 90px -218px #FFFFFF;
    border: 3px solid #0D306B;
    display: none;
    /*display: inline;*/
    border-right: 0 none;
    float: left;
    height: 28px;
    position: relative;
    z-index: 99;
    right: -4px;
    width: 92px;
}

.sim-select h3 {
    background: url("../images/homepage/icon.png") no-repeat scroll 75px -340px transparent;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    padding-left: 10px;
    width: 79px;
}

.sim-select ul {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    left: 0;
    background: none repeat scroll 0 0 #FFFFFF;
    position: absolute;
    top: 0;
    z-index: 100;
}

.sim-select ul li.over {
    background-color: #FFF6DD;
    color: #E77802;
}
.sim-select ul li {
    border-color: -moz-use-text-color #D0D0D0 #D0D0D0;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    height: 29px;
    font-size: 12px;
    line-height: 29px;
    padding-left: 16px;
    width: 74px;
}
.sim-select .sim-ul-flt {
    left: -1px;
    margin-top: -2px;
    position: absolute;
    z-index: 200;
}

/*
	加载样式
*/
.overlay{position:fixed;top:0;right:0;bottom:0;left:0;z-index:998;width:100%;height:100%;_padding:0 20px 0 0;background:#f9f9f9;display:none;}
.showbox{position:fixed;top:0;left:50%;z-index:9999;opacity:0;filter:alpha(opacity=0);margin-left:-80px;}
*html,*html body{background-image:url(about:blank);background-attachment:fixed;}
*html .showbox,*html .overlay{position:absolute;top:expression(eval(document.documentElement.scrollTop));}
#AjaxLoading{border:1px solid #8CBEDA;color:#37a;font-size:12px;font-weight:bold;}
#AjaxLoading div.loadingWord{width:180px;height:50px;line-height:50px;border:2px solid #D6E7F2;background:#fff;}
#AjaxLoading img{margin:10px 15px;float:left;display:inline;}

/*数量价格 超过时的警告提示的样式*/
.cart-tooltip {
    width: 150px;
}
.dialog {
    position: absolute;
    z-index: 1000;
}

.cart-tooltip .dialog-outer {
    background-color: #FFFDEE;
}
.dialog .dialog-outer {
    height: 100%;
    position: relative;
    width: 100%;
}

.cart-tooltip .dialog-inner {
    border: 1px solid #EDD28B;
    padding: 5px;
}
.cart-tooltip .dialog-bump {
    bottom: -10px;
    height: 11px;
    left: 0;
    width: 100%;
}
.dialog .dialog-bump {
    position: absolute;
    text-align: center;
    z-index: 1002;
}

.dialog .dialog-bump .dialog-arrow {
    display: block;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    overflow: hidden;
}
.cart-tooltip .dialog-arrow {
    background: url("../images/dz/dialog-arrow.png") no-repeat scroll 0 0 transparent;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="<%=basePath%>/dz/images/dis/img/dialog-arrow.png");
    _background-image:none;
    height: 11px;
    width: 18px;
}

.cart-tooltip .dialog-message a, .cart-tooltip .dialog-message a:visited, .cart-tooltip .dialog-message a:hover {
    color: #005EA7;
    font-weight:700;
}
.cart-tooltip .dialog-message {
    line-height: 18px;
    text-align: center;
}

.cart-tooltip-notice .dialog-outer {
    background-color: #FFE8E8;
}
.cart-tooltip-notice .dialog-inner {
    border: 1px solid #DB9A9A;
}
.cart-tooltip .dialog-notice {
    color: #CC0000;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
}
.cart-tooltip-notice .dialog-arrow {
    background-position: 0 -11px;
}

/*按钮的一些样式*/
.netCustom{
    /*background: url("../images/dz/info_product.png") no-repeat scroll -177px -40px transparent;*/
    cursor: pointer;
    font-style: normal;
    height: 20px;
    overflow: hidden;
    border: 0 none;
    line-height: 15px;
    text-align: center;
    width: 45px;
}

.nav {
    background: none repeat scroll 0 0 #0358C2;
    bottom: 0;
    /*margin-left: 491px;*/
    display: none;
    position: fixed;
    right: 0;
    z-index: 1999;
}
.nav li {
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    height: 35px;
    width: 28px;
    color: #fff;
    float: left;
    display: block;
    display: block;
    line-height: 35px;
    text-align: center;
}
.nav li .back{
    display: none;
}
.nav li.hover .back{
    display: block;
}
.nav li.pro {
    /*background-position: 0 0;*/
}
.nav li.busul {
    /*background-position: 0 -55px;*/
}
.nav li.dzul {
    /*background-position: 0 -105px;*/
}
.nav li.hasul {
    /*background-position: 0 -155px;*/
}
.nav li.hasul {
    /*background: url("icon.png") no-repeat scroll 0 0 transparent;*/
    /*background-position: 0 -207px;*/
}
.nav li.proindex {
    height: 35px;
    line-height: 35px;
    /*background: url("icon.png") no-repeat scroll 0 0 transparent;*/
    /*background-position: 0 0;*/
}

.nav li.cur {
    font-family: "Microsoft YaHei","microsoft sans serif";
    background-color: #007cc6;
    color: #FFFFFF;
    width: 28px;
}
.nav li.hover {
    font-family: "Microsoft YaHei","microsoft sans serif";
    background-color: #007cc6;
    color: #FFFFFF;
    margin-left: -30px;
    width: 59px;
}
.nav li.hover .front{ display: none}

.nav li:last-child {
    border-bottom: medium none;
}
.nav li.last {
    border-bottom: medium none;
}
/*头部Css样式*/

#top-headbar {
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    line-height: 30px;
    width: 100%;
    font-size: 12px;
}
#top-headbar, #top-headbar .w {
    background: none repeat scroll 0 0 #F7F7F7;
    /*height: 30px;*/
}.w {
     clear: both;
     margin: 0 auto;
     width: 980px;
 }
#top-headbar .fl, #top-headbar .fr {
    height: 30px;
    overflow: visible;
}
.lh li, .fl {
    float: left;
}
#top-headbar .fl, #top-headbar .fr {
    height: 30px;
    overflow: visible;
}
.fr {
    float: right;
}
.clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
#top-headbar li {
    height: 30px;
    padding: 0 11px 0 12px;
    position: relative;
}
#top-headbar li a{
    color: #666;
    text-decoration: underline;
}
.lh li, .fl {
    float: left;
}
#top-headbar li s {
    border-left: 1px solid #DDDDDD;
    height: 12px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 9px;
    width: 0;
}
.loading-in {
    background: none repeat scroll 0 0 #FFFDEE;
    border: 1px solid #EDD28B;
    height: 30px;
    line-height: 30px;
    width: 768px;
}
.loading-in div {
    background: url("../product/info/loading-ha.gif") no-repeat scroll 0 0 transparent ;
    color: #FF6600;
    height: 30px;
    margin: 0 auto;
    padding-left: 48px;
    text-align: left;
    font-size: 14px;
    width: 150px;
}
/*购物车头部css*/
.menucarIco{background:url(../images/car.png) no-repeat;width:145px;height:36px;position:absolute;right:0;top:5px;cursor:default}
.menucarIco > p{height:36px;line-height:36px;padding:0 30px 0 0;text-align:right;margin:0;font-family:'Microsoft YaHei';color:#fff;font-size:13px}
.carcoubox{width:308px;border:1px solid #fd8701;background:#fff;z-index:99999;top:36px;right:0;position:absolute;color:#666;display:none}
.carcoubox > h1{font-size:12px;color:#666;padding:10px;margin:0 0 -8px 0}
.prolistshop{margin:0;padding:0; list-style:none;height:364px;position:relative;font-size:12px;overflow-y:auto}
.prolistshop li{padding:8px 10px;overflow:hidden;border-bottom:1px dotted #ccc;position:relative;}
.prolistshop li img{vertical-align:middle;width:54px;height:70px;display:block}
.prolistshop .ftit{background:#f5f5f5;margin-bottom:5px;padding:5px;clear:both;position:relative;}
.prolistshop li > div p{ line-hight:24px;}
.prolistshop li > div p.fbold{ font-weight:800;}
.prolistshop li > div p.fno{ color:ddd;}
.prolistshop li > div p.fjg {position:absolute;right:5px;top:24px;}
.prolistshop li > div.iinfo {position:relative;margin-bottom: 5px; }
.prolistshop li > div.iinfo > .itembh{display:block;position:absolute;width:116px;left:70px;top:0px;font-size:12px;}
.prolistshop li > div.iinfo > .itemspan > i{font-style:normal}
.prolistshop li p{color:#666;margin-top:2px}
.prolistshop li p > span{color:#ff6503;padding-left:5px}
.prolistshop li > div.iinfo > .itembh > a{color:#888;text-decoration:none;display:block;width:125px;line-height:1.4;font:normal 12px/1.4 Microsoft YaHei}
.prolistshop li > div.iinfo > .itembh > a:hover{color:#ff6503}
.prolistshop li .itemspan{position:absolute;top:2px;right:0;font:12px/1.4 Arial;color:#f60;text-align:right;width:84px;}
.prolistshop li .itemspan i { color:#888}
.prolistshop li .itemspan p a{font-weight:normal;color:#888;text-decoration:none}
.carcoufoter{background:#f5f5f5;margin:0;font-size:12px;position:relative;padding:8px;text-align:right}
.carcoufoter span{position:absolute;left:10px;text-align:left;top:14px}
.btngo{background:#ff8800;color:#fff;padding:6px 8px;text-decoration:none;display:inline-block}
.btngo:hover{background:#eb7d00;}
.logoVendor{
    width: 26px;
    height: 17px;
}
.pagination{font-size:80%;float:right;}
.pagination a{text-decoration:none;border:solid 1px #ddd;color:#666666;border-radius:3px;}
.pagination a, .pagination span{display:inline-block;float:left;padding:4px 7px;margin-right:5px;margin-bottom:0px;border-radius:3px;}
.pagination .current{color:#ff6600;border:solid 1px #ddd;border-radius:3px;padding:4px 7px;}
.pagination .current.prev, .pagination .current.next{color:#999;border-color:#999;background:#fff;border-radius:3px;}



/*下面的分页组件的样式*/
.page span input {
    border: 1px solid #ddd;
    border-radius: 3px 3px 3px 3px;
}

.page span.unvisible {
    display: none;
}


.page s {
    top: 5px;
}

.page a {
    position: relative;
}

.page s {
    background-image: url("../images/page.png");
    background-repeat: no-repeat;
    height: 9px;
    overflow: hidden;
    position: absolute;
    width: 5px;
}

.page .prev-disabled s {
    background-position: -80px -11px;
    left: 3px;
}

.next-disabled,.prev-disabled {
    color: #858585 !important;
    cursor: default;
    background: none repeat scroll 0 0 #FFFFFF;

}

.page .prev s {
    background-position: -68px -11px;
    left: 3px;
}

.page .next s {
    background-position: -62px -11px;
    right: 3px;
}

.page .next-disabled s {
    background-position: -74px -11px;
    right: 3px;
}

/*分页组件的样式*/
.page {
    /*position: absolute;*/
    font-size: 12px;
    bottom: 2px;
    right: 0;
    float: right;
    padding: 10px 0 0;
    overflow: hidden;
    text-align: center;
}

.page a {
    border: 1px solid #CCDBE4;
    color: #004499;
    border-radius: 3px 3px 3px 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0 5px;
    overflow: hidden;
    float: left;
    padding: 3px 10px;
    height: 15px;
    line-height: 15px;
    text-decoration: none;
}

/*.page a.next,.page a.prev,.page a.next-disabled,.page a.prev-disabled{
    color: #004499;
}*/
.page a.click {
    border: 1px solid #FA6924;
    color: #FA6924;
}

.lookmore{
background-color: #0771df;
}