
<div ng-app="ActivityModule" ng-controller="activityController" style="font-size: 62.5%">
    <div class="ui-row bor-bottom-dfdfdf bg-col-f8f8f8 clear line-40">
        <div class="ui-col-10 fl-left" ng-click="returnHistory('',Paramsid,'')">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
        </div>
        <div class="ui-col-80 fl-left text-center text-col-333 font-16">
            积分抽奖
        </div>
    </div>
    <div class="centerbg position">
        <div class="activity_top">
            <img class="activity_top_img" ng-src="{{staticUrl}}images/activity_top.png" alt="">
        </div>
        <!--<div class="otherprizes">-->
        <!--<p class="font-16 prizesitem" ng-repeat="item in otherprizes"><img ng-src="{{staticUrl}}images/otherprizestip.png" alt="">{{item}}</p>-->
        <!--</div>-->
        <div class="otherprizes font-14 text-center">
            <ul>
                <li class="font-14" ng-repeat="list in prizeInfos" ng-init="datelast($last)"><img
                        ng-src="{{staticUrl}}images/otherprizestip.png" alt="">{{list.msg}}
                </li>
            </ul>
        </div>
        <div class="activitycenter_bg">
            <div ng-repeat="prize in prizes">
                <div class="onebox" ng-click="startlottery($index)">
                    <p class="prizename text-center">{{prize.name}}</p>
                    <img class="box_face" ng-src="{{staticUrl}}images/activityprize_face.png" alt="">
                    <img class="box_prize" ng-src="{{prize.imgUrl}}" ng-src="" alt="">
                </div>
            </div>
            <div class=" box_item_13">

            </div>
            <div class=" box_item_14">

            </div>
            <div class=" box_item_15">

            </div>
            <div class=" box_item_16">

            </div>
            <div class="activity_start" ng-click="startGet()">
                <img class="startchoose" ng-src="{{staticUrl}}images/activity_started.png" alt="">
            </div>
            <div class="turnlost text-center font-12">
                <p>{{leftturns}}</p>
            </div>
        </div>
        <div style="background-color:#f2d198;width: 100%;height:5%; ">

        </div>
        <div class="ui-row clear lineh-30 pt-10 pb-10 bg-col-fff font-14 text-col-fc652b text-center">
            <div class="ui-col-49 fl-left dis-inline lineh-30" ui-sref="history({'id':1,'type':Paramsid})">
                <img ng-src="{{staticUrl}}images/wrule.png" class="wimgs"> <span class="wrule">活动规则</span>
            </div>
            <div class="ui-col-49 fl-left dis-inline bor-left-ff4f79 lineh-30"
                 ui-sref="history({'id':2,'type':Paramsid})">
                <img ng-src="{{staticUrl}}images/wrecord.png" class="wimgs"> <span class="wrule">中奖记录</span>
            </div>
        </div>
    </div>

    <div ng-show="isclickstart" class="chooseTurns">
        <div class="activity_dialog">
            <div class="closechooseturns" ng-click="closemodel(1)">
                <img ng-src="{{staticUrl}}images/activityclose.png" alt="">
            </div>
            <div class="poufalogo text-center">
                <img ng-src="{{staticUrl}}images/xiaopulogo.png" alt="">  小浦观影
            </div>
            <div class="turnstips text-center font-20">
                选择翻{{myturn}}张
            </div>
            <div class="threetips">
                <div class="turnsSel font-20 text-center" ng-repeat="item in turns">
                    <div class="turnschoose" ng-click="chonseTurns($index)">
                        <img class="slect" ng-src="{{staticUrl}}images/selectturns.png" alt="">
                        <p class="turnsp font-14">翻{{item}}张</p>
                    </div>
                    <!--翻-->
                    <!--<select name="" id="" ng-model="myturn" ng-options="turn as turn for turn in turns"-->
                    <!--ng-change="changeindex()">-->
                    <!--</select>-->
                    <!--张-->
                </div>
            </div>
            <div class="text-center font-16" style="position: absolute;width: 100%;top:63%;color:#f78d2f;">
                每位用户每天只可参与一次抽奖活动
            </div>
            <div class="pointstic text-center  font-20 mt-10">

                <!--<div class="pointstic_left">-->
                <!--<img ng-src="{{staticUrl}}images/expendpoints.png" alt="">-->
                <!--</div>-->
                <div class="pointstic_right font-14">
                    <p >需消耗：{{needpoints}}积分</p>
                    <p>
                        您当前共：{{mypoints}}积分
                    </p>
                </div>

            </div>
            <div class="turensComfirm text-center font-16" ng-click="confirmTurns()">
                确定
            </div>
        </div>
    </div>
    <div id="verifyCodeDialog" class="ui-dialog ">
        <div class="verifybg" style="margin: 150px auto;width: 90%;position: relative">
            <div class="closevertiky" ng-click="closemodel(2)">
                <img ng-src="{{staticUrl}}images/activityclose.png" alt="">
            </div>
            <div class="poufalogo text-center">
                <img ng-src="{{staticUrl}}images/xiaopulogo.png" alt="">  小浦观影
            </div>
            <div style="padding-top:18%">
                <div class="item clear cvvtwo text-center" ng-show="!hasFastPay">
                    <div>
                        <span class="font-12">CVV2：</span><input style="border:0;border-bottom:1px solid #bdbdbd;"
                                                                 type="password" id="cvv2" ng-model="cvv2"
                                                                 placeholder="信用卡背面末三位数字"
                                                                 class="line-30  font-12"
                                                                 style="border: 1px solid #ccc;width: 105px;">
                    </div>
                </div>
                <div class="item vertikyc text-center">
                    <div class="font-14" style="position: absolute;left:2%;top:5%;line-height:30px;height:30px;width:20%">验证码：</div>
                    <form action="" method="post" name="payPassword" id="form_paypsw">
                        <div id="payPassword_container" class="alieditContainer clearfix" data-busy="0">
                            <div class="i-block" style="width: 100%">
                                <div class="i-block six-password">
                                    <input class="i-text sixDigitPassword" id="payPassword_rsainput" ng-model="password"
                                           type="number" autocomplete="off" required="required" value=""
                                           name="payPassword_rsainput" data-role="sixDigitPassword" tabindex=""
                                           maxlength="6" minlength="6" required="true">
                                    <div tabindex="0" class="sixDigitPassword-box" style="width:96%;">
                                        <i style="width: 16%; border-color: transparent;" class=""><b
                                                style="visibility: hidden;"></b></i>
                                        <i style="width:  16%;"><b style="visibility: hidden;"></b></i>
                                        <i style="width:  16%;"><b style="visibility: hidden;"></b></i>
                                        <i style="width:  16%;"><b style="visibility: hidden;"></b></i>
                                        <i style="width:  16%;"><b style="visibility: hidden;"></b></i>
                                        <i style="width:  16%;"><b style="visibility: hidden;"></b></i>
                                        <span style="width: 16.2%; left: 0; visibility: hidden;" id="cardwrap"
                                              data-role="cardwrap"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div ng-click="getcode()" class="getvercode" ng-show="isBtn">
                        获取验证码
                    </div>
                    <div ng-show="!isBtn" class="getvercode">{{code}}s</div>
                </div>
            </div>
            <div class="confirmimg" ng-click="success()">
                <img ng-src="{{staticUrl}}images/vertiyconfirm.png" alt="">
            </div>
        </div>
    </div>
    <div class="ui-dialog zjModel">
        <div class="zjModel-active">
            <div class="ui-dialog-bd">
                <div class="position ">
                    <img class="zj-bg" ng-src="{{staticUrl}}images/prizealert.png">
                    <div class="mt-10 prizelist font-20" ng-bind="codemsg">
                    </div>
                    <div class="prizeins text-center">
                        <p>
                            {{tipscode}}
                        </p>
                    </div>
                    <div ng-click="closeCode()" class="comfirmPrize"><img ng-src="{{staticUrl}}images/prizeright.png" alt=""></div>
                </div>
            </div>

        </div>
    </div>
    <div class="redpacmodel">
        <div class="allredmoney">
            <img class="zj-redpac" ng-src="{{staticUrl}}images/activity_clickredpac.png">
            <img class="zj-open" ng-click="openredpac()" ng-src="{{staticUrl}}images/activity_open.png">
        </div>
    </div>
    <div class="preciousmodel">
        <img class="precious" ng-src="{{staticUrl}}images/precious.png" alt="">
        <img ng-click="openprecious()" class="openprecious" ng-src="{{staticUrl}}images/openprecious.png" alt="">
    </div>
    <div class="preciousprizemodel">
        <img class="precious" ng-src="{{staticUrl}}images/preciousget.png" alt="">
        <img class="piecesorwords" alt="">
        <img ng-click="close(3)" class="comfrimprecious" ng-src="{{staticUrl}}images/preciouscomfirm.png" alt="">
        <p class="myprecioustips text-center mt-20 font-14">集齐"我就要小浦观影"即可召唤神龙兑换iphone7一部</p>
    </div>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>