
<div ng-app="MapModule" ng-controller="MapController">
    <div class="nav-mainf ui-row bg-col-f8f8f8 lineh-40 bor-bottom-dfdfdf">
        <div class="ui-col-18 fl-left" ng-click="returnHistory(ParamsName,Paramstype,Paramsid)">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
        </div>
        <div class="ui-col-53 fl-left text-center text-col-333 font-16">
            影院
        </div>
    </div>
    <section class="ui-container">
        <div id="allmap" class="font-12"></div>
    </section>
</div>
