
<div ng-app="DroiyanDirectionActivity" ng-controller="droiyanDirectionController" >
    <div class="text-center pt-10 pb-10" style="background-image: url('/images/activerulebothbg.jpg');
    background-size: cover; min-height: 500px; overflow: hidden" ng-style="dirbody">
        <div ng-style='direction1'><img ng-src="{{staticUrl}}images/bothsd1.png" style="width: 100%; height: 100%;"/></div>
        <div ng-style='direction2'><img ng-src="{{staticUrl}}images/bothsd2.png" style="width: 100%; height: 100%;"/></div>
        <div ng-style='direction2'><img ng-src="{{staticUrl}}images/bothsd3.png" style="width: 100%; height: 100%;"/></div>
        <img ng-src="{{staticUrl}}images/bothfyrbtn.png" class="ui-col-44 mt-45" ng-click="returns()"/>
    </div>
</div>