
<div ng-app="FilmsSearchModule" ng-controller="filmSearController">
    <div class="nav-mainf ui-row bg-col-f8f8f8 lineh-40 bor-bottom-dfdfdf">
        <div class="ui-col-18 fl-left">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"
               ng-click="returnHistory(ParamsName,Paramstype,Paramsid)"></i>
        </div>
        <div class="ui-col-65 fl-left text-center text-col-333 font-16">
            {{film.name}}
        </div>
    </div>
    <div ng-if="leng" class="bg-col-fff mt-40">
        <div class="hot-cinema bd-top-e5e5e5 pr-10" ng-repeat="cinema in  cinemas"
             ng-click="getCinemaDetail(cinema.id)">
            <div class="font-14 text-col-333 line-25 clear">
                <div class="ui-col-67 fl-left">{{cinema.name}}</div>
                <div class="ui-col-33 fl-left text-right">
                    <div class="text-right font-12 text-col-ff5400">￥<span
                            class="font-14">{{cinema.minJbzPrice}}</span>起</div>
                </div>
            </div>
            <div class="ui-row clear font-12 line-20 text-col-999">
                <div class="ui-col-70 fl-left">{{cinema.address}}</div>
                <div class="ui-col-30 fl-left">
                    <div class="text-right text-right">{{cinema.distance}}km</div>
                </div>
            </div>
            <div class="font-12 text-col-999 line-30 clear">
                <img class="cinemaimg fl-left" ng-repeat="imgiton in cinema.cinemaNames"
                     ng-src="{{staticUrl}}images/{{imgiton}}.png"/>
                <span class="fl-left"><span class="text-col-ff5400">{{cinema.compareCount}}</span>家比价</span>
            </div>
        </div>
    </div>
    <div ng-if="!leng" class="lineh-50 pt-10 mt-40 text-center">
        {{errormsg}}
    </div>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>
