<div ng-app="FilmDetailModule" ng-controller="filmDetailController">
    <div class="mb-40">
        <!--大图片-->
        <div ng-style="bgfilm" ng-show="videoShow" class="overhide">
            <div class="lineh-40">
                <i class="ui-icon-return icon-return dis-inline text-col-fff font-24 ml-5"
                   ng-click="returnHistory(ParamsName,Paramstype,Paramsid)"></i>
            </div>
            <div class="clear ml-10 mr-10">
                <div class="ui-col ui-col-30">
                    <div ng-show="isVideo" class="position" ng-click="getVideo()">
                        <img ng-style="minimg" ng-src="{{filmsg.bigImg}}">
                        <img class="video-icon" src="{{staticUrl}}images/video.png">
                    </div>
                    <img ng-style="minimg" ng-show="!isVideo" ng-src="{{filmsg.bigImg}}">
                </div>
                <ul class="ui-col ui-col-70 overhide text-col-dcdcdc font-12">
                    <li class="font-14 text-col-fff">{{filmsg.name}}</li>
                    <li class="text-col-ff5400" ng-if='Paramsid=="b81b0430338c43c1ac40a6f0ee719b0f"'>8.5分</li>
                    <li class="text-col-ff5400" ng-if='Paramsid!="b81b0430338c43c1ac40a6f0ee719b0f"'>{{filmsg.grade |
                        number:1 }}分
                    </li>
                    <li>
                        <span class="pr-5" ng-repeat="iton in dimensional">{{iton}}</span>
                    </li>
                    <li>
                        {{filmsg.category}} {{filmsg.duration}}
                    </li>
                    <li>{{filmsg.showDate}} <span class="pl-5">{{filmsg.area}}</span></li>
                </ul>
            </div>
        </div>
        <div class="position bigvideo" ng-style="bgfilm" ng-show="!videoShow">
            <i class="ui-icon-return icon-return dis-inline text-col-fff font-24 ml-5"
               ng-click="returnHistory(ParamsName,Paramstype,Paramsid)"></i>
            <video class="videon" ng-style="videontype" ng-src="{{videoMp}}" controls autoplay webkit-playsinline
                   playsinline>
                Your browser does not support the video tag.
            </video>
        </div>
        <!--简介-->
        <div class="bg-col-fff pt-10 pb-10">
            <div class="clear text-col-666 font-12 lineh-20" ng-if="filmsg.name.split('：')[0] =='金刚狼3'">
                <span class="fl-left ml-15 text-col-999">提示：</span>
                <span class="fl-left ui-col-75 line-20 text-col-ff7327">小学生及学龄前儿童应在家长陪同下观看</span>
            </div>
            <div class="clear text-col-666 font-12 lineh-30">
                <span class="fl-left ml-15 text-col-999">导演：</span>
                <span class="fl-left ui-col-75 line-30">{{filmsg.director}}</span>
            </div>
            <div class="clear text-col-666 font-12">
                <span class="fl-left ml-15 text-col-999">主演：</span>
                <span class="fl-left ui-col-75 line-20">{{filmsg.actors}}</span>
            </div>
            <div class="clear text-col-666 font-12 mt-10" ng-if="filmsg.info">
                <span class="fl-left ml-15 text-col-999">剧情：</span>
                <span class="fl-left ui-col-75 line-20 ui-nowrap" ng-show="Showmore"
                      ng-bind-html="filmsg.info | limitTo:30 | to_trusted "></span>
                <span class="fl-left ui-col-75 line-20" ng-show="!Showmore"
                      ng-bind-html="filmsg.info | to_trusted "></span>
                <div class="text-center ui-col-90 pb-10" ng-click="changeShow()"><img ng-src="{{imgup}}"
                                                                                      class="showmoreimg"/></div>
            </div>
        </div>
        <!--剧照-->
        <div class="bg-col-fff mt-10 pt-5">
            <div class="nav-detail font-14 text-col-333">剧照</div>
            <div class="mt-10 ml-15 mr-15 pb-10">
                <div class="swiper-container swiper-small swiper-film-detail ">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide" ng-repeat="img in filmsg.photo track by $index "
                            ng-init="checkLast($last)">
                            <img ng-src="{{img}}" class="smallimg">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  &lt;!&ndash;最热评论&ndash;&gt;
          <div class="bg-col-fff mt-10 pt-5">
              <div class="nav-detail font-14 text-col-333">最热评论</div>
              <div class="mt-5">sdfsdf</div>
          </div>-->
        <!--最新评论-->
        <div class="bg-col-fff mt-10 pt-5">
            <div class="nav-detail font-14 text-col-333">最新评论</div>
            <div class="mt-5 ml-15 mr-15 font-12 bor-bottom-dfdfdf" ng-if="!limeiShow" ng-repeat="hot in hotComments">
                <p class="text-col-ff5400 lineh-25">{{hot.nick}}</p>
                <p class="text-col-333 line-20">{{hot.content}}</p>
                <ul class="text-col-999 clear lineh-40 pr-15">
                    <li class="ui-col-50 fl-left">
                        {{hot.time.split(' ')[0]}}
                    </li>
                    <li class="ui-col-50 fl-left text-right">
                        <img ng-src="{{staticUrl}}images/zan.png" class="imgzan"/>{{hot.approve}}
                    </li>
                </ul>
            </div>
            <div ng-if="limeiShow">
                <div class="mt-5 ml-15 mr-15 font-12 bor-bottom-dfdfdf">
                    <p class="text-col-ff5400 lineh-25">是梦不是懵</p>
                    <p class="text-col-333 line-20">我忘了取票，明天我决定再去看一次</p>
                    <ul class="text-col-999 clear lineh-40 pr-15">
                        <li class="ui-col-50 fl-left">
                            2017-06-09
                        </li>
                        <li class="ui-col-50 fl-left text-right">
                            <img ng-src="{{staticUrl}}images/zan.png" class="imgzan"/>61
                        </li>
                    </ul>
                </div>
                <div class="mt-5 ml-15 mr-15 font-12 bor-bottom-dfdfdf">
                    <p class="text-col-ff5400 lineh-25">一点依墙</p>
                    <p class="text-col-333 line-20">不随一般的青春剧，虽然平淡，但更显真实，青春就是让你张扬的笑，也给你莫名的痛 </p>
                    <ul class="text-col-999 clear lineh-40 pr-15">
                        <li class="ui-col-50 fl-left">
                            2017-06-14
                        </li>
                        <li class="ui-col-50 fl-left text-right">
                            <img ng-src="{{staticUrl}}images/zan.png" class="imgzan"/>23
                        </li>
                    </ul>
                </div>
                <div class="mt-5 ml-15 mr-15 font-12 bor-bottom-dfdfdf">
                    <p class="text-col-ff5400 lineh-25">AYv300477561</p>
                    <p class="text-col-333 line-20">
                        一个人的盛宴，穿越时光，昨日重现，小清新，小情愫满满的蕴藏在整部电影中，有些事情意会就可以了，无需言传，退去浮华，避开复杂，远离浮躁，享受当下就好</p>
                    <ul class="text-col-999 clear lineh-40 pr-15">
                        <li class="ui-col-50 fl-left">
                            2017-06-09
                        </li>
                        <li class="ui-col-50 fl-left text-right">
                            <img ng-src="{{staticUrl}}images/zan.png" class="imgzan"/>21
                        </li>
                    </ul>
                </div>
                <div class="mt-5 ml-15 mr-15 font-12 bor-bottom-dfdfdf">
                    <p class="text-col-ff5400 lineh-25">bST670180852</p>
                    <p class="text-col-333 line-20">满满的校园青春爱情回忆。演员们用朴实简单的表演，让我回到了高中。剧情简单，但却让人回味。结尾的21521悬念，让我感动！</p>
                    <ul class="text-col-999 clear lineh-40 pr-15">
                        <li class="ui-col-50 fl-left">
                            2017-06-14
                        </li>
                        <li class="ui-col-50 fl-left text-right">
                            <img ng-src="{{staticUrl}}images/zan.png" class="imgzan"/>16
                        </li>
                    </ul>
                </div>
                <div class="mt-5 ml-15 mr-15 font-12 bor-bottom-dfdfdf">
                    <p class="text-col-ff5400 lineh-25">仅一宝宝</p>
                    <p class="text-col-333 line-20">
                        很准确地描绘出了，中国大部分人的高中生涯情景，没有轰轰烈烈的那些爱恨情仇，没有错综复杂的那些人物关系。对于较喜欢剧情感的观众来说，可能有点无味，但我们的青春就是这样，在默默无闻中改变，那一些些对于爱情的憧憬，在平淡中开始，平淡中结束。但至少电影还是给了我们一个快乐的结局。</p>
                    <ul class="text-col-999 clear lineh-40 pr-15">
                        <li class="ui-col-50 fl-left">
                            2017-06-09
                        </li>
                        <li class="ui-col-50 fl-left text-right">
                            <img ng-src="{{staticUrl}}images/zan.png" class="imgzan"/>16
                        </li>
                    </ul>
                </div>
                <div class="mt-5 ml-15 mr-15 font-12 bor-bottom-dfdfdf">
                    <p class="text-col-ff5400 lineh-25">小懒虫</p>
                    <p class="text-col-333 line-20">当你仰望星空，你以为你在看星星，其实星星也在看你，青春爱情青涩而甜蜜，很离职，加油，不负青春</p>
                    <ul class="text-col-999 clear lineh-40 pr-15">
                        <li class="ui-col-50 fl-left">
                            2017-06-13
                        </li>
                        <li class="ui-col-50 fl-left text-right">
                            <img ng-src="{{staticUrl}}images/zan.png" class="imgzan"/>15
                        </li>
                    </ul>
                </div>
                <div class="mt-5 ml-15 mr-15 font-12 bor-bottom-dfdfdf">
                    <p class="text-col-ff5400 lineh-25">眼睛的感觉</p>
                    <p class="text-col-333 line-20">喜欢张子枫，所以去看的，演技确实不错，剧情一般吧，还好</p>
                    <ul class="text-col-999 clear lineh-40 pr-15">
                        <li class="ui-col-50 fl-left">
                            2017-06-09
                        </li>
                        <li class="ui-col-50 fl-left text-right">
                            <img ng-src="{{staticUrl}}images/zan.png" class="imgzan"/>13
                        </li>
                    </ul>
                </div>
                <div class="mt-5 ml-15 mr-15 font-12 bor-bottom-dfdfdf">
                    <p class="text-col-ff5400 lineh-25">kkyrc</p>
                    <p class="text-col-333 line-20">
                        一群无良的水军！那些上来就打一分的，你们真的看过吗？如果真有这么烂，你是怎么看到结尾的？那些说没有剧情的，我要问问你：你的青春是轰轰烈烈的吗？要跌宕起伏的剧情你去看琼瑶剧好了，平平淡淡才是都是绝大多数人的青春啊！虽然这部片子有各种各样的瑕疵，但觉没有那些水军说的那么差！</p>
                    <ul class="text-col-999 clear lineh-40 pr-15">
                        <li class="ui-col-50 fl-left">
                            2017-06-11
                        </li>
                        <li class="ui-col-50 fl-left text-right">
                            <img ng-src="{{staticUrl}}images/zan.png" class="imgzan"/>12
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="ui-footer text-col-fff lineh-40 font-14 text-center bg-col-00a6ff"
            ng-click="getAllCinema(filmsg.id)">
        购票
    </footer>
    <!--Big-->
    <div class="ui-dialog imgModel" style="background-color: #000" ng-click="close()">
        <!-- <div class="dialog-img overhide" style=" position: fixed; top: 19%; height: 50%;">
             <h1 class="font-18 text-col-fff text-right pr-10" ng-click="close()">X</h1>

             <img ng-src="{{oneimg}}" style="width: 100%;vertical-align:middle;"/>


         </div>-->
        <div class="dialog-img overhide" style=" position: fixed; top:10%; width: 100%">
            <h1 class="font-18 text-col-fff text-center pb-10 pr-10 " ng-click="close()">{{curindex}}/{{pageImgNum}}</h1>
            <div class="swiper-container swiper-big swiper-film-detail">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide" ng-repeat="img1 in filmsg.photo track by $index" ng-init="checkLast1($last)">
                        <img ng-src="{{img1}}" style="width: 100%">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>
