<div ng-app="GuessModule" ng-controller="GuessController">
    <section>
        <div class="nav-mainf ui-row bg-col-f8f8f8 line-40 bor-bottom-dfdfdf">
            <div class="ui-col-10 fl-left" ng-click="returnHistory('',5,'')">
                <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
            </div>
            <div class="ui-col-80 fl-left text-center text-col-333 font-16">
                票房竞猜领奖
            </div>
        </div>
        <div class="bg-col-fff pb-10">
            <div class="clear ui-row guesslist">
                <img ng-src="{{staticUrl}}images/bgcai.png"/>
                <div class="fl-left">
                    票房竞猜领奖
                </div>
            </div>
            <div class="ml-15 mr-15 mt-10 pb-10 lineh-30 clear bor-dfdfdf ui-border-radius">
                <input type="text" class="lineh-30 fl-left pt-5 ui-col-60 ml-10 bor-none"
                       placeholder="请输入活动ID号" ng-model="noticenum"/>
                <button class="guessbtn bg-col-0066cc fl-right ui-col-30 text-center text-col-fff lineh-40"
                        ng-click="noticeDialog()">兑换</button>
            </div>
            <p class="mt-20 line-30 pl-10 pr-10 text-col-ff7327 font-12">活动ID兑换成功后，免费观影券将发放至“我的奖励”中</p>
        </div>
    </section>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>