
<div ng-app="MaoyanSeatModule" ng-controller="SeatMaoyanController" id="seatCount">
    <section>
        <div class="ui-row bor-bottom-dfdfdf clear line-40">
            <div class="ui-col-10 fl-left" ng-click="returnHistory('cinemadetail',Paramstype,Paramsid)">
                <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
            </div>
            <div class="ui-col-80 fl-left text-center text-col-333 font-16">
                {{filmName}}
            </div>
        </div>
        <div class="bg-col-fff ui-row bor-bottom-dfdfdf claer text-col-666 seat-tip">
            <div class="">{{showDate[1]}}/{{showDate[2]}}</div>
            <div class="bor-left-666666">{{showTime}}</div>
            <div class="bor-left-666666">{{filmtype}}</div>
            <div class="bor-left-666666"><span class="text-col-ff5400 font-14">￥{{jbzPrice}}</span>/张</div>
        </div>
        <div class="bg-col-fff line-30 ui-row bor-bottom-dfdfdf clear seat-tip-img">
            <div class="fl-left ui-col-33"><img src="https://static.idoupiao.com/images/btn-white.png"/>可选</div>
            <!--<div class="fl-left ui-col-33"><img src="{{staticUrl}}images/btn-white.png"/>可选</div>-->
            <div class="fl-left ui-col-33"><img src="https://static.idoupiao.com/images/btn-green.png"/>已选</div>
            <div class="fl-left ui-col-33"><img src="https://static.idoupiao.com/images/btn-red.png"/>已售</div>
        </div>
        <div class="ui-col-70 lineh-25 text-center bg-col-cacaca text-col-fff font-12"
             style="margin-left: 15%; margin-right: 15%;">{{cinameName}}{{hallNum}}
        </div>
    </section>
    <div id="seatWrapper" class="position">
        <div id="wrapper">
            <div id="scroller">
                <div class="clear" ng-repeat="section in sectionarr">
                    <div id="centerLine"></div>
                    <div class="text-center mt-30">
                        <span>银幕中央</span>
                    </div>
                    <div class="fl-left bg-col-cacaca ui-border-radius15 radius ml-15">
                        <ul class="mt-20 mb-20 seat-num font-14 text-center  text-col-fff">
                            <li ng-repeat="row in section.rowseat" ng-style="rowIds"> {{$index+1}}</li>
                        </ul>
                    </div>
                    <div class="fl-left mt-20 pb-30" id="seats">
                        <div class="seat-row">
                            <ul ng-repeat="row in section.rowseat" class="seat-column clear"
                                repeat-finish="initScroll()">
                                <li ng-repeat="colum in section.maxColumn" ng-style="seatTd">
                                    <div ng-show="section.seatMap['{{row+1}}:{{colum+1}}'].status!='E'">
                                        <div ng-show="section.seatMap['{{row+1}}:{{colum+1}}'].status=='L' ||
                                         section.seatMap['{{row+1}}:{{colum+1}}'].status=='R'">
                                            <img ng-src="{{staticUrl}}images/{{section.active[row][colum]}}.png"
                                                 ng-click="checkSeat($parent.$parent.$index,row,colum)"/>
                                        </div>
                                        <div ng-show="section.seatMap['{{row+1}}:{{colum+1}}'].status=='N'">
                                            <img ng-src="{{staticUrl}}images/{{section.active[row][colum]}}.png"
                                                 ng-click="checkSeat($parent.$parent.$index,row,colum)"/>
                                        </div>
                                        <div ng-show="section.seatMap['{{row+1}}:{{colum+1}}'].status=='LK'">
                                            <img src="{{staticUrl}}images/btn-red.png"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="seat-column clear">
                        <li ng-style="seatTd"></li>
                    </ul>
                    <ul class="seat-column clear">
                        <li ng-style="seatTd"></li>
                    </ul>
                    <ul class="seat-column clear">
                        <li ng-style="seatTd"></li>
                    </ul>
                    <ul class="seat-column clear">
                        <li ng-style="seatTd"></li>
                    </ul>
                    <ul class="seat-column clear">
                        <li ng-style="seatTd"></li>
                    </ul>
                    <ul class="seat-column clear">
                        <li ng-style="seatTd"></li>
                    </ul>
                    <ul class="seat-column clear">
                        <li ng-style="seatTd"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="seatbom text-col-333">
        <div class='font-12'>
            <p class='pl-15'>已选影片<span class="text-col-989898">(每个订单最多购买{{changeNum}}张)</span></p>
            <div class="ui-row ml-15 mr-15 mt-10">
                <button class="bor-dfdfdf mb-10 mr-5 pl-10 pr-10 line-20 ui-border-radius2" ng-repeat="seat in seatNum">
                    {{seat.rowId}}排{{seat.columnId}}座
                </button>
            </div>
        </div>
        <footer class="ui-footer ui-row film-deital-footer bor-top-dfdfdf">
            <div class="bg-col-fff lineh-40">
                <div class="fl-left ui-col-65 line-40 pl-10">支付金额：
                    <span class="font-14 text-col-ff5400">
                    ￥{{jbzPrice*ticknum}}
                     </span>
                </div>
                <div class="fl-right  ui-col-33 ml-5 bg-col-ff5400">
                    <div class="borimg fl-left"></div>
                    <div class="fl-left buytickit g-col-ff5400" ng-click="seatMaps()">确认选座</div>
                </div>
            </div>
        </footer>
    </div>
    <!--    <section ng-show="!isSeat">
            <div class="bg-col-0066cc text-col-fff line-50 text-center font-16">
                <i class="ui-icon-return icon-return dis-inline text-col-fff" ng-click="retunts()"></i>{{cinameName}}
            </div>
            <div class="line-60 text-center">{{text}}</div>
        </section>-->
    <div class="ui-dialog telModel">
        <div class="ui-dialog-cnt dialog-seat bg-col-fff">
            <div class="ui-dialog-bd">
                <div>
                    <h4 class="text-center">取票码短信接收手机号</h4>
                    <div class="mt-10 bor-8e8e93 line-30"><input
                            class="ui-col-100 lineh-30 ui-border-radius2 bor-dfdfdf text-center" type="number"
                            ng-model="tel" ng-pattern="/^1[3|4|5|7|8]\d{9}$/">
                    </div>
                </div>
            </div>
            <div class="ui-dialog-ft ">
                <button type="button" ng-click="closeDialog()">关闭</button>
                <button type="button" ng-click="Dialog()">确认</button>
            </div>
        </div>
    </div>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>
