
<div ng-app="MypieceModule" ng-controller="MypieceController">
    <div class="nav-mainf ui-row bg-col-f8f8f8 line-40 bor-bottom-dfdfdf">
        <div class="ui-col-20 pl-15 fl-left text-col-333" ng-click="returnHistory('',5,'')">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5" ui-sref="activity({'id':Paramstype})"></i>
        </div>
        <div class="ui-col-53 fl-left text-center text-col-333 font-16">
            实物奖励
        </div>
    </div>
    <div class="piecesbg position overhide">
        <div ng-style="wkhistory" class="overhide"></div>
        <div class="pieces_items"  ng-style="wkcount">
            <div class="itempiece overhide" ng-repeat="pieces in weeklist" >
                <div class="ui-row-flex ui-whitespace">
                    <div class="ui-col"><img style="width: 100%;vertical-align: middle" ng-src="{{pieces.imgUrl}}"
                                             alt=""></div>
                    <div class="ui-col ui-col-2">
                        <p class="font-20" style="color: #de584d;height:50%">获得一张{{pieces.name}}</p>
                        <p class="font-14" style="color: #fe5a00;height:25%"> 集齐"我就要小浦观影"</p>
                        <p class="font-14" style="color: #fe5a00;height:25%;">即可兑换iphone7一部</p></div>
                </div>
            </div>
        </div>
        <div infinite-scroll="myPagingFunction()" infinite-scroll-distance="0"></div>
        <div class="text-center havenoprize" ng-if="prizeCount==0">
            {{errormessage}}
        </div>
    </div>
</div>
<footer class="ui-footer ui-footer-stable ui-border-t" style="box-shadow: 0px -2px 5px rgba(0, 0, 0, .6);">
    <div class="ui-flex ui-flex-pack-center ui-flex-align-center mt-10 font-16 text-col-00a6ff"
         ui-sref="freenotice({'id':3)">
        <li class="ui-icon-order dis-inline font-20 line-20 text-col-00a6ff"></li>
        <u>活动细则</u>
    </div>
</footer>
<div ng-if="weekCount==0" class="lineh-50 mt-45 pt-10 text-center">{{errormsg}}</div>
<loading-view ng-hide="dialogIsHidden"></loading-view>
<error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>
