
<div ng-app="myShopModule" ng-controller="myShopController">
    <div class="nav-mainf ui-row bg-col-f8f8f8 lineh-40 bor-bottom-dfdfdf">
        <div class="ui-col-25 fl-left" ui-sref="main">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-10"></i>
        </div>
        <div class="ui-col-50 fl-left text-center text-col-333 font-16">
            周边商城
        </div>
    </div>
    <div class="swiper-container hot-rec shopHotBanner position" ng-style="hotrec" style="position: relative; top: 45px;" ng-if="banners">
        <!-- Swiper -->
        <div class="swiper-wrapper">
            <div class="swiper-slide" repeat-finish="checkLastBanner()" ng-repeat="simg in banners">
                <a href="{{simg.link}}"> <img ng-style="hotrec"
                                              ng-src="{{simg.imgUrl}}"/></a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination shopHotBanner-container-id" id="swiper-container-id">
            <span class="swiper-pagination-bullet" repeat-finish="checkLastBanner()"
                  ng-repeat="simg in banners"></span>
        </div>
    </div>
    <!--热门快捷图标-->
    <ul class="ui-justify bg-col-fff mt-45 height-65 overhide pt-10">
        <li class="ui-col-25 nav-top" ng-repeat="categories in hotCategories"
            ui-sref="shoplist({id:categories.id,type:'priority'})">
            <div><img ng-src="{{categories.imgUrl}}"></div>
            <p style="font-size:12px;">{{categories.name}}</p>
        </li>
    </ul>
    <!--热映推荐-->
    <div class="nav-title mt-10 clear" ui-sref="shoplist({id:'',type:''})">
        <span class="line-40 fl-left font-weight">热门推荐</span>
        <div class="ui-col-20 fl-right text-right pr-10 text-col-999 font-12">全部<img class="nav-more"
                                                                                     ng-src="{{staticUrl}}images/r.png"/>
        </div>
    </div>

    <div class="bg-col-fff">
        <div class="swiper-container swiper-containerimg" style="top: 0;">
            <ul class="swiper-wrapper ui-justify ui-whitespace">
                <li class="swiper-slide swiper-slide-shop" repeat-finish="hotimg()" ng-init="checkLast($last)"
                    ng-repeat="goods in hotGoods track by $index " ui-sref="shopproduct({'id':goods.id})">
                    <div><img ng-style="swiperimg" ng-src="{{goods.hotImg}}"></div>
                    <div class="text-col-333 lineh-20 overhide font-12">{{goods.title}}</div>
                    <div class="text-col-ff5400 font-14">{{goods.lowPrice/100|number:2}}</div>
                </li>
            </ul>
        </div>
    </div>

    <!--   <ul class="ui-justify ui-whitespace bg-col-fff height-110 overhide">
           <li class="ui-col-25 nav-img" ng-repeat="goods in hotGoods" ui-sref="shopproduct({'id':goods.id})">
               <div><img ng-src="{{goods.mainUrl}}"></div>
               <p class="text-col-333">{{goods.title}}</p>
               <p class="text-col-ff5400">{{goods.lowPrice}}</p>
           </li>
       </ul>-->
    <!---->
    <div class="mb-55">
        <div ng-repeat="obj in subjectDatas " ng-if="obj.goods">
            <div class="nav-title clear mt-10" ui-sref="shoplist({id:obj.subject.id,type:'subject'})">
                <span class="line-40 fl-left">{{obj.subject.name}}</span>
                <div class="ui-col-20 fl-right text-right pr-10 text-col-999 font-12">全部<img class="nav-more"
                                                                                             ng-src="{{staticUrl}}images/r.png"/>
                </div>
            </div>
            <div class="bg-col-fff bor-top-dfdfdf bor-bottom-dfdfdf clear font-weight">
                <ul class="ui-justify ui-whitespace bg-col-fff fl-left ui-col-40 bor-right-dfdfdf"
                    ui-sref="shopproduct({'id':obj.goods[0].id})">
                    <li class="ui-col-100 bigshow">
                        <div class="text-col-333 font-12  pl-15 lineh-20 mb-10 overhide" style="text-align: left">
                            {{obj.goods[0].description}}
                        </div>
                        <div><img ng-style="mainimgH" ng-src="{{obj.goods[0].mainUrl}}"></div>
                    </li>
                </ul>
                <div class="fl-left clear ui-col-60">
                    <div class="clear  pr-5" ui-sref="shopproduct({'id':obj.goods[1].id})">
                        <div class="fl-left ui-col-60 pt-10">
                            <div class="text-col-333 font-12 mt-5 lineh-20 ml-15 overhide">{{obj.goods[1].description}}
                            </div>
                        </div>
                        <div class="fl-left ui-col-40 rightimg pt-10"><img ng-style="imgH"
                                                                           ng-src="{{obj.goods[1].mainUrl}}"></div>
                    </div>
                    <div class="clear bor-top-dfdfdf  pr-5" ui-sref="shopproduct({'id':obj.goods[2].id})">
                        <div class="fl-left ui-col-60 pt-10">
                            <div class="text-col-333 font-12 mt-5 lineh-20 ml-15 overhide">
                                {{obj.goods[2].description}}
                            </div>
                        </div>
                        <div class="fl-left ui-col-40 pt-10 rightimg"><img ng-style="imgH"
                                                                           ng-src="{{obj.goods[2].mainUrl}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer-view typenum="pagetype" new-page="getFooter(page)"></footer-view>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>

    <span style="display: none"
          id="cnzz_stat_icon_1261983316">
    </span>
    <script src="https://s13.cnzz.com/z_stat.php?id=1261983316 "
            type='text/javascript'>
    </script>
    <!--<script type="text/javascript">-->
    <!--var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");-->
    <!--document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1261983316'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1261983316 ' type='text/javascript'%3E%3C/script%3E"));-->
    <!--</script>-->
</div>
