
<div ng-app="OneCodeModule" ng-controller="OneCodeController">
    <section>
        <div class="nav-mainf ui-row bg-col-f8f8f8 line-40 bor-bottom-dfdfdf">
            <div class="ui-col-10 fl-left" ui-sref="find">
                <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
            </div>
            <div class="ui-col-80 fl-left text-center text-col-333 font-16">
                奖品兑换
            </div>
        </div>
        <div class="bg-col-fff pb-10">
            <div class="clear ui-row guesslist">
                <img ng-src="{{staticUrl}}images/onecodeimg.png"/>
                <div class="fl-left">
                    <p class="line-30 mt-20">浦大喜奔APP<br>签到奖品兑换</p>
                </div>
            </div>
            <div class="ml-15 mr-15 mt-10 pb-10 lineh-30 clear bor-dfdfdf ui-border-radius">
                <input type="text" class="lineh-30 fl-left pt-5 ui-col-60 ml-10 bor-none" placeholder="请输入兑换码" ng-model="noticenum"/>
                <button class="guessbtn bg-col-0066cc fl-right ui-col-30 text-center text-col-fff lineh-40" ng-click="noticeDialog()">兑换</button>
            </div>
            <p class="mt-20 line-20 pl-10 pr-10 text-col-ff7327 font-12">*活动兑换号兑换成功后，1元观影券将发放至“我的奖励”中。观影券有效期1个月。</p>
            <p class="mt-5 line-20 pl-10 pr-10 text-col-ff7327 font-12">*活动参与方式：登录“浦大喜奔”APP，参与签到抽奖活动，即有机会获得1元观影券兑换码。</p>
        </div>
    </section>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>