<div ng-app="OrderDetailModule" ng-controller="OrderDetailController">
    <div class="nav-mainf ui-row bg-col-f8f8f8 lineh-40  bor-bottom-dfdfdf">
        <div class="ui-col-18 fl-left">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5" ui-sref="allorder({'type':Paramstype})"></i>
        </div>
        <div class="ui-col-65 fl-left text-center text-col-333 font-16">
            订单详情
        </div>
    </div>
    <section>
        <div class="mt-45 pl-10 pr-10 position font-14">
            <div class="pt-10">
                <div class="lineh-40 text-center pl-10 bg-col-fff bor-bottom-dfdfdf">
                    订单状态：{{typeName}}
                </div>
                <ul class="bg-col-fff pl-10 pr-10 text-col-666 position">
                    <li class="lineh-30 pt-5">
                        出票方：{{orders.typeName}}
                    </li>
                    <li class="lineh-30">
                        订单号：{{orders.orderId}}
                    </li>
                    <li class="lineh-30 bor-bottomd-dfdfdf pb-10">
                        下单时间：{{orders.createdTime}}
                    </li>
                    <li class="lineh-40 telimg">
                        <a href="tel:{{orders.typetel}}"><img style="width: 100%; height:100%"
                                                              ng-src="{{staticUrl}}images/cinematel.png"/></a>
                    </li>
                    <li class="lineh-30 text-col-999">
                        原价：<del>{{orders.amount}}</del>
                    </li>
                    <li class="lineh-30" ng-if="orders.status==1||orders.status==5||orders.status==6">
                        实际支付：￥{{orders.payAmount/100?orders.payAmount/100:0}}
                    </li>
                    <li class="lineh-30" ng-if="orders.status!=1&&orders.status!=5&&orders.status!=6">
                        实际支付：￥{{orders.amount}}
                    </li>
                    <li class="lineh-30 bor-bottomd-dfdfdf text-col-ff5400">
                        享受随机立减优惠：{{orders.privilidgeAmount?orders.privilidgeAmount:0}}元
                    </li>
                    <li class="line-20 pt-10 pb-10">
                        片名：{{orders.filmName}}
                    </li>
                    <li class="line-20">
                        影院：{{orders.cinemaName}}
                    </li>
                    <li class="line-20 pt-10">厅号：{{orders.hallName}}</li>
                    <li class="lineh-40">
                        场次：{{orders.showDate}}<span class="pl-5">{{orders.showTime}}</span>
                    </li>
                    <li class="line-20 pb-10">
                        座位：<span class="pl-5 pr-5" ng-repeat="item in seats">{{item.row}}排{{item.column}}座</span>
                    </li>
                    <li class="line-20 pb-10">
                        电话：{{orders.mobile}}
                    </li>
                    <li class="line-20 pb-10">
                        地址：{{orders.cinemaAddress}}
                    </li>
                    <li class="lineh-40  pb-10">

                        <button ng-if="status==2"
                                class="ui-col-40 ml-10 border-00a6ff text-col-666 font-12 ui-border-radius lineh-30"
                                ng-click="unlockSeat(orders.type,orders.orderId)">取消订单
                        </button>
                        <button ng-if="status==1" class="ui-col-40 bg-col-00a6ff ml-10 text-col-fff
                        font-12 ui-border-radius lineh-30"
                                ng-click="orderId()">查看取票码
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
    <div class="ui-dialog msgModel dis-block" ng-hide="msgShow">
        <div class="ui-dialog-cnt dialog-msg">
            <div class="ui-dialog-bd text-center">
                <div>
                    <div class="font-14" id="texts">{{customerInfo}}</div>
                </div>
            </div>
            <div class="ui-dialog-ft font-14">
                <button type="button" ng-click="close()">确定</button>
            </div>
        </div>
    </div>
</div>
