<div ng-app="PacketRuleModule" ng-controller="PacketRuleController">
    <div class="nav-mainf ui-row bg-col-f8f8f8 lineh-40  bor-bottom-dfdfdf">
        <div class="ui-col-18 fl-left" ui-sref="mypacket">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
        </div>
        <div class="ui-col-53 fl-left text-center text-col-333 font-16">
            红包使用说明
        </div>
    </div>
    <div class="mt-40 pb-10 ">
        <section class="ui-container">
            <ul class="pr-10 pl-10 pt-10 line-20 font-14">
                <li class="mt-5">1. 红包不可叠加使用，充值一笔订单只可使用一个红包。</li>
                <li class="mt-10">
                    2.1~2元充值红包：有效期3天，在有效期内充值满50元使用该红包可以享受立减1~2元优惠。
                </li>
                <li class="mt-10">
                    3. 3~5元观影权益：有效期3天，在有效期内充值满100元使用该红包可以享受立减3~5元优惠。
                </li>
                <li class="mt-10">
                    4.6~10元观影权益：有效期3天，在有效期内充值满200元使用该红包可以享受立减6~10元优惠。
                </li>
                <li class="mt-10">
                    5. 充值失败的情况下，红包将在1-3个工作日内退回至您的账户。
                </li>
                    6. 充值红包由于个人原因未使用导致过期，不予补发。
                </li>
                <li class="mt-10">
                    7. 充值红包只能在小浦观影-充值兑换中使用。
                </li>
                <li class="mt-10">
                    8. 该使用说明最终解释权归小浦观影平台所有。
                </li>
            </ul>
        </section>
    </div>
</div>