
<div ng-app="PaySuccessModule" ng-controller="PaySuccessController">
    <div class="fixed ui-col-100 text-col-fff lineh-40 pl-15 pr-15">
        <div class="ui-col-25 fl-left" ui-sref="myshop">
            <i class="ui-icon-return icon-return dis-inline text-col-fff line-25 font-24"></i>
        </div>
        <div class="ui-col-50 fl-left text-center font-16">
            支付订单
        </div>

        <div class="ui-col-25 fl-left text-right" ui-sref="myshop">
            完成
        </div>
    </div>
    <div ng-style="imgH">
        <img src="{{staticUrl}}images/shop/shopbg.jpg" ng-style="imgH">
        <!--<i class="ui-icon-success text-col-fd4404 mt-10" style="height: 60px; font-size: 88px;"></i>
        <div class="text-center lineh-40 font-14">支付完成</div>-->
    </div>
    <div class="bg-col-fff bor-top-dfdfdf pl-15 pr-15 font-12 pt-10">
        <p class="lineh-50 text-center font-14">实付款：
            <span class="text-col-ff5400">￥{{order.payAmount/100|number:2}}</span>
        </p>
        <ul class="mb-30">
            <li class="lineh-30">收货人：{{addresses.name}}</li>
            <li class="lineh-30">手机号：{{addresses.mobile}}</li>
            <li class="line-20">收货地址：{{addresses.street}}</li>
        </ul>
        <div class="clear text-center pb-10">
            <div class="fl-left ui-col-44 bg-col-00a6ff mb-10 text-col-fff lineh-30 ui-border-radius2" ui-sref="shoporder({'type':''})">
                查看订单
            </div>
            <div class="fl-right ui-col-44 border-00a6ff text-col-00a6ff mb-10 lineh-30 ui-border-radius2" ui-sref="myshop">
                继续购物
            </div>
        </div>
    </div>
    <!--   <div class="bor-top-dfdfdf text-col-999 font-14 clear pl-15 pr-15">
           <i class="ui-icon-info font-20 fl-left  ui-col-10"></i>
           <div class="fl-left ui-col-85 mt-10">
               安全提示：不会以任何理由要求您 提供银行卡信息或支付额外费用，请谨防钓鱼链接或诈骗电话。
           </div>
       </div>-->
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>