
<div ng-app="QuestionModule" ng-controller="questionController">
    <div class="nav-mainf ui-row bg-col-f8f8f8 lineh-40 bor-bottom-dfdfdf">
        <div class="ui-col-10 fl-left">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5" ui-sref="mine"></i>
        </div>
        <div class="ui-col-80 fl-left text-center text-col-333 font-16">
            小浦比价观影Q&A
        </div>
    </div>
    <section class="ui-container mt-40 pt-10 pb-10 bg-col-fff pl-15 font-14 pr-15">
        <ul class="question">
            <li>
                <p>1：为什么不需要支付密码就支付成功了？</p>
                <p class="font-12">签订了浦发快捷支付协议后凭短信验证码即可完成便捷支付。</p>
            </li>
            <li>
                <p>2：购票支付成功后订单却显示关闭或失败？支付的钱怎么退还？</p>
                <p class="font-12">网络延时导致出票失败，建议在网络较好的情况下，重新尝试购票。
                    退款的钱会在1-3个工作日返还到支付所用的信用卡上。</p>
            </li>
            <li>
                <p>3：为什么一直显示出票中？也没有收到取票码短信？</p>
                <p class="font-12 ">网络延时，请耐心等待。超过半小时还未出票的，系统会自动关闭该订单。
                    未收到取票短信的可以拨打客服电话4009209553要求重新发送。</p>
            </li>
            <li>
                <p>4：订单显示成功，支付成功，但是取票码短信却没有收到？</p>
                <p class="font-12 ">后台短信通道的堵塞导致的延迟，您可以在“我”—“我的订单”中查询。
                    也可以拨打客服电话4009209553索取取票码。</p>
            </li>
            <li>
                <p>5:为什么我支付不了，页面常常跳转？</p>
                <p class="font-12">购票人数太多，导致支付页面出现的延迟，建议清理手机后台后再次尝试，
                    如果还存在疑问可拨打客服电话4009209553。</p>
            </li>
            <li>
                <p>6:临时有事可以退票或换场次吗？</p>
                <p class="font-12">不可以的。您选定的座位影院会帮您保留，不会再次出售的。</p>
            </li>
            <li>
                <p>7:如何使用优惠券？有限制吗？</p>
                <p class="font-12 ">
                    优惠券只能在浦大喜奔APP上使用。在选座完成进入订单界面，通过点击“优惠券”，选择优惠券使用。
                    使用立减10元券可以再减免10元，有效期为两周。10元观影券是除了特殊场次电影外，支付10元即可购买一张影票，
                    有效期为一个月。立减10元券和10元观影券不可叠加使用。
                </p>
            </li>
            <li>
                <p>8: 为什么我用不了优惠券？</p>
                <p class="font-12 ">优惠券目前只能在浦大喜奔APP中使用。</p>
            </li>
        </ul>
    </section>
</div>