
<div ng-app="rechargeDetailModule" ng-controller="rechargeDetailController">
    <div class="ui-row bg-col-f8f8f8 lineh-40 bor-bottom-dfdfdf">
        <div class="ui-col-25 fl-left" ui-sref="recharge({'type':Paramstype})">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
        </div>
        <div class="ui-col-50 fl-left text-center text-col-333 font-16">
            订单详情
        </div>
    </div>
    <div class="bg-col-fff bor-top-dfdfdf mt-10 bor-bottom-dfdfdf">
        <p class="lineh-40 pl-15">订单信息</p>
        <div class="bor-top-dfdfdf pl-15 pr-15 pt-5 clear font-14 text-col-999">
            <div class="lineh-30"> 订单编号：{{order.orderid}}</div>
            <ul class="ui-col ui-col-80 pb-5">
                <li class="lineh-30">下单时间：{{order.createdTime}}</li>
                <li class="lineh-30">订单状态：
                    <span class="text-col-ff5400">{{order.statusCN}}</span>
                </li>
            </ul>
            <div class="ui-col ui-col-20">
                <ul class="ui-justify ui-whitespace text-right bg-col-fff">
                    <li class="text-right">
                        <a href="tel:4009209553">
                            <div style="height: 39px;">
                                <img ng-src="{{staticUrl}}images/cinematel.png" style="width: 40px;height: 40px;">
                            </div>
                            <p style="font-size: 14px;">客服电话</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-col-fff bor-top-dfdfdf mt-10 lineh-40 pl-15 bor-bottom-dfdfdf">
        账户信息
    </div>
    <div class="bg-col-fff pl-15 pr-15 font-14 text-col-999">
        <ul>
            <li class="clear lineh-30">
                <div class="ui-col ui-col-30">信用卡号</div>
                <div class="ui-col ui-col-70 text-right">{{order.cardNo}}</div>
            </li>
            <li class="clear lineh-30">
                <div class="ui-col ui-col-30">幸运豆抵扣</div>
                <div class="ui-col ui-col-70 text-right text-col-ff5400">{{order.recharge_amount}}</div>
            </li>
            <li class="clear lineh-30">
                <div class="ui-col ui-col-30">积分抵扣</div>
                <div class="ui-col ui-col-70 text-right text-col-ff5400">{{order.excharge_amount}}</div>
            </li>
            <li class="clear lineh-30">
                <div class="ui-col ui-col-30">红包抵扣</div>
                <div class="ui-col ui-col-70 text-right text-col-ff5400">{{order.red_amount}}</div>
            </li>
        </ul>
    </div>
    <div class="bg-col-fff bor-top-dfdfdf mt-10 pb-10 bor-bottom-dfdfdf">
        <div ng-if="passInfo">
            <p class="lineh-40 pl-15">商品信息</p>
            <ul class="bor-top-dfdfdf pl-15 pr-15 pt-10 pb-10 line-25 font-14 text-col-999 bor-bottom-dfdfdf">
                <li>卡号：{{passInfo.decript_cardNo}}</li>
                <li>卡密：{{passInfo.decript_cardPass}}</li>
            </ul>
        </div>
        <ul class="pr-15 pt-5 pb-5 text-right text-col-999 font-14">
            <li class="lineh-25">商品总价：￥{{order.old_amount}}</li>
            <li class="lineh-25 text-col-666">实付：
                <span class="text-col-ff5400">￥{{order.pay_amount}}</span>
            </li>
        </ul>
    </div>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>