
<div ng-app="rechargeOrderModule" ng-controller="rechargeOrderController">
    <div class="nav-mainf ui-row bg-col-f8f8f8 lineh-40  bor-bottom-dfdfdf">
        <div class="ui-col-10 fl-left">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"
               ng-click="orderReturn()"></i>
        </div>
        <div class="ui-col-80 fl-left text-col-333 font-16" style="position:relative;top:-2px;">
            <button class="btn-bor left-btn" style="position:relative;right: -6px; width:32%; height: 30px;" ui-sref="allorder({'type':Paramstype})" ng-click="changeShowValue()">
                电影
            </button>
            <button class="btn-bor bor-bottom-0066ff line-20 font-14 btn-active" style="position:relative;width:32%;height: 30px;">
                充值
            </button>
            <button class="btn-bor right-btn" style="position:relative;left: -6px;width:32%;height: 30px;" ui-sref="shoporder({'type':Paramstype})" ng-click="changeShowValue()">
                商城
            </button>
        </div>
    </div>
    <ul class="clear mt-45 text-center bor-top-ccc bg-col-fff mb-10 line-40 font-14  text-center">
        <li class="ui-col ui-col-49"><span class="line-35 dis-inline"
                                           ng-class="{true:'getcode',false:'mycode'}[ckedcode]"
                                           ng-click="ordertype(1)">已完成订单</span>
        </li>
        <li class="ui-col mt-10 bor-dfdfdf" style="width: 2px; height: 25px;"></li>
        <li class="ui-col ui-col-49"><span class="line-35 dis-inline"
                                           ng-class="{false:'getcode',true:'mycode'}[ckedcode]"
                                           ng-click="ordertype(2)">未完成订单</span></li>
    </ul>
    <section>
        <div class="pl-15 pr-15 bg-col-fff font-12">
            <!--ng-if="orderlist.length>0" ng-repeat="list in orderlist"-->
            <div class="ui-row clear text-col-999 pt-5 bor-bottom-dfdfdf" ng-repeat="list in orderList"
                 ui-sref="rechargedetail({'id':list.orderid,'change':Paramstype})">
                <div class="ui-row clear lineh-30">
                    <div class="ui-col ui-col-70 overhide text-col-666 font-14">{{list.typeCN}}</div>
                    <div class="ui-col ui-col-30 overhide text-right"> {{list.statusCN}}</div>
                </div>
                <div class="ui-row clear pb-5">
                    <ul class="ui-col ui-col-65">
                        <li class="lineh-30 overhide">充值账户：{{list.p_userid}}</li>
                        <li>
                            支付金额:<span class="text-col-ff5400">￥{{list.pay_amount}}</span>
                        </li>
                    </ul>
                    <div class="fl-right text-right ui-col-33">
                        <button class="pl-15 pr-15 lineh-30 mt-10 border-00a6ff text-col-00a6ff ui-border-radius">
                            查看详情
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="lineh-50 mt-40 text-center font-14" ng-if="orderList.length==0">
            <div ng-if="type==1">
                暂无完成订单
            </div>
            <div ng-if="type!=1">
                暂无未完成订单
            </div>
        </div>
    </section>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>