
<div ng-app="ReserveSuccessModule" ng-controller="ReserveSuccessController">
    <section class="">
        <div class="ui-row bor-bottom-dfdfdf clear lineh-40">
            <div class="ui-col-10 fl-left" ui-sref="reserve">
                <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
            </div>
            <div class="ui-col-80 fl-left text-center text-col-333 font-16">
                购票成功通知
            </div>
        </div>
        <div class="mt-10 ml-10 mr-10 pb-10 bg-col-fff bor-bottom-dfdfdf text-col-666 font-14">
            <ul class="pl-10 pr-10">
                <li class="text-col-999 lineh-30">订单号：{{result.orderId}}</li>
                <li class="bor-bottomd-dfdfdf lineh-30 text-col-999  pb-10">下单时间：{{result.createdTime}}</li>
                <li class="success-bgimg"><img src="{{staticUrl}}images/success.png"/></li>
            </ul>
            <ul class="pl-10 pr-10">
                <li class="text-col-999 lineh-30">片名：{{result.filmName}}</li>
                <li class="text-col-999 lineh-30">影院：{{result.cinemaName}}</li>
                <li class="text-col-999 lineh-30">场次：{{result.showTime}}
                    <span class="pl-5">{{orders.showTime}}</span>
                </li>
                <li class="text-col-999 lineh-30">厅号：{{result.hallName}}</li>
                <li class="bor-bottomd-dfdfdf text-col-999  pb-10">座位：
                    <span class="pr-15"
                          ng-repeat="item in seatInfo">{{item}}
                    </span>
                </li>
            </ul>
            <ul class="pl-10 pr-10 mt-10">
                <li class="text-col-999 line-20">取票码：<span class="text-col-ff7327">
                    {{result.ticketId?result.ticketId:'请出示购票成功短信息联系影院人员入场'}}
                </span>
                </li>
                <li class="text-col-999 line-20  pb-10">地址：{{result.cinemaAddress}}</li>
            </ul>
        </div>
    </section>
    <div class="mt-20 ml-15 mr-15 text-col-666 font-14">
        客服电话：<span class="text-col-58b0ff">4009209553</span>
    </div>
    <div class="ui-dialog reserveModel">
        <div class="sucessBg position" ng-style="sucessBg">
            <div class="ui-spr-bd text-center">
                <div class="text-col-333">
                    <h1></h1>
                    <img ng-style="sucessBg" ng-src="{{staticUrl}}images/sprtips.png"/>
                    <div class="font-12" style="position: absolute;top:35%; padding: 0 13%; width: 74%">
                        <div style="display: flex; align-items: center; justify-content: center; align-content: center; height: 150px;">
                            <div>
                                {{messages}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="position: absolute;bottom: 20px; width:100%; text-align: center;">
                <img style="width: 100px; height: 30px;" ng-click="closeModel()"
                     ng-src="{{staticUrl}}images/reserve/confirm.png"/>
            </div>
        </div>
    </div>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>

