
<div ng-app="DroiyanRuleModule" ng-controller="droiyanRuleController">
    <div class="nav-mainf ui-row bg-col-fff lineh-40 bor-bottom-dfdfdf">
        <div class="ui-col-10 fl-left" ng-click="returns()">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
        </div>
        <div class="ui-col-80 fl-left text-center text-col-333 font-16">
            《三生三世十里桃花》活动细则
        </div>
    </div>
    <section class="ui-container mt-45 bg-col-fff pb-10 font-14">
        <ul class="ml-10 mr-10 pt-10 bor-bottom-dfdfdf pb-10">
            <li class="text-col-00a6ff font-weight">活动时间：</li>
            <li class="font-12">2017年8月04日11点起至23点59分59秒</li>
        </ul>
        <ul class="mt-10 ml-10 mr-10 bor-bottom-dfdfdf pb-10">
            <li class="text-col-00a6ff font-weight">活动内容：</li>
            <li class="font-12">
                活动期间，持卡人登录“浦发银行信用卡”官微—微广场—娱乐美餐“浦”遍优惠—“小浦观影，比比更优惠”—发现首页；或手机客户端（浦大喜奔）-精品-小浦观影-小浦比价购票首页-发现首页，进入活动页面，按照活动画面提示参与活动，即有机会赢取《三生三世十里桃花》1元观影电子兑换券，每位持卡人限参与1次活动（每次可随机获得最多3张1元观影券），活动总限量8000张，数量有限，领完即止。
            </li>
        </ul>
        <p class="pl-10 pr-10 mt-10 text-col-00a6ff font-weight">活动细则：</p>
        <ul class="pr-10 pl-10 line-20 rule-list">
            <li>
                1、本活动仅限关注并绑定“浦发银行信用卡”官方微信公众号（通过微信渠道参与活动）或已注册“浦大喜奔”APP（APP渠道参与活动）的浦发银行信用卡持卡人（简称“持卡人”）参与，且持卡人名下账户应保持正常，逾期账户、销户账户和被冻结账户等非正常状态账户不可参加本活动。
            </li>
            <li>
                5、如因系统原因导致网络延迟等情况，获奖实际系统记录情况与页面显示情况不符，以浦发银行信用卡中心系统实际记录为准，浦发银行信用卡中心仅根据系统记录发放相应奖品。
            </li>
            <li> 6、小浦观影比价购票一旦出票，不予退款。</li>
            <li>
                7、小浦观影比价购票支付时应使用小浦支付完成支付交易，所有支付规则需遵守《上海浦东发展银行网关快捷支付客户服务协议》。
            </li>
            <li>
                8、持卡人如有下述任何一种情况，其参加本次活动的资格将被取消，包含但不限于：进行虚假交易或者违法交易或退货交易、当前账户出现欠款逾期、账户状态不正常、出现所持信用卡过期、被停用、管制、持卡人自行注销信用卡、对所欠信用卡和浦发银行债务不偿还、违反《上海浦东发展银行信用卡(个人卡)章程》及相关领用合约或本活动及其他相关规定的。
            </li>
            <li>9、浦发银行信用卡中心不负责一切有关商品或服务事宜。任何有关商品或服务之责任，由有关参与商户负责。如有任何疑问，可拨打小浦观影-比价购票全国客服电话400-920-9553（9：00-23：00，全年无休）。</li>
            <li>10、在法律许可的范围内，浦发银行信用卡中心保留变更、调整、终止本活动之权利并有权调整或变更本活动规则并于相关渠道公告后生效。</li>
            <li>11、对于利用系统漏洞恶意套取优惠的持卡人，浦发银行信用卡中心保留取消其获奖资格的权利。</li>
            <li>12、本次活动未尽事宜，仍受《上海浦东发展银行信用卡（个人卡）章程》、相关领用合约及其他相关文件约束。</li>
        </ul>
    </section>
</div>