
<div ng-app="shopOrderDetailModule" ng-controller="shopOrderDetailController">
    <div class="ui-row bg-col-f8f8f8 lineh-40 bor-bottom-dfdfdf">
        <div class="ui-col-25 fl-left" ui-sref="shoporder({'type':Paramstype})">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
        </div>
        <div class="ui-col-50 fl-left text-center text-col-333 font-16">
            订单详情
        </div>
    </div>
    <ul class="bg-col-fff pl-10 pt-10 pb-10 pr-10 bor-bottom-dfdfdf">
        <li class="font-16 line-25">
            收货人：<span class="pl-5 pr-5">{{address.name}}</span>{{address.mobile}}
        </li>
        <li class="font-12 text-col-999 line-20">
            收货地址：{{address.street}}
        </li>
    </ul>
    <div class="bg-col-fff bor-top-dfdfdf mt-10 bor-bottom-dfdfdf">
        <p class="lineh-40 pl-15">订单信息</p>
        <div class="bor-top-dfdfdf pl-15 pr-15 pt-5 clear font-14 text-col-999">
            <div class="lineh-30">订单编号：{{order.orderId}}</div>
            <ul class="ui-col ui-col-80 pb-5">
                <li class="lineh-30">下单时间：{{order.createdTime}}</li>
                <li class="lineh-30">订单状态：
                    <span class="text-col-ff5400" ng-if="order.status==1">已收货</span>
                    <span class="text-col-ff5400" ng-if="order.status==2">未支付</span>
                    <span class="text-col-ff5400" ng-if="order.status==3">支付失败</span>
                    <span class="text-col-ff5400" ng-if="order.status==4">订单关闭</span>
                    <span class="text-col-ff5400" ng-if="order.status==5">待发货</span>
                    <span class="text-col-ff5400" ng-if="order.status==6">已发货</span>
                </li>
            </ul>
            <div class="ui-col ui-col-20">
                <ul class="ui-justify ui-whitespace text-right bg-col-fff">
                    <li class="text-right">
                        <a href="tel:4009209553">
                            <div style="height: 39px;">
                                <img ng-src="{{staticUrl}}images/cinematel.png" style="width: 40px;height: 40px;">
                            </div>
                            <p style="font-size: 14px;">客服电话</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-col-fff bor-top-dfdfdf mt-10 bor-bottom-dfdfdf">
        <p class="lineh-40 pl-15">商品信息</p>
        <ul class="bor-top-dfdfdf pl-15 pr-15 clear font-14 text-col-999 bor-bottom-dfdfdf">
            <li class="clear position"
                ui-sref="shopproduct({'id':goods.id})">
                <div class="fl-left ui-col-33s pt-10 pb-5">
                    <div class="fl-left rightimg"><img ng-src="{{good.mainUrl}}"></div>
                </div>
                <ul class="fl-left ui-col-65 mt-5">
                    <li class="clear mt-10 lineh-30 ui-col-100">
                        <div class="ui-col-49 fl-left text-left">{{goodExt.name}}</div>
                        <div class="ui-col-50 fl-left text-right  text-col-ff5400" ng-if="order.status==1||order.status==5||order.status==6">￥{{order.payAmount/100|number:2}}
                        </div>
                        <div class="ui-col-50 fl-left text-right  text-col-ff5400" ng-if="order.status!=1&&order.status!=5&&order.status!=6">￥{{(order.amount+order.expressFee)/100|number:2}}
                        </div>
                    </li>
                    <li class="clear mt-10 lineh-30 font-12 ui-col-100">
                        <div class="ui-col-70 fl-left text-left">规格<span class="pl-5">{{goodExt.color}}</span></div>
                        <div class="ui-col-30 fl-left text-right">x<span class="pl-5">{{order.count}}</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="pr-15 pt-5 pb-5 text-right text-col-999 font-14">
            <li class="lineh-25">商品总价：￥{{goodExt.price/100|number:2}}</li>
            <li class="lineh-25">运费：￥{{order.expressFee/100|number:2}}</li>
            <li class="lineh-25 text-col-666">实付款（含运费）：
                <span class="text-col-ff5400" ng-if="order.status==1||order.status==5||order.status==6">￥{{order.payAmount/100|number:2}}</span>
                <span class="text-col-ff5400" ng-if="order.status!=1&&order.status!=5&&order.status!=6">￥{{(order.amount+order.expressFee)/100|number:2}}</span>
            </li>
        </ul>
    </div>
    <footer class="ui-footer font-14 lineh-50 bor-top-dfdfdf clear bg-col-f8f8f8" ng-if="order.status==1||order.status==5||order.status==6">
        <button class="fl-right pl-15 pr-15 mt-10 mr-15 lineh-30 text-center bg-col-fff border-00a6ff ui-border-radius2"
                ui-sref="logistics({'id':order.orderId,'change':Paramstype})">查看物流
        </button>
    </footer>
    <footer class="ui-footer font-14 lineh-50 bor-top-dfdfdf clear bg-col-f8f8f8" ng-if="order.status==2">
        <button class="fl-right pl-15 pr-15 mt-10 mr-15 lineh-30 text-center bg-col-fff border-00a6ff ui-border-radius2"
                ng-click="shopPay()">继续支付
        </button>
        <button class="fl-right pl-15 pr-15 mt-10 mr-15 ml-15 lineh-30 text-center bg-col-fff text-col-999 bor-dfdfdf ui-border-radius2"
                ng-click="actionDetele()">取消订单
        </button>
    </footer>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>