
<div ng-app="signInModule" ng-controller="signInController">
    <div class="ui-row bor-bottom-dfdfdf bg-col-f8f8f8 clear line-40">
        <div class="ui-col-10 fl-left" ui-sref="main">
            <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
        </div>
        <div class="ui-col-80 fl-left text-center text-col-333 font-16">
            签到
        </div>
    </div>
    <section>
        <div ng-style="headerimg" style="width: 100%;position: relative">
            <div ng-click="register()" style="z-index: 0;top:5%;left:35%;position: absolute;width: 30%">
                <img style="width: 100%;" ng-src="{{staticUrl}}images/register_button.png" alt="">
            </div>
            <div ng-click="register()" ng-show="!sign"
                 style="color:#ff5a00;position: absolute;top:25%;left:35%;width: 30%;display: flex;font-size:21px;align-items:center;justify-content: center;font-weight:800">
                签到
            </div>
            <div ng-show="sign" style="color:#ff5a00;position: absolute;top:17%;left:40%;width: 20%;
	    font-size:21px;">
                <div style="font-size: 19px;display: flex;align-items:center;justify-content: center;border-bottom: 1px solid #fabb3a;">
                    已签到
                </div>
                <div style="font-size: 13px;display: flex;align-items:center;justify-content: center;padding-top:15%">
                    连续{{signDays}}天
                </div>
            </div>
            <div style="z-index: 0;position: absolute;top:70%;font-size:13px;text-align: center;width: 100%;color:white">
                {{distanceDay}}
            </div>
            <img style="position: absolute;top:0;z-index:-1;height:100%;width: 100%" ng-src="{{staticUrl}}images/register_header.png" alt="">
            <div ng-click="rootPaycheck(4)" style="position: absolute;bottom:5%;left:20%;width: 25%;font-size:13px;height:12%;align-items:center;display: flex;justify-content: center;background-color: #f7a32b;color:white;border-radius: 10px">
                使用幸运豆
            </div>
            <div ui-sref="main" style="position: absolute;bottom:5%;right:20%;width: 25%;font-size:13px;height:12%;align-items:center;display: flex;justify-content: center;background-color: #f7a32b;color:white;border-radius: 10px">
                去买电影票
            </div>
        </div>
    </section>
    <div style="background-color: #ffd291;padding: 3% 0 0 0">
        <div style="width: 94%;margin: 0 auto;">
            <div style="position: relative">
                <img style="width: 100%;" ng-src="{{staticUrl}}images/register_section.png" alt="">
                <div style="width: 100%;position: absolute;top:8%">
                    <div style="font-size: 13px;color:#f56554;text-align: center;font-weight: 700;padding-bottom:3%">{{yearMonth}}</div>
                    <div style="width: 12%;margin-left: 4%;margin-bottom: 2%" ng-click="showHistroy($index)"
                         ng-repeat="signModelList in signModelList" class="dis-inline">
                        <div style="text-align: center;font-size: 10px;background-color: #f9793b;color:white;border-top-right-radius: 5px;border-top-left-radius: 5px">
                            {{signModelList.day}}
                        </div>
                        <div style="width: 100%">
                            <!--<img ng-show="signModelList.special" style="width: 100%" ng-src="{{staticUrl}}images/register_luckey.png" alt="">-->
                            <!--<img ng-show="signModelList.sign&&!signModelList.special" style="width: 100%" ng-src="{{staticUrl}}images/register_can.png" alt="">-->
                            <!--<img ng-show="!signModelList.signIf&&!signModelList.special&&!signModelList.sign" style="width: 100%" ng-src="{{staticUrl}}images/register.png" alt="">-->
                            <img style="width: 100%" ng-src="{{signModelList.img}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="isRegister" style="width: 50%;text-align: center;position:absolute;top:15%;left:25%;display: none">
                    <div ng-show="ifSpecial" style="background-color: #fe733c;color:white;padding: 10px 0;font-size: 15px" ng-click="close()">
                        再签到{{openDay}}天可获取
                        <!--<img style="height:14px;padding-left: 10%" ng-src="{{staticUrl}}images/close.png" alt="">-->
                    </div>
                    <div ng-show="!ifSpecial" style="text-align:center;background-color: #fe733c;color:white;padding: 10px 0;font-size: 15px" ng-click="close()">
                        {{month}}月{{day}}日
                        <!--<img style="height:14px;padding-left: 10%" ng-src="{{staticUrl}}images/close.png" alt="">-->
                    </div>

                    <div style="background-color: white;padding: 3% 0">
                        <img ng-src="{{prizeImg}}" alt="" style="height: 28px;vertical-align: middle;padding-right: 5%"><span>{{prizeName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #ffd291;padding: 3% 0">
        <div>
            <div style="text-align: center;color: #f9793b">——————签到规则——————</div>
            <div style="padding:0 10%;font-size: 11px;color:#f9793b">
                <p style="padding-bottom: 1%"> <span style="font-size: 11px;padding:0 5px;height:11px;border-radius:10px;background-color: #f88436;color:white">1</span>每日签到可得1个幸运豆
                </p>
                <p style="padding-bottom: 1%"> <span style="font-size: 11px;padding:0 5px;height:11px;border-radius:10px;background-color: #f88436;color:white">2</span>连续签到第7天/14天/21天/28天，可获得惊喜大礼包
                </p>
                <p style="padding-bottom: 1%"> <span style="font-size: 11px;padding:0 5px;height:11px;border-radius:10px;background-color: #f88436;color:white">3</span>每月为一个签到周期，每月1日开始计算，月底清零，中途漏签，需要重新开始计算
                <p> <span style="font-size: 11px;padding:0 5px;height:11px;border-radius:10px;background-color: #f88436;color:white">4</span>每位用户每天仅可签到一次
                </p>
            </div>
        </div>
    </div>

</div>
