<!DOCTYPE html PUBLIC "-//W3C//ttd XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/ttd/xhtml1-transitional.ttd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title>活动详情</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/wx/seckillMPBS/style.css" />
    <script type="text/javascript" src="/js/jquery_last.js"></script>
    <script type="text/javascript" src="/js/ui.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body class="bg">
<form name="seckillForm" id="seckillForm" action="wxSeckillMPBSSubmit.do" method="post">
    <input type="hidden" id="srcChannel" name="srcChannel" value="WS"/>
    <input type="hidden" id="wxCode" name="wxCode" value="o6HrMjjJuXyMpK0Ycz5Quz6a_8po"/>
    <input type="hidden" id="operationCacheKey" name="operationCacheKey" value="CDBJAMDYEMCRAVAIGWFDABBUCODEFZDSCFGSHLEH" />
    <input type="hidden" id="sysTime" name="sysTime" value="20170728123845" />
    <input type="hidden" id="activityFlag" value="2" />

    <input type="hidden" id="startTime" value="20170705102000" />
    <input type="hidden" id="endTime" value="20170728220000" />
    <input type="hidden" id="actStartTime" value="20170728150000" />
    <input type="hidden" id="actEndTime" value="20170728200000" />

    <input type="hidden" id="url" name="url" value="" />
    <input type="hidden" id="imgUrl" name="imgUrl" value="https://wap.cgbchina.com.cn/images/wx/seckillMPBS/gzmrt.png" />
    <input type="hidden" id="shareTitle" name="shareTitle" value="万宁全场单笔满88元减44元" />
    <input type="hidden" id="shareTxt" name="shareTxt" value="我发现个好活动，万宁全场单笔满88元减44元，很划算，可以囤货啦。" />
    <input type="hidden" id="isShareFlag" value="0" />
    <input type="hidden" id="mai_actelement_one" value="活动内容" />
    <input type="hidden" id="mai_actelement_two" value="参与流程" />
    <input type="hidden" id="mai_actelement_three" value="活动细则" />
    <input type="hidden" id="mai_actelement_three" value="活动细则" />
    <input type="hidden" id="opFlag" value="1" />
    <input type="hidden" id="buttonUrl1" value="" />
    <input type="hidden" id="diffTime" value="" />
</form>

<div class="main">
    <div class="banner"><img src="http://mps.95508.com/mps/mh/activity/2017070510000000001154detailss.png?v=1501216725319"></div>
    <div class="blue_bar" id="time_tips_clour">
        <div id="time_tips_div"></div>
    </div>
    <div class="activebox">
        <div>
            <h1>万宁88-44</h1>

        </div>
        <div>
            <h3>
	        		<span id="activityTimeShow_Span">
	        		活动时间

		        		<i class="i_start"></i>

	        		</span>
            </h3>
            <p>2017年5月12日至7月31日每周五9:00-9:30/10:00-12:00登陆广发信用卡“发现精彩”APP领取优惠资格）</p>
        </div>
        <div>
            <h3>活动对象</h3>
            <p>活动对象为全辖广发信用卡主卡持卡人客户（仅持有借记卡、附属卡、商务卡、公司卡、转账卡、公务卡、外币单币卡客户除外）</p>
        </div>
        <div>
            <h3>活动区域 </h3>
            <p>全辖(除厦门、莆田、泉州)</p>
        </div>
    </div>
</div>

<div class="main_1">
    <div class="tabbox">
        <div class="tab_title">
            <a onclick="chaneMain(1)" class="active" id="title_active">

                活动内容

            </a>
            <a id="title_process" onclick="chaneMain(2)">

                参与流程

            </a>
            <a id="title_detail" onclick="chaneMain(3)">

                活动细则

            </a>
        </div>
    </div>
</div>
<div class="main_1" id="main_active">
    <div class="lcbox">
        <div id="main_active_over10">
            <div class="tab_content" id="actDesc_div">

                活动期间,成功领取验证码并凭验证码到指定门店验证，享全场产品单笔满88元（含）以上立减44元。名额有限，先到先得。

            </div>
        </div>
        <div class="morebar" id="main_active_more" onclick="showMore('main_active_over10','main_active_more')">查看更多<i class="i_more"></i></div>
    </div>
</div>

<div class="main_1" id="main_process">
    <div class="lcbox">
        <div id="main_process_over10">
            <div class="tab_content" id="joinDesc_div">

                活动日登录广发信用卡APP“发现精彩”，选择“广发日”，点击“万宁优惠”进入活动页面；或通过广发信用卡微信，点击菜单栏“我的优惠”——“广发日”——“万宁优惠”或直接输入关键字进入活动页面，领取优惠名额；</br>领取成功后当天内将收到“广发日-万宁优惠资格验证码”；</br>收到验证码的当天，前往万宁门店，使用POS机验证；</br>验证成功，POS机自动打印验证小票，凭验证小票，并使用广发信用卡云闪付或刷广发信用卡实体卡支付，享受广发日优惠。</br>温馨提醒：成功领取的验证码可在APP“发现精彩”中的首页“我的”功能里查找“我的优惠券”中查询。

            </div>
        </div>
        <div class="morebar" id="main_process_more" onclick="showMore('main_process_over10','main_process_more')">查看更多<i class="i_more"></i></div>
        <div class="linkbar" id="joinDescUrl_div"><a href="http://95508.com/zct0YMVL" id="joinDescUrl_a"><i class="i_link"></i>点击看详细</a></div>
    </div>
</div>

<div class="main_1" id="main_detail">
    <div class="lcbox">
        <div id="main_detail_over10">
            <div class="tab_content" id="actRule_div">

                活动对象为全辖广发信用卡主卡持卡人客户（仅持有借记卡、商务卡、公司卡、转账卡、公务卡、外币单币卡客户除外）；</br>正式活动中，每位持卡人每月限享一次优惠；每个活动日25000 个优惠名额，先到先得；优惠资格仅限本人使用有效，转发无效；</br>客户通过广发信用卡APP“发现精彩”或广发信用卡微信领取优惠名额，领取成功当日内收到“广发日-万宁优惠资格验证码”；收到验证码的当天，前往万宁指定门店，使用POS机验证，广发云闪付或信用卡支付；验证码仅限当天使用；</br>专享优惠仅限指定门店使用，折扣部分不开具发票；</br>本活动举办方有权根据实际情况对活动内容进行调整；</br>温馨提醒：本次万宁优惠资格通过广发信用卡APP“发现精彩”领取优惠名额。

            </div>
        </div>
        <div class="morebar" id="main_detail_more" onclick="showMore('main_detail_over10','main_detail_more')">查看更多<i class="i_more"></i></div>
    </div>
</div>

<div class="baomingbox" id="submit1_div">
    <a id="submit1">立即参与</a>
    <span class="noShow" id="showMsg1">本场名额已抢完，下次请赶早。</span>
    <span class="noShow" id="showMsg2">活动尚未开始，请亲稍后再试。</span>
    <span class="noShow" id="showMsg3">该活动已结束，欢迎参与我行其它精彩活动。</span>
</div>
<div class="baomingbox" id="submit2_div">
    <a id="submit2"></a>
</div>
<footer></footer>
</body>
<script>
    $(document).ready(function(){
        $("#submit1").bind('click',submit1);
        $("#submit2").bind('click',submit2);
        initShowDiv();
        window.setInterval(initTimeTips,1000);
        initGetSignature();
    });

    function initShowDiv(){
        var mai_actelement_one = $("#mai_actelement_one").val();
        var mai_actelement_two = $("#mai_actelement_two").val();
        var mai_actelement_three = $("#mai_actelement_three").val();
        if(null == mai_actelement_one || '' == mai_actelement_one || 'null' == mai_actelement_one){
            if(null == mai_actelement_two || '' == mai_actelement_two || 'null' == mai_actelement_two){
                if(null == mai_actelement_three || '' == mai_actelement_three || 'null' == mai_actelement_three){
                    $("#title_active").removeClass();
                    $("#title_process").removeClass();
                    $("#title_detail").removeClass();
                }else{
                    chaneMain('3');
                }
            }else{
                chaneMain('2');
            }
        }else{
            chaneMain('1');
        }

        var submit1Btn = $("#submit1").html();
        if(null == submit1Btn || '' == submit1Btn){
            $("#submit1_div").hide();
        }else{
            $("#submit1_div").show();
        }

        var btnUrl = $("#buttonUrl1").val();
        var butName = $("#submit2").html();
        if(null == btnUrl || '' == btnUrl || null == butName || '' == butName){
            $("#submit2_div").hide();
        }else{
            $("#submit2_div").show();
        }
    }

    function initMoreAndDetail(){
        var joinDescUrl = $("#joinDescUrl_a").attr('href');
        var defaultShowHeight = parseInt('210');
        if(null == joinDescUrl || 'null'== joinDescUrl || '' == joinDescUrl ){
            $("#joinDescUrl_div").hide();
        }
        var actDesc = $("#actDesc_div").html();
        if(null == actDesc || 'null'== actDesc || '' == actDesc ){
            $("#main_active_more").hide();
        }else{
            $("#main_active_over10").removeClass();
            var actDescHeight = parseInt(document.getElementById("actDesc_div").offsetHeight);
            if(actDescHeight > defaultShowHeight){
                $("#main_active_over10").removeClass().addClass("over10");
                $("#main_active_more").show();
            }else{
                $("#main_active_more").hide();
            }
        }
        var joinDesc = $("#joinDesc_div").html();
        if(null == joinDesc || 'null'== joinDesc || '' == joinDesc ){
            $("#main_process_more").hide();
        }else{
            $("#main_process_over10").removeClass();
            var joinDescHeight = parseInt(document.getElementById("joinDesc_div").offsetHeight);
            if(joinDescHeight > defaultShowHeight){
                $("#main_process_over10").removeClass().addClass("over10");
                $("#main_process_more").show();
            }else{
                $("#main_process_more").hide();
            }
        }
        var actRule = $("#actRule_div").html();
        if(null == actRule || 'null'== actRule || '' == actRule ){
            $("#main_detail_more").hide();
        }else{
            $("#main_detail_over10").removeClass();
            var actRuleHeight = parseInt(document.getElementById("actRule_div").offsetHeight);
            if(actRuleHeight > defaultShowHeight){
                $("#main_detail_over10").removeClass().addClass("over10");
                $("#main_detail_more").show();
            }else{
                $("#main_detail_more").hide();
            }
        }
    }

    function initTimeTips(){
        var activityFlag = $("#activityFlag").val();
        showTimeTips(activityFlag);
    }

    var flag = true;
    function showTimeTips(activityFlag,sysTime){
        var sysTime = new Date().getTime();
        var diffTime = $("#diffTime").val();
        if(null == diffTime || '' == diffTime && flag){
            var serTime = $("#sysTime").val();
            var sysTimeS = Date.parse(new Date(serTime.substr(0,4),Number(serTime.substr(4,2))-1,serTime.substr(6,2),serTime.substr(8,2),serTime.substr(10,2),serTime.substr(12,2)));
            diffTime = sysTimeS - sysTime ;
            $("#diffTime").val(diffTime);
            flag = false;
        }
        sysTime = sysTime + parseInt(diffTime);
        var comparetime;
        var time;
        var msg = '';
        if('1' == activityFlag){//即将开始
            var endTime = $("#actStartTime").val();
            comparetime = Date.parse(new Date(endTime.substr(0,4),Number(endTime.substr(4,2))-1,endTime.substr(6,2),endTime.substr(8,2),endTime.substr(10,2),endTime.substr(12,2)));
            time = parseInt(comparetime) - sysTime;
            if(time <= 0){
                $("#activityFlag").val('2');
                var html = "活动时间 <i class='i_doing'></i>";
                $("#activityTimeShow_Span").html(html);
                initTimeTips();
            }else{
                var date = parseInt(time/86400000);
                var hour = parseInt((time-date*86400000)/3600000);
                var min = parseInt((time-date*86400000-hour*3600000)/60000);
                var sec = parseInt((time-date*86400000-hour*3600000-min*60000)/1000);
                msg = '距开始还剩' + date + '天' + hour + '小时' + min + '分' + sec + '秒';
                $("#time_tips_clour").removeClass().addClass("red_bar");
                $("#time_tips_div").show();
                $("#time_tips_clour").show();
                $("#time_tips_div").html(msg);
            }
        }else if('2' == activityFlag){//正在进行
            var endTime = $("#actEndTime").val();
            comparetime = Date.parse(new Date(endTime.substr(0,4),Number(endTime.substr(4,2))-1,endTime.substr(6,2),endTime.substr(8,2),endTime.substr(10,2),endTime.substr(12,2)));
            time = parseInt(comparetime) - sysTime;
            if(time <=0){
                $("#activityFlag").val('3');
                var html = "活动时间 <i class='i_end'></i>";
                $("#activityTimeShow_Span").html(html);
                initTimeTips();
            }else{
                var date = parseInt(time/86400000);
                var hour = parseInt((time-date*86400000)/3600000);
                var min = parseInt((time-date*86400000-hour*3600000)/60000);
                var sec = parseInt((time-date*86400000-hour*3600000-min*60000)/1000);
                msg = '距结束还剩' + date + '天' + hour + '小时' + min + '分' + sec + '秒';
                $("#time_tips_clour").removeClass().addClass("blue_bar");
                $("#time_tips_div").show();
                $("#time_tips_clour").show();
                $("#time_tips_div").html(msg);
            }
        }else{
            $("#time_tips_div").hide();
            $("#time_tips_clour").hide();
        }
    }

    function chaneMain(index){
        if('1' == index){
            $("#main_active").show();
            $("#main_process").hide();
            $("#main_detail").hide();
            $("#title_active").removeClass().addClass("active");
            $("#title_process").removeClass();
            $("#title_detail").removeClass();
        }else if('2' == index){
            $("#main_active").hide();
            $("#main_process").show();
            $("#main_detail").hide();
            $("#title_active").removeClass();
            $("#title_process").removeClass().addClass("active");
            $("#title_detail").removeClass();
        }else if('3' == index){
            $("#main_active").hide();
            $("#main_process").hide();
            $("#main_detail").show();
            $("#title_active").removeClass();
            $("#title_process").removeClass();
            $("#title_detail").removeClass().addClass("active");
        }
        initMoreAndDetail();
    }

    function showMore(contentId,buttonId){
        $("#"+contentId).removeClass();
        $("#"+buttonId).hide();
    }

    function submit1(){
        var opFlag = $("#opFlag").val();
        if('1' == opFlag){
            if(validate()){
                $("#seckillForm").attr('action','wxSeckillMPBSSubmit.do');
                $("#seckillForm").submit();
            }
        }else{
            $("#seckillForm").attr('action','weiXinBind.do');
            $("#seckillForm").submit();
        }
    }

    function validate(){
        //0-名额已满  1- 即将开始  2-正在进行  3-已结束
        var activityFlag = $("#activityFlag").val();
        if('3' == activityFlag){
            var msg = $("#showMsg3").text();
            alert(msg); return false;
        }else if('1' == activityFlag){
            var msg = $("#showMsg2").text();
            alert(msg); return false;
        }else if('0' == activityFlag){
            var msg = $("#showMsg1").text();
            alert(msg); return false;
        }else if('2' == activityFlag){
            return true;
        }
        return false;
    }

    function initGetSignature(){
        var isShareFlag = $("#isShareFlag").val();
        if('0' == isShareFlag){
            getSignature();
        }
    }

    function getSignature(){
        var url=window.location.href.split('#')[0];
        $("#url").val(url);
        var shareTitle = $("#shareTitle").val();
        var shareTxt = $("#shareTxt").val();
        var shareImgUrl = $("#imgUrl").val();
        var data = $("#seckillForm").serialize();
        $.ajax({
            type: "post",
            url: "/wxGetUserLocationAccess.do",
            dataType: "xml",
            data: data,
            cache: false,
            beforeSend: function(){},
            success: function(data){
                var code=$('ec',data).text();
                if(code!='0'){//获取使用腾讯js权限失败
                    alert($('em',data).text());
                }else{
                    var url = $('url',data).text();
                    var ticketNo = $('ticketNo',data).text();
                    var nonceStr = $('nonceStr',data).text();
                    var timestamp = $('timestamp',data).text();
                    var signature = $('signature',data).text();
                    var appid = $('appid',data).text();
                    var path = 'https%3A%2F%2Fwap.cgbchina.com.cn%3A443%2FwxSeckillMPBSIn.do%3FshareFlag%3D1%26srcChannel%3DWS%26act_id%3D2017070510000000001154';
                    var title =	shareTitle;
                    var desc = shareTxt;
                    var imgUrl = shareImgUrl;
                    var link_ ="https://open.weixin.qq.com/connect/oauth2/authorize?appid="+appid+"&redirect_uri="+path+"&response_type=code&scope=snsapi_base&state=123#wechat_redirect";
                    wx.config({
                        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId: appid, // 必填，公众号的唯一标识
                        timestamp: timestamp, // 必填，生成签名的时间戳
                        nonceStr: nonceStr, // 必填，生成签名的随机串
                        signature: signature,// 必填，签名，见附录1
                        jsApiList: ['onMenuShareAppMessage','onMenuShareTimeline','onMenuShareQQ','onMenuShareWeibo']  // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                    });
                    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                    wx.ready(function(){
                        wx.onMenuShareAppMessage({
                            title: title,
                            desc:  desc,
                            link: link_,
                            imgUrl: imgUrl,
                            type: '',
                            dataUrl: '',
                            success: function () {
                            },
                            cancel: function () {
                            }
                        });
                        wx.onMenuShareTimeline({
                            title: title,
                            desc:  desc,
                            link: link_,
                            imgUrl:imgUrl,
                            success: function () {

                            },
                            cancel: function () {

                            }
                        });
                        wx.onMenuShareQQ({
                            title: title,
                            desc: desc,
                            link: link_,
                            imgUrl: imgUrl,
                            success: function () {

                            },
                            cancel: function () {

                            }
                        });
                        wx.onMenuShareWeibo({
                            title: title,
                            desc:desc,
                            link: link_,
                            imgUrl: imgUrl,
                            success: function () {

                            },
                            cancel: function () {

                            }
                        });
                    });
                }
            }
        });
    }

    function unicodeToGB(str){
        str=str.replace(/\&#x/g,'\\u');
        str=str.replace(/\;/g,'');
        str=str.replace(/\\/g,'%');
        str=unescape(str);
        return str;
    }

    function submit2(){
        var btnUrl = $("#buttonUrl1").val();
        var butName = $("#submit2").html();
        if(null != btnUrl && '' != btnUrl && null != butName && '' != butName){
            window.location.href = btnUrl;
        }
    }

    function onBridgeReady(){
        var isShareFlag = $("#isShareFlag").val();
        if('0' == isShareFlag){
            WeixinJSBridge.call('showOptionMenu');
        }else{
            WeixinJSBridge.call('hideOptionMenu');
        }
    }

    if(typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if( document.attachEvent ){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();
    }
</script>
</html>