.dialogWrapper {
    position: fixed;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    font-size: 13px;
}

.swiper-container {
    width: 100%;
    height: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.hot-rec .swiper-pagination-bullet {
    background: #8e8e93;
    opacity: 1;
}

.hot-rec .swiper-pagination-bullet-active {
    background: #fff;
}

.nav-main, .nav-mainf {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
    color: #fff;
    font-size: 12px;
    padding-top: 5px;
}

.nav-main i, .nav-mainf i {
    font-size: 22px;
}

.nav-main .dwimg {

    font-size: 32px;
}

.nav-main input, .nav-mainf input {
    width: 100%;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    /* opacity: 0.7;*/
    line-height: 26px;
    color: #5f5f5f;
    padding-left: 28px;
}

.nav-main .ui-icon-search {
    position: absolute;
    top: -3px;
    left: -1px;
    z-index: 11;
    color: #5f5f5f;
    font-size: 38px;
    line-height: 35px;
}

.nav-mainf .ui-icon-search {
    position: absolute;
    top: -3px;
    right: -4px;
    z-index: 11;
    color: #5f5f5f;
    font-size: 38px;
    line-height: 35px;
}

.ui-whitespace {
    padding: 0;
}

.nav-fast {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-fast img {
    width: 48px;
    height: 48px;
    margin-bottom: 2px;
}

.nav-fast p {
    font-size: 12px;
    color: #5f5f5f;
}

.nav-title {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    background: #fff;
    font-size: 14px;
    color: #333333;
}

.nav-more {
    width: 6px;
    height: 13px;
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.nav-title-img {
    margin-top: 3px;
    width: 43px;
    height: 33px;
}

.hot-cinema {
    margin-left: 15px;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 8px;
}

.cinemaimg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    margin-top: 6px;
}

.bannerBackground {
    width: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    left: 0;
    top: 5px;
    right: 0;
}

.hot-film .swiper-container, .hot-cinema-film .swiper-container {
    top: 10px;
}

.hot-film .film-name, .hot-cinema-film .cinema-film-name {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #243d4d;
    opacity: 0.8;
}

.hot-film img {
    width: 100%;
    height: 100%;
}

.hot-cinema-film img {
    width: 100%;
    height: 100%;
}

.hot-tip {
    position: absolute;
    top: 0;
    color: #fff;
    background: #00a6ff;
    left: 0;
    font-size: 12px;
    line-height: 25px;
    padding: 0 5px;
}

.ui-dialog.loadingModel {
    background: none;
}

.loadingModel img {
    width: 80px;
    height: 80px;
}

.dialog-error {
    width: 70%;
    position: relative;
    top: 35%;
    left: 15%;
}

.dialog-msg {
    width: 70%;
    position: relative;
    top: 20%;
    left: 15%;
}

.ui-justify.my-footer p {
    font-size: 12px;
}

.test-img img {
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin-bottom: 3px;
}

.btn-bor {
    width: 60px;
    line-height: 20px;
    border: 1px solid #00a6ff;
    position: relative;
    font-size: 14px;
}

.left-btn {
    display: inline-block;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    right: -2px;
}

.right-btn {
    display: inline-block;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    left: -2px;
}

.btn-active {
    background: #00a6ff;
    color: #fff;
}

.btn-normal {
    color: #00a6ff;
}

.nav-film {
    height: 130px;
    padding-top: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.nav-film img {
    margin-left: 10px;
    margin-right: 10px;
    width: 84px;
    height: 120px;
}

.nav-film button {
    width: 100%;
    border: 1px solid #ff0000;
    line-height: 30px;
    border-radius: 3px;
    margin-top: 40px;
    color: #ff0000;
}

.nav-film li {
    line-height: 25px;
}

.nav-mine img {
    width: 35px;
    height: 35px;
}

.icon-user img {
    width: 24px;
    height: 24px;
    margin-top: 15px;
    margin-left: 10px;
}

.icon-user-activity img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.cur-address {
    position: fixed;
    z-index: 9;
    bottom: 56px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 12px;
    opacity: 0.9;
}

.detail-title {
    position: absolute;
    z-index: 2;
    bottom: 5px;
    left: 15px;
}

.nav-detail {
    height: 20px;
    line-height: 20px;
    margin-left: 15px;
    border-left: 2px solid #ff5400;
    padding-left: 5px;
}

.smallimg {
    width: 100%;
    height: 100px;
}

.ui-footer.film-deital-footer {
    height: 40px;
    background-color: #f7f7f7;
}

.film-deital-footer .borimg {
    width: 5px;
    height: 40px;
    background-image: url("/images/borimg.jpg");
    background-position: 0% 50%;
    /*   // background-color: #ff5400;*/
}

.film-deital-footer .buytickit {
    width: 95%;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.top-img {
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.datetime .swiper-slide {
    font-size: 14px;
}

.cinema-other {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.seat-tip {
    padding: 10px;
}

.seat-tip div {
    width: 25%;
    box-sizing: border-box;
    line-height: 20px;
    text-align: center;
    float: left;
    font-size: 12px;
}

.seat-tip-img {
    text-align: center;
    font-size: 12px;

}

.seat-tip-img img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    right: 3px;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /* background: #ccc; */
    overflow: hidden;
}

#centerLine {
    width: 1px;
    height: 300px;
    border-right: 2px dashed #000;
    position: absolute;
    left: 150px;
    top: 30px;
}

.seatbom {
    position: fixed;
    background-color: #fff;
    width: 100%;
    bottom: 0;
    height: 130px;
    z-index: 33;
}

.seat-column li {
    float: left;
}

.seat-column img {
    width: 100%;
    height: 100%;
}

.dialog-seat {
    width: 80%;
    position: absolute;
    top: 35%;
    left: 10%;
}

.dialog-seatorder {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.success-bgimg {
    position: absolute;
    top: 56px;
    right: 14px;
}

.success-bgimg img {
    width: 68px;
    height: 60px;
}

.btn-msg {
    line-height: 25px;
    width: 90px;
    margin-top: 8px;
    border-radius: 5px;
}

.btn-msg span {
    width: 23px;
    text-align: center;
}

.btn-msg input {
    width: 40px;
    border: none;
    height: 25px;
    background: #e9e9e9;
    border-radius: 5px;
    color: #333;
}

.checkboximg {
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.prizetype {
    position: relative;
}

.prizetype .bgimg {
    width: 100%;
    height: 100%;
}

.prizetype ul {
    position: absolute;
    width: 55%;
    left: 30%;
    height: 80%;
    float: left;
    overflow: hidden;
    top: 10%;
}

.prizetype ul li {
    height: 33%;
}

.prizetype .checkimg {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 13%;
    float: right;
    top: 37%;
}

.col-cinema {
    width: 96%;
    margin-top: 10px;
    padding: 3px 2% 5px;
    height: 60px;

}

.getcode {
    border-bottom: 2px solid #00a6ff;
    color: #00a6ff;
    padding-bottom: 3px;
}

.mycode {
    border: none;
    color: #333;
}

.codenum {
    position: absolute;
    left: 30%;
    top: 15%;
}

.film-banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: url('/images/my-banner.jpg') no-repeat center;
    background-size: 100% 100%;
}

.dialog-erma {
    width: 80%;
    position: relative;
    top: 25%;
    left: 10%;
}

.ui-dialog-cnt {
    border-radius: 6px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    pointer-events: auto;
    background-color: rgba(253, 253, 253, .95);
    position: relative;
    font-size: 16px;
}

#banner .pointer {
    width: 30%;
    height: 40%;
    position: absolute;
    left: 35%;
    top: 30%;
    z-index: 8;
}

#banner .pointer .pointer-z {
    position: absolute;
    top: 37%;
    left: 16%;
    width: 68%;
}

#banner .pointer img {
    width: 100%;
}

#banner .rotate {
    width: 95%;
    height: 95%;
    position: absolute;
    left: 2%;
    top: 10%;
}

#rotate {
    width: 100%;
}

.initials {
    position: fixed;
    right: 5px;
    top: 55px;
}

.alltype {
    border: 1px solid #dddddd;
    color: #333;
}

.activetype {
    border: 1px solid #00a6ff;
    color: #00a6ff;
}

.showmoreimg {
    width: 24px;
    height: 12px;
    position: relative;
    top: 5px;
}

.imgxuan {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 30px;
    top: 2px;
}

.imgzan {
    position: relative;
    width: 18px;
    height: 18px;
    top: 2px;
    right: 5px;
}

.cinematop-search {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -2px;
    left: 13%;
    font-size: 40px;
}

.film-hot {
    width: 84px;
    height: 120px;
    margin-top: 5px;
    float: left;
    background-size: cover;
}

.nav-mainf i.order-rush {
    font-size: 36px;
    position: relative;
    top: -2px;
    line-height: 30px;
    right: 10px;
}

.dialog-active {
    width: 100%;
    position: relative;
    top: 20%;
}

.zj-bg {
    width: 100%;
    position: relative;
}

.bgwz {
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
    color: #666;
}

.zjbtn {
    position: absolute;
    bottom: 45px;
    width: 50%;
    left: 25%;
    line-height: 30px;
    background: #4ba9ff;
    color: #fff;
}

.guesslist {
    margin-top: 50px;
    padding-top: 20px;
}

.guesslist img {
    margin-left: 15px;
    float: left;
    width: 100px;
    height: 100px;
}

.guesslist img.birthimg {
    margin-left: 15px;
    float: left;
    width: 90px;
    height: 100px;
}

.guesslist img.birthimg {
    margin-left: 15px;
    float: left;
    width: 120px;
    height: 100px;
}

.guesslist div {
    line-height: 100px;
    font-size: 20px;
    padding-left: 20px;
}

.guesslist div.birthdiv {
    line-height: 100px;
    font-size: 18px;
    padding-left: 20px;
}

.guessbtn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.telimg {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 35px;
    height: 35px;
}

.bigvideo {
    width: 100%;
    overflow: hidden;
}

.video-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 34%;
    left: 28%;
}

.bigvideo .videon {
    width: 100%;
    position: absolute;
    top: -43px;
}

.bigvideo i {
    position: absolute;
    top: -1px;
    z-index: 9;
}

.input-img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 9px;
    left: 28%;
}

.cinemaPhone {
    width: 13px;
    height: 14px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.nav-mainf .ui-icon-searchs {
    position: absolute;
    top: -3px;
    right: -4px;
    z-index: 11;
    color: #999;
    font-size: 38px;
    line-height: 35px;
}

/*æ´»åŠ¨*/
.clickbtn {
    margin-top: 20px;
    width: 100%;
}

.clickbtn img {
    width: 41%;
}

.spring-count {
    position: absolute;
    top: 0px;
    font-size: 12px;
}

.spring-rule span {
    float: left;
    font-size: 12px;
}

.spring-rule p {
    margin-top: 5px;
}

.nav-rule {
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: #8d7f60;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    margin-right: 5px;
    margin-top: 2px;
}

.rule-count {
    line-height: 18px;
    color: #948463;
}

.sprizjbd {
    border-radius: 6px;
    width: 100%;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    pointer-events: auto;
    position: relative;
    margin-top: 80px;
}
.sprizjbdactive {
    border-radius: 6px;
    width: 100%;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    pointer-events: auto;
    position: relative;
    margin-top: 31%;
}
.ui-spr-bd {
    min-height: 71px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
}

.ui-spr-ft {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
}

.ui-spr-ftzj {
    position: absolute;
    bottom: 13px;
    text-align: center;
    width: 100%;
}

.ui-spr-ft img, .ui-spr-ftzj img {
    width: 36%;
}

.radio-img {
    margin-left: 4%;
    margin-right: 4%;
}

.radio-img img {
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
}

.imgActive img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -10px;
    right: -7px;
}

.radio-img p {
    color: #bda163;
    font-size: 12px;
}

.tipsmeg {
    position: absolute;
    top: 34%;
    left: 14%;
    width: 72%;
    color: #f78d2f;
    font-size: 15px;
}

.tipsmima {
    position: absolute;
    top: 42%;
    left: 13%;
    width: 67%;
    color: #f78d2f;
    font-size: 15px;
}

.tipsmeg1 {
    position: absolute;
    top: 42%;
    text-align: center;
    width: 100%;
    color: #f78d2f;
    font-size: 14px;
}

.cinemastyleu {
    width: 100%;
}

.getcode {
    border-bottom: 2px solid #00a6ff;
    color: #00a6ff;
    padding-bottom: 6px;
}

.mycode {
    border: none;
    color: #333;
}

.codenum {
    position: absolute;
    left: 30%;
    top: 15%;
}

.codenum li {
    line-height: 20px;
}

.bg-bs {
    background-image: url('/images/activebg.jpg');
    background-size: cover;
    background-color: #9ca5a8;
}

/*å‘¨å‘¨*/
.wkbg-bs {
    background-size: cover;
    background-color: #fece00;
}

.weekbg {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
}

.weekfree {
    background: url('/images/weekactivity2.png');
    background-size: cover;
    position: relative;
}

.weeksub {
    background: url('/images/weekactivity1.png');
    background-size: cover;
    position: relative;
}

.weeklast {
    background: url('/images/weekactivity3.png');
    background-size: cover;
    position: relative;
}

.weekbtn {
    position: absolute;
    right: 8%;
    top: 19%;
    height: 70%;
}

.weekrule {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.wimgs {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.wrule {
    position: relative;
    top: -10px;
}

.truetip {
    position: absolute;
    top: 60%;
    font-size: 15px;
    width: 56%;
    left: 22%;
    color: #f78d2f;
}

.ui-spr-week {
    position: absolute;
    bottom: 48px;
    text-align: center;
    width: 100%;
}

.ui-spr-week img {
    width: 30%;
}

.timewap {
    position: absolute;
    width: 100%;
    top: 95px;
    text-align: center;
}

.timetitle {
    color: #999;
    padding: 0 2px;
}

.changetime {
    border: 1px solid #fe9f23;
    border-radius: 3px;
    color: #666;
    font-size: 16px;
    padding: 2px 3px;
    background-color: #fbdfb4;
}

.week-tab {
    position: fixed;
    top: 45px;
    z-index: 5;
    background-image: url('/images/wklibg.png');
    background-color: #d3b296;
    background-size: cover;
    padding-top: 15px;
    line-height: 40px;
}

.week-ul-bg {
    margin-left: 7%;
}

.nbgimg {
    height: 76px;
}

.ybgimg {
    height: 76px;
    background: url('/images/bgk1.png') center 0 no-repeat;
    background-size: 70px 70px;
}
.userfreebuttom{
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
}
.rule-list li{
    margin-top:5px;
    font-size: 12px;
}