* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, a, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body {
    -webkit-font-smoothing: antialiased;
    background: #efefef;
    position: relative;
    margin: auto;
}

address, cite, dfn, em, var {
    font-style: normal;
}

/* 将斜体扶正 */
code, kbd, pre, samp {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* 统一等宽字体 */
small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

/** 重置文本格式元素 **/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/** 重置表单元素 **/
legend {
    color: #000;
}

fieldset, img {
    border: 0;
}

select {
    -webkit-appearance: none;
}

button, input, select, textarea {
    font-size: 100%;
    resize:none
}

/** 重置表格元素 **/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 清除浮动 */
.ks-clear:after, .clear:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.ks-clear, .clear {
    *zoom: 1;
}

.dis-none {
    display: none;
}

.dis-block {
    display: block;
}

.dis-inline {
    display: inline-block;
}

.cursor {
    cursor: pointer;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.position {
    position: relative;
}

.fixed {
    position: fixed;
}

.overhide {
    overflow: hidden;
}

.lineh-20 {
    height: 20px;
    line-height: 20px;
}

.line-20 {
    line-height: 20px;
}

.line-25 {
    line-height: 25px;
}

.line-30 {
    line-height: 30px;
}

.line-35 {
    line-height: 35px;
}

.line-40 {
    line-height: 40px;
}

.line-50 {
    line-height: 50px;
}

.pl-5 {
    padding-left: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pl-30 {
    padding-left: 30px;
}

.font-weight {
    font-weight: bold;
}

.font-20 {
    font-size: 20px;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.font-24 {
    font-size: 24px;
}

.font-48 {
    font-size: 48px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-85 {
    margin-bottom: 85px;
}

.lineh-25 {
    height: 25px;
    line-height: 25px;
}

.lineh-30 {
    height: 30px;
    line-height: 30px;
}

.lineh-40 {
    height: 40px;
    line-height: 40px;
}

.lineh-50 {
    height: 50px;
    line-height: 50px;
}

.ui-col-15 {
    width: 15%;
    box-sizing: border-box;
}

.ui-col-18 {
    width: 18%;
    box-sizing: border-box;
}

.ui-col-25 {
    width: 25%;
    box-sizing: border-box;
}

.ui-col-30 {
    width: 30%;
    box-sizing: border-box;
}

.ui-col-33s {
    width: 33%;
    box-sizing: border-box;
}

.ui-col-40 {
    width: 40%;
    box-sizing: border-box;
}

.ui-col-44 {
    width: 44%;
    box-sizing: border-box;
}

.ui-col-49 {
    width: 49%;
    box-sizing: border-box;
}

.ui-col-53 {
    width: 53%;
    box-sizing: border-box;
}

.ui-col-55 {
    width: 55%;
    box-sizing: border-box;
}

.ui-col-60 {
    width: 60%;
    box-sizing: border-box;
}

.ui-col-65 {
    width: 65%;
    box-sizing: border-box;
}

.ui-col-70 {
    width: 70%;
    box-sizing: border-box;
}

.ui-col-75 {
    width: 75%;
    box-sizing: border-box;
}

.ui-col-85 {
    width: 85%;
    box-sizing: border-box;
}

.ui-col-100 {
    width: 100%;
    box-sizing: border-box;
}

.text-col-fff {
    color: #fff;
}

.text-col-dcdcdc {
    color: #dcdcdc;
}

.text-col-fc652b {
    color: #fc652b;
}

.text-col-ff5723 {
    color: #ff5723
}

.text-col-fe9f23 {
    color: #fe9f23;
}

.text-col-ff7327 {
    color: #ff7327;
}

.text-col-eacb8e {
    color: #eacb8e;
}

.text-col-E5302F {
    color: #E5302F;
}

.text-col-333 {
    color: #333;
}

.text-col-555 {
    color: #555555;
}

.text-col-666 {
    color: #666;
}

.text-col-777 {
    color: #777777;
}

.text-col-999 {
    color: #999;
}

.text-col-5f5f5f {
    color: #5f5f5f;
}

.text-col-00a6ff {
    color: #00a6ff;
}

.text-col-ff5400 {
    color: #ff5400;
}

.text-col-fd4404 {
    color: #fd4404;
}

.text-col-ff915b {
    color: #ff915b;
}

.bg-col-f4f4f4 {
    background-color: #f4f4f4;
}

.bg-col-feb299 {
    background-color: #feb299;
}

.bg-col-fece00 {
    background-color: #fece00;
}

.bg-col-fee475 {
    background-color: #fee475;
}

.bg-col-ff0000 {
    background-color: #ff0000;
}

.bg-col-fc622a {
    background-color: #fc622a;
}

.bg-col-fff {
    background: #fff;
}

.bg-col-fdf6dd {
    background: #fdf6dd;
}

.bg-col-00a6ff {
    background: #00a6ff;
}

.bg-col-397fc3 {
    background: #397fc3;
}

.bg-col-0066cc {
    background: #0066ff;
}

.bg-col-72b4f4 {
    background-color: #72b4f4;
}

.bg-col-f3f3f3 {
    background: #f3f3f3;
}

.bg-col-cacaca {
    background: #cacaca;
}

.bg-col-ff5400 {
    background: #ff5400;
}

.bg-col-f2efeb {
    background-color: #f2efeb;
}

.bg-col-f7f7f7 {
    background: #f7f7f7;
}

.bg-col-f8f8f8 {
    background: #f8f8f8;
}

.bg-col-dbdbdb {
    background: #dbdbdb;
}

.bd-top-e5e5e5 {
    border-top: 1px solid #e5e5e5;
}

.bor-none {
    border: none;
}

.bor-8e8e93 {
    border: 1px solid #8e8e93;
}

.bor-lefts-dfdfdf {
    border-left: 1px solid #dfdfdf;
}

.bor-right-dfdfdf {
    border-right: 1px solid #dfdfdf;
}

.bor-bottom-dfdfdf {
    border-bottom: 1px solid #dfdfdf;
}

.bor-bottom-0066ff {
    border-bottom: 1px solid #0066ff;
}

.bor-left-666666 {
    border-left: 1px solid #666666;
}

.bor-left-ff4f79 {
    border-left: 1px solid #ff4f79;
}

.bor-top-dfdfdf {
    border-top: 1px solid #dfdfdf;
}

.bor-bottom-ddc4b3 {
    border-bottom: 1px solid #ddc4b3;
}

.bor-bottomd-dfdfdf {
    border-bottom: 1px dashed #dfdfdf;
}

.bor-dfdfdf {
    border: 1px solid #dfdfdf;
}

.border-ff915b {
    border: 1px solid #ff915b;
}

.border-00a6ff {
    border: 1px solid #00a6ff;
}

.bor-fb5320 {
    border: 1px solid #fb5320;
}

.ui-border-radius2 {
    border-radius: 2px;
}

.ui-border-radius15 {
    border-radius: 15px;
}