.bank_app_top_bar {
    background: #FFFFFF;
    position: relative;
    height: 4rem;
}

.bank_app_top_bar .top_home {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 4.9rem;
    height: 4rem;
}

.bank_app_top_bar .top_home img, .bank_app_top_bar .top_person img {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 1.1rem;
}

.bank_app_top_bar .top_logo {
    vertical-align: top;
    line-height: 4rem;
}

.bank_app_top_bar .top_person {
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 4.9rem;
    height: 4rem;
}

.bank_app_top_bar .top_home:active, .bank_app_top_bar .top_person:active {
    background: #0059B2;
}