@charset "utf-8";
/*01-1 首页.fw*/
.nav_tit{display:-webkit-box; height:4.4rem; line-height:4.4rem; background:#fff; color:#333; font-size:1.6rem; padding:0 1.6rem;}
.nav_tit .payNavitem{display:block;-webkit-box-flex:1; width:1px;height:4.2rem; line-height:4.2rem;}
.nav_tit .payNavitem.on{color:#0063CF; border-bottom:2px solid #0063CF;font-size:1.7rem;}
.list{padding:0 1rem 2rem 1rem; background:#fff;}
.list li{margin-top:1.6rem; border-radius:8px; overflow:hidden;background-color: #f2f2f2;}
.list li div:nth-child(1){border-radius:8px; position:relative;overflow:hidden;}
.list li div:nth-child(1) .img_info{display:block; position:absolute; bottom:0; left:0; right:0; height:3.5rem; line-height:3.5rem;background:url(ico_down.png) 96% center no-repeat rgba(0,0,0,0.6);background-size:1.2rem 0.8rem; text-align:left; color:#fff; font-size:1.6rem; padding-left:1.2rem;}
.list li div:nth-child(1) .img_info.on{background:url(../image/ico_up.png) 96% center no-repeat rgba(0,0,0,0.6);background-size:1.2rem 0.8rem;}
.list li div:nth-child(1) img{width:100%;/* height:15rem;*/}
.list li img:active{opacity:0.5;}
.list li div:nth-child(2){padding:0.8rem 1.2rem 1.2rem 1.2rem; font-size:1.6rem; color:#333; text-align:left;}
/*01-2 资历页面.fw*/
.integral_num{line-height:4.4rem; color:#333; font-size:2rem;}
.integral_num em{color:#0063CE; font-size:2.3rem;}
.b_btm1:before{border-bottom: 1px solid #C0C0C2;box-shadow:0px 1px 0px #E6E6E8;}
.b_full_c:before{border:1px solid #ccc;border-radius:6px;}
.b_full_d:before{border:1px solid #ccc;border-bottom-right-radius:8px;border-bottom-left-radius:8px;}
.b_btm_dashed:before{border-bottom: 1px dashed #ccc;}
.cvt_item_bg{padding:0 1rem 2rem 1rem;}
.cvt_item_bg .cvt_img img:active{opacity:0.5;}
.cvt_item_txt{padding:0 1rem 2rem 1rem;}
.cvt_item_txt .cvt_item{ background:#fff;}
1.cvt_item_txt .cvt_item .cvt_img img{border-radius:0px;}
.cvt_item_txt .cvt_img img:active{opacity:0.5;}
.cvt_item_txt .cvt_btm{color:#333;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center; padding:1rem 1.2rem;}
.cvt_item_txt .cvt_btm span{display:block;-webkit-box-flex:1;}
.cvt_item_txt .cvt_btm span:nth-child(1){font-size:1.4rem; text-align:left;}
.cvt_item_txt .cvt_btm span:nth-child(1) em{ color:#E77117; font-size:1.8rem; margin:0 0.5rem;}
.cvt_item_txt .cvt_btm span:nth-child(2){font-size:1.2rem; text-align:right;}
.cvt_item_txt .cvt_btm span:nth-child(2).button{-webkit-box-flex:0; width:9rem; font-size:1.6rem; color:#fff; text-align:center; height:2.7rem; line-height:2.7rem;}
/*01-5 微信签约页面.fw*/
.info_bg{background:#fff; margin:1.5rem 2.5rem 1rem;}
.info_bg li{display:-webkit-box; padding:0.5rem 1.5rem; font-size:1.5rem; line-height:3.5rem;}
.info_bg li:last-child{border-bottom:0px;}
.info_bg li div:nth-child(1){width:8.8rem; color:#7F7F7F; text-align:left;}
.info_bg li div:nth-child(2){-webkit-box-flex:1; width:1px; color:#4C4C4C; text-align:left;}
.info_bg li div:nth-child(2).box{display:-webkit-box;}
.info_bg li div:nth-child(2).box span{display:block;-webkit-box-flex:1; width:1px; background:url(../image/click_logo.png) 0 center no-repeat; background-size:1.9rem 1.9rem;}
.info_bg li div:nth-child(2).box span.click{text-indent:2.4rem;}
.info_bg li div:nth-child(2).box span.on{background:url(../image/click_on.png) 0 center no-repeat; background-size:1.9rem 1.9rem;}
.info_bg li div:nth-child(2).box span.code{background:#0066CC; height:3.5rem; text-align:center; line-height:3.5rem; font-size:1.5rem; color:#fff;border-radius:6px;-webkit-box-flex:0; width:10.5rem;box-shadow:inset 0px 1px 0px #448FDA,inset 0px -1px 0px #448FDA;border:1px solid #002DB2;}
.info_bg li div:nth-child(2).box span.code:active{background:#005EBB; height:3.5rem; text-align:center; line-height:3.5rem; color:#fff;border-radius:6px; -webkit-box-flex:0; width:10.5rem;box-shadow:inset 0px 2px 0px #004283,inset 0px -1px 0px #0054A8;}
.info_bg li div:nth-child(2).black{color:#000;}
.info_bg li div:nth-child(2) input{width:100%; color:#000;font-size:1.5rem; 1border:1px solid red; height:3.5rem; line-height:3.5rem;}
.info_bg li div:nth-child(2) select{width:100%; color:#000;font-size:1.5rem; 1border:1px solid red; height:3.5rem;1line-height:2rem;background:url(../image/select_logo.png) 95% no-repeat; background-size:1rem 0.8rem;}
.agree_box{ color:#7C7C7D; text-align:left; margin:1rem 2rem 0.5rem 4rem; line-height:2rem; font-size:1.2rem;}
.agree_box .agree_button{display:inline-block; vertical-align:top; width:1.8rem; height:1.8rem;border:1px solid #ccc;box-shadow:0px 1px 0px #E8E8EA; margin-right:1rem;}
.agree_box .agree_button.on{background:url(../image/select_on.png) center no-repeat; background-size:1.2rem 1.2rem;}
.agreement_tit{font-size:1.2rem; text-align:left; margin:1rem 2rem 0rem 7.1rem;}
.button_notice{color:#0066CC; font-size:1.5rem; padding-bottom:1.5rem;}
/*01-6 签约成功.fw*/
.win_logo{margin-top:4.4rem;}
.win_logo img{width:7rem; height:7rem;}
.win_tit{font-size:1.8rem; color:#000; font-weight:bold; margin-top:1.7rem;}
.win_con{font-size:1.4rem; color:#999; margin:2rem 6rem; text-align:left;}
/*01-13 活动细则页面.fw*/
.rule_top{padding-bottom:1.5rem;}
.rule_top img{border-radius:8px;height: 15rem;}
.rule_con{padding:0 1rem;}
.rule_tit{font-size:1.5rem;color: #333;font-size:1.4rem;line-height:2.2rem; text-align:left; margin-bottom:1rem;padding:0 1rem;}
.rule_con li{font-size:1.4rem; color:#888; line-height:2.2rem; text-align:left; margin-bottom:1rem; display: -webkit-box; word-break:break-word;}
.rule_con li span{display: block;}
.rule_con li span:first-child{padding-right: 0.5rem;}
.rule_con li span:last-child{-webkit-box-flex: 1;}

/*01-14 积分活动列表页.fw*/
.cvt_item_active{1padding:0 1rem 2rem 1rem;}
.cvt_item_active .cvt_item{margin-top: 0rem;}
.active_con{font-size:1.7rem; color:#333; text-align:left; margin:1rem 1rem 2rem 1rem;}
.active_list{padding:0 0.5rem;}
.active_list li{float:left; width:50%; margin-bottom:1rem;}
.active_list li div{margin:0 0.5rem; background:#fff; color:#333; font-size:1.2rem;}
.active_list li div img{width:100%; height:10.9rem;}
.active_list li div p:nth-child(2){padding:1rem 0.5rem; text-align:left;}

.no_data_tit{padding-top: 3rem;color: #999;font-size: 1.4rem;}

/*蒙版style*/
.pop_bg{background:rgba(0,0,0,0.85);}
.spop_p1{padding: 3.5rem 2.2rem 1.5rem 0;text-align: right;}
.spop_p1 img{width: 6.5rem;height: 8.9rem;}
.spop_p2{text-align: center;}
.spop_p2 img{width: 22.4rem;height: 6.8rem;}
.spop_p3{padding: 4rem 0;}
.spop_p3 img{width: 13.8rem;height: 4.5rem;}