<!--https://prefacty.creditcard.cmbc.com.cn/mmc-main-webapp/main/-->
<!--https://prefacty.creditcard.cmbc.com.cn/activityday/template/tabAll.$10128.html-->
https://prefacty.creditcard.cmbc.com.cn/activityday/template/tabAllCard.$10128.html

<nav class="nav_tit border b_btm1">
	<i class="payNavitem on" ui-sref="tab1">全部</i>
	<i class="payNavitem" ui-sref="tab2">专属权益</i>
	<i class="payNavitem" ui-sref="tab3">全卡活动</i>
	<!-- <i class="payNavitem" ui-sref="tab4">惠生活</i> -->
</nav>
<div class="content">
	<ul class="list">
		<li class="border b_full" ng-repeat="item in actyList |filter : {'visibleFlag':'01'}">
			<div>
				<img ng-src="{{item.bannerPath}}" ng-click="toProdList(item)">
				<span class="img_info" ng-bind="item.actyTitle" ng-class="{'on':item.isShowOn}" ng-click="item.isShowOn=!item.isShowOn"></span>
			</div>
			<div class="introduce_con" ng-bind="item.actyDesc" ng-class="{'none':!item.isShowOn}"></div>
		</li>
	</ul>
</div>
<!-- <script type="text/javascript" src="activityday/script/weShareReady.js"></script> -->
<div class="pop_wraper pop_bg" id="share_pop" ng-if="sharepop" ng-click="sharePop()">
	<p class="spop_p1">
		<img src="activityday/image/share_arw.png" alt="分享箭头">
	</p>
	<p class="spop_p2">
		<img src="activityday/image/share_txt.png" alt="点击可以查看 已兑换的特权哦～">
	</p>
	<p class="spop_p3">
	    <span class="share_btn">
	    	<img src="activityday/image/share_btn.png" alt="我知道了">
	    </span>
	</p>
</div>
<!-- <script type="text/javascript">
    (function(){
    	if(localStorage.isLogin!="1"){
    		$("#share_pop").removeClass('none');
    	}
        $("#share_pop").on('click',function(event){
        	event.stopPropagation();
            event.preventDefault();
            $("#share_pop").addClass('none');
        });
        $("#share_pop").on("touchmove",function(event){
            event.preventDefault();
        });
    })();
</script> -->