<div ng-app="FindModule" ng-controller="findController">
    <section>
        <div class="nav-mainf ui-row bg-col-f8f8f8 line-40 bor-bottom-dfdfdf">
            <div class="ui-col-100 fl-left text-center text-col-333 font-16">
                发现
            </div>
        </div>
        <ul class="mt-40 find-list mb-60 pt-10 pl-10 pr-10">
            <li class="bg-col-fff" ng-if="activityOpen" ui-sref="wan({'type':1})">
                <div class='find-img' ng-style="findimg">
                    <img ng-style="findimg" ng-src="http://filmimage.jinbaozheng.com/images/s8.jpg"/>
                </div>
                <div class="pl-10 pr-10 line-20 font-12 pt-10 pb-10">大众场：《速度与激情8》10元观影活动</div>
            </li>
            <li class="bg-col-fff" ng-if="showRoot!='PFWX'&&activityOpen" ui-sref="vipsudu({'type':2})">
                <div class='find-img' ng-style="findimg">
                    <img ng-style="findimg" ng-src="http://filmimage.jinbaozheng.com/images/vips8.jpg"/>
                </div>
                <div class="pl-10 pr-10 line-20 font-12 pt-10 pb-10">钻石客户专场：《速度与激情8》10元观影活动</div>
          </li>
            <li class="bg-col-fff" ng-if="activityOpen" ui-sref="wan">
                <div class='find-img' ng-style="findimg"><img ng-style="findimg" ng-src="http://filmimage.jinbaozheng.com/images/wan.png"/></div>
                <div class="pl-10 pr-10 line-20 font-12 pt-10 pb-10">《有完没完》10元观影抢票活动</div>
            </li>
            <li class="bg-col-fff" ui-sref="week">
                <div class='find-img' ng-style="findimg">
                    <img ng-style="findimg" ng-src="http://filmimage.jinbaozheng.com/images/weekactivity.jpg"/>
                </div>
                <div class="pl-10 pr-10 line-20 font-12 pt-10 pb-10">小浦送优惠，好礼周周抢</div>
            </li>
            <li class="bg-col-fff" ui-sref="activity({'id':3})">
                <div class='find-img' ng-style="findimg">
                    <img ng-style="findimg" ng-src="http://filmimage.jinbaozheng.com/images/mthd.jpg"/>
                </div>
                <div class="pl-10 pr-10 line-20 font-12 pt-10 pb-10">小积分中大奖，奖券年卡不能少</div>
            </li>
            <li class="bg-col-fff" ui-sref="freecode({'id':2})">
                <div class='find-img' ng-style="findimg">
                    <img ng-style="findimg" ng-src="http://filmimage.jinbaozheng.com/images/dhm.jpg"/>
                </div>
                <div class="pl-20 line-20 font-12 pr-20 pt-10 pb-5">游戏卡信用卡新户特权，观影券兑换码领取</div>
            </li>
            <li class="bg-col-fff" ng-click="rootPaycheck(2)">
                <div class='find-img' ng-style="findimg">
                    <img ng-style="findimg" ng-src="http://filmimage.jinbaozheng.com/images/czdh.png"/>
                </div>
                <div class="pl-10 pr-10 line-20 font-12 pt-10 pb-10">幸运豆作用大，换换影票兑礼品</div>
            </li>
            <li class="bg-col-fff" ui-sref="onecode">
                <div class='find-img' ng-style="findimg">
                    <img ng-style="findimg" ng-src="http://filmimage.jinbaozheng.com/images/onecode.jpg"/>
                </div>
                <div class="pl-10 pr-10 line-20 font-12 pt-10 pb-10">浦大喜奔APP签到活动奖品兑换</div>
            </li>
            <li class="bg-col-fff" ng-click="zhoucheck()">
                <div class='find-img' ng-style="findimg">
                    <img ng-style="findimg" ng-src="http://filmimage.jinbaozheng.com/images/dyzb.png"/>
                </div>
                <div class="pl-10 pr-10 line-20 font-12 pt-10 pb-10">优惠看电影，平价买周边，各式最好玩的周边这里都有卖</div>
            </li>
        </ul>
    </section>
    <footer-view typenum="pagetype" new-page="getFooter(page)"></footer-view>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <error-view info="naomi" ng-hide="errorHidden" on-close="hideDialog()"></error-view>
</div>