
<div class="exchange-view">
    <!--兑换页会场切换-->
    <div class="flex exchange-tab">
        <div class="flex-1 flex tab-item"
             ng-click="exchange.toggleCampaign($index)"
             ng-class="{'active': $index === exchange.activeIndex}"
             ng-repeat="tab in exchange.campaigns track by $index">
            <div class="flex-1 tab-default" ng-bind="tab.tt"></div>
            <div class="tab-cut"
                 ng-class="{'active_first':$index + 1 === exchange.activeIndex, 'active_mid':  $index === exchange.activeIndex}"></div>
        </div>
    </div>

    <div  ng-if="exchange.newEgg">
        <!--兑换页 实物商品提示文字-->
        <div class="exchange-header">
            <div class="exchange-header-txt header-tip-txt" ng-if="!exchange.counterFlag && exchange.tipTitle" ng-bind="exchange.tipTitle"></div>

            <div class="flex flex-y-center header-counter" ng-if="exchange.counterFlag">
                <div class="exchange-header-txt">距离开抢</div>
                <div class="flex flex-y-center counter-time">
                    <div class="time-block" ng-bind="exchange.exchangeTimer.minF"></div>
                    <div class="time-block" ng-bind="exchange.exchangeTimer.minS"></div>
                    <div class="time-unit">分</div>
                    <div class="time-block" ng-bind="exchange.exchangeTimer.secF"></div>
                    <div class="time-block" ng-bind="exchange.exchangeTimer.secS"></div>
                    <div class="time-unit">秒</div>
                </div>
            </div>

            <div class="exchange-header-record" ng-click="exchange.showMyRecord()">抢兑记录</div>
        </div>

        <!--兑换页 实物商品展示-->
        <div class="exchange-list">
            <div class="flex flex-y-center list-item" ng-repeat="item in exchange.newEgg">
                <div class="item-pic">
                    <img class="item-icon" ng-src="{{item.imu}}" ng-click="exchange.goToProductDetail(item.reu, item.gdi)"/>
                    <div class="item-pic-inventory" ng-if="exchange.inventory && (exchange.inventory[item.gdi] || exchange.inventory[item.gdi] ===0)">
                            库存：{{exchange.inventory[item.gdi] | INVENTORY: 0}}
                    </div>
                </div>

                <div class="flex-1 item-desc-wrap">
                    <div class="desc-name" ng-bind="item.pdn"></div>

                    <div class="flex desc-btn">
                        <div class="flex-1 item-desc desc-salePrice"><span class="desc-salePrice-num">10</span>&nbsp;元兑换</div>
                        <div class="item-btn" fast-click  handler="exchange.exchange(item.gdi, item.cnc)" ng-class="exchange.checkBtnStyle(item.gdi, item.cnc)">{{exchange.inventory[item.gdi] | INVENTORY: 1}}
                        </div>
                    </div>

                    <div class="item-desc desc-refPrice">市场参考价{{item.rpc}}元</div>
                </div>

            </div>
        </div>
    </div>

    <div ng-if="exchange.neptune">
        <!--兑换页 积分商品提示文字-->
        <div class="exchange-header-txt header-neptune">当期可兑</div>

        <!--兑换页 积分商品展示-->
        <div class="exchange-list neptune-list">
            <div class="neptune-label"></div>
            <div class="flex flex-y-center list-item" ng-repeat="item in exchange.neptune">
                <div class="item-pic">
                    <img class="item-icon" ng-src="{{item.imu}}" ng-click="exchange.goToProductDetail(item.reu, item.gdi)"/>
                </div>
                <div class="flex-1 item-desc-wrap">
                    <div class="desc-name" ng-bind="item.pdn"></div>
                    <div class="flex desc-btn">
                        <div class="flex-1 item-desc desc-salePrice"><span class="desc-salePrice-num">10</span>&nbsp;元兑换</div>
                        <div class="item-btn" fast-click  handler="exchange.exchange(item.gdi, item.cnc)" ng-class="exchange.checkBtnStyle(item.gdi, item.cnc)">{{exchange.inventory[item.gdi] | INVENTORY: 2}}
                        </div>
                    </div>
                    <div class="item-desc desc-limit">积分有效期至2018.12.31</div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--抢兑记录-->
<div record ng-if="exchange.showRecord"></div>

<!--弹框-->
<div cat-alert ng-if="exchange.showAlert"
     title="{{exchange.alertInfo.title}}"
     show-close="exchange.alertInfo.showClose"
     close="exchange.alertInfo.close()"
     content="{{exchange.alertInfo.content}}"
     icon-type="{{exchange.alertInfo.iconType}}"
     button-list="exchange.alertInfo.buttonList"></div>

