<div ng-app="WeekActivity" ng-controller="weekController">
    <section class="wkbg-bs">
        <div class="ui-row bor-bottom-dfdfdf bg-col-f8f8f8 clear line-40">
            <div class="ui-col-10 fl-left" ng-click="returnHistory('',3,'')">
                <i class="ui-icon-return icon-return dis-inline text-col-333 line-25 font-24 ml-5"></i>
            </div>
            <div class="ui-col-80 fl-left text-center text-col-333 font-16">
                周周抢票
            </div>
        </div>
        <div ng-style="xyimgs1">
            <img ng-style="xyimgs1" src="./images/weekbg1.jpg"/>
        </div>
        <div class="bg-col-fece00 weekbg pb-10">
            <p class="text-center text-col-ff5723 mb-30 font-weight font-20 lineh-30">
                <img src="./images/weekdg.png" style="width: 15px; height: 15px; " class="mr-5"/>每位用户每周限抢一次
            </p>
            <div class="position pt-10 pb-10 bg-col-fee475 ">
                <div class="weekfree" ng-style="xyimgs2" ng-click="getChange('free')">
                    <img ng-if='status' ng-src="./images/weekbtn.png" class="weekbtn"/>
                    <img ng-if='!status' ng-src="./images/weekblack.png" class="weekbtn"/>
                </div>
                <div class="weeksub" ng-style="xyimgs2" ng-click="getChange('random')">
                    <img ng-if='substatus' ng-src="./images/weekbtn.png" class="weekbtn"/>
                    <img ng-if='!substatus' ng-src="./images/weekblack.png" class="weekbtn"/>
                </div>
                <div class="weeklast" ng-style="xyimgs2" ng-click="getChange('recharge')">
                    <img ng-if='recharge' ng-src="./images/weekbtn.png" class="weekbtn"/>
                    <img ng-if='!recharge' ng-src="./images/weekblack.png" class="weekbtn"/>
                </div>
            </div>
        </div>
        <div class="ui-row clear lineh-30 pt-10 pb-10 bg-col-fff font-14 text-col-fc652b text-center">
            <div class="ui-col-49 fl-left dis-inline lineh-30" ui-sref="weekrule">
                <img ng-src="./images/wrule.png" class="wimgs"> <span class="wrule">活动规则</span>
            </div>
            <div class="ui-col-49 fl-left dis-inline bor-left-ff4f79 lineh-30" ui-sref="weekhistory">
                <img ng-src="./images/wrecord.png" class="wimgs"> <span class="wrule">中奖记录</span>
            </div>
        </div>
    </section>
    <loading-view ng-hide="dialogIsHidden"></loading-view>
    <!--文字信息提示-->
    <div class="ui-dialog sprtipsModel">
        <div class="sprizjbd position">
            <div class="ui-spr-bd text-center">
                <div>
                    <img ng-style="zjstyle" ng-src="./images/weektip.png"/>
                    <div class="font-16 tipsmeg" ng-bind-html="signtext | to_trusted"></div>
                </div>
            </div>
            <div class="ui-spr-week">
                <img ng-click="closeDialog()" ng-src="./images/surebtn.png"/>
            </div>
        </div>
    </div>
    <!--抢票中的提示-->
    <div class="ui-dialog sprtipsModels">
        <div class="sprizjbd position">
            <div class="ui-spr-bd text-center">
                <div>
                    <h1></h1>
                    <img ng-style="zjstyle" ng-src="./images/weektip.png"/>
                    <div class="font-16 tipsmeg1" ng-bind="signtext"></div>
                </div>
            </div>
        </div>
    </div>
    <!--中奖图片提示-->
    <div class="ui-dialog sprzjModel">
        <div class="sprizjbd position" style="margin-top:35px;">
            <div class="ui-spr-bd text-center">
                <div>
                    <p class='truetip' ng-bind-html="tips | to_trusted"></p>
                    <img style="width: 100%" ng-src="./images/week.png"/>
                </div>
            </div>
            <div class="ui-spr-week">
                <p class="font-12 line-20 text-center"
                   style="width:70%; padding-left: 15%; padding-right: 15%; color:#f78d2f;"></p>
                <img ng-click="sprzjHide()" ng-src="./images/surebtn.png"/>
            </div>
        </div>
    </div>
    <!--验证码-->
    <div class="ui-dialog sprcodeModel">
        <div class="sprizjbd position">
            <div class="ui-spr-bd text-center">
                <div>
                    <h1><i class="ui-icon-close-progress"
                           style="font-size: 28px;position: absolute; top: 9%;  right: 12%;" ng-click="closeSpr()"></i>
                    </h1>
                    <img ng-style="zjstyle" ng-src="./images/weektip.png"/>
                    <div class="font-14 tipsmima">
                        <div class="ui-col-90 clear" style="margin-left: 10%">
                            <input class="ui-col-55 fl-left bor-radius5 bor-none bor-8e8e93 line-30 pl-5"
                                   placeholder='请输入右侧验证码' type="text" ng-model="setcode"/>
                            <span class="font-16 bg-col-f2efeb dis-inline text-center fl-right ui-col-33s
                            line-30 text-col-2c3e50"
                                  ng-click="code()" ng-bind="codemsg"></span>
                        </div>
                        <p style="margin-top:10px;">{{checkcodes}}</p>
                    </div>
                </div>
            </div>
            <div class="ui-spr-week">
                <img ng-click="checkout()" ng-src="./images/surebtn.png"/>
            </div>
        </div>
    </div>
    <!--倒计时-->
    <div class="ui-dialog timeModel">
        <!-- <div class="sprizjbd"> -->
            <!-- <div class="ui-spr-bd text-center"> -->
                <!-- <div class="position"> -->
                    <!-- <img ng-style="timestyle" ng-src="./images/lasttime.png"/> -->
                    <!-- <div class="timewap font-weight"> -->
                        <!-- <p class="text-col-fe9f23 text-center font-16" style="margin-top: 15%;">离活动开始还剩</p> -->
                        <!-- <div class="font-14 mt-20"> -->
                            <!-- <span class="changetime">{{showss}}</span> -->
                            <!-- <span class="timetitle">分</span> -->
                            <!-- <span class="changetime">{{showmm}}</span> -->
                            <!-- <span class="timetitle">秒</span> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
</div>