
<div class="content">
    <div class="pop_cont" style="background: #F9F9FB;">
        <p class="pop_icon">
            <!-- <span class="ico_fial"></span> -->
            <span class="ico_success"></span>
        </p>
        <p class="pop_title" ng-bind="errorTitle"></p>
        <div class="error_msg" ng-bind="errorMsg"></div>
        <div class="error_code" ng-bind="errorCode"></div>
        <p class="pbtn_p" >
            <span class="error_btn" ng-click="goHome()">回首页</span>
            <span class="error_btn" ui-sref="mypriv">查看我的特权</span>
        </p>
    </div>
</div>