
<div class="content">
    <!--<p class="pro_timg border b_full"><img src="image/img_01.png"></p>-->
    <div class="cvt_item border b_lrb mtop0">
        <span class="ico_top"></span>
        <span class="ico_ylt"></span>
        <span class="ico_yrt"></span>
        <p class="cvt_img">
            <img ng-src={{goodsBannerPicPath}}>
        </p>
    </div>
    <div class="dtl_dov">
        <p class="dtl_tit" ng-bind-html="giftDesc"></p>
        <div class="dtl_imgs">
            <div ng-repeat="item in showPicArray">
                <img ng-src="{{item}}">
            </div>
        </div>
    </div>
    <div class="wb_cvt border b_top_btm">
        <div class="cvtNav">
            <p class="cvt_title" ui-sref="shopList">适用门店</p>
        </div>
    </div>
</div>
<div class="foter">
    <p class="btn_card" ui-sref="prodList">查看其他特权</p>
</div>