<!--微信渠道 start-->
<div ng-show="wei_channle" class="top_bar">
    <div class="top_home" onclick="toHome()"><img src="activityday/image/ico_home.png"></div>
    <div class="top_logo"><img src="activityday/image/ico_logo.png"></div>
    <div class="top_person" onclick="toMyOrder()"><img src="activityday/image/ico_person.png"></div>
</div>

<!--微信渠道 end-->

<!--第三方 start-->
<div ng-show="app_channle" class="bank_app_top_bar">
    <div class="top_home" onclick="Fw.goBack()"><img src="activityday/image/bank_app_back.png"></div>
    <div class="top_logo"><p class="top_title" ng-bind="top_title"></div>
    <div class="top_person" onclick="toMyOrder()"><img src="activityday/image/bank_app_person.png"/></div>
</div>
<!--第三方 end-->