
<nav class="nav_tit border b_btm1">
    <i class="payNavitem on" data-type="use_list">我的礼品</i>
    <i class="payNavitem" data-type="used_list" ui-sref="myprvInvalid">已失效</i>
    <i class="payNavitem" data-type="expired_list" ui-sref="myprivWait">待支付</i>
</nav>
<div class="content">
    <p class="no_data_tit" ng-if="emptyFlag">暂时没有已兑换的礼品哦~</p>
    <div class="cvt_item_txt " id="use_list">
        <div class="cvt_item border b_lrb" ng-repeat="validData in orderList" ng-click="toGiftOrder(validData)">
            <span class="ico_top"></span>
            <span class="ico_ylt"></span>
            <span class="ico_yrt"></span>
            <p class="cvt_img"><img ng-src={{validData.goodsBannerPicPath}}></p>
            <p class="cvt_btm" ng-if="validData.goodsType=='10' && '70'!=validData.orderStatus  && validData.couponID"><span></span><span ng-bind="validData.endDate | effectDate"></span></p >
            <p class="cvt_btm" ng-if="validData.goodsType=='10' && '70'==validData.orderStatus"><span></span><span>进入票券详情页重新获取兑换码</span></p >
        </div>
    </div>
    <p class="lmore_p" ng-if="isRetry" ng-click="retry()">活动火爆，请点击此处重试...</p>
    <p class="lmore_p" ng-click="loadMore()" ng-if="showTag">
        <span class="lookMore">查看更多</span>
    </p>
</div>
