
<div class="pro_list pro_main" ng-repeat="item in prodList">
    <div class="cvt_item border b_lrb bg_w" ng-click="gift(item)">
        <span class="ico_top"></span>
        <span class="ico_ylt"></span>
        <span class="ico_yrt"></span>
        <p class="cvt_img">
            <img ng-src="{{item.goodsBannerPicPath}}">
        </p>
        <div class="cvt_tdov">
            <div class="cvt_kit">
                <div class="cvt_lable">使用方式：</div>
                <div class="cvt_txt">
                    <p ng-bind-html="item.usageMode"></p>
                </div>
            </div>
            <div class="cvt_kit">
                <div class="cvt_lable">使用期限：</div>
                <div class="cvt_txt">
                    <p ng-bind-html="item.useLife"></p>
                </div>
            </div>
            <div class="cvt_kit">
                <div class="cvt_lable">其他说明：</div>
                <div class="cvt_txt">
                    <p ng-bind-html="item.remark"></p>
                </div>
            </div>
        </div>
        <p class="dh_p">
            <!-- <span ng-class="{true:'btn_gray',false:'btn_dh'}[noQualify]" ng-if="item.exchMode=='03'">查看详情</span>
            <span ng-class="{true:'btn_gray',false:'btn_dh'}[noQualify]" ng-if="item.exchMode!='03'">立即兑换</span> -->
            <span ng-class="{true:'btn_gray',false:'btn_dh'}[noQualify]" ng-bind="buttonName(item)"></span>
        </p>
    </div>
</div>