
<nav class="nav_tit border b_btm1" >
    <i class="payNavitem" ui-sref="tab1">...</i>
    <i class="payNavitem" ui-sref="tab2">...</i>
    <i class="payNavitem on" ui-sref="tab3">....</i>
    <!-- <i class="payNavitem" ui-sref="tab4">惠生活</i> -->
</nav>
<div class="content">
    <ul class="list">
        <li class="border b_full" ng-repeat="item in actyList |filter : {'actyClass':'02'} |filter : {'visibleFlag':'01'}">
            <div>
                <img ng-src="{{item.bannerPath}}" ng-click="toProdList(item)">
                <!-- <span class="img_info" ng-bind="item.actyTitle" onclick="changeClass(this)"></span> -->
                <span class="img_info" ng-bind="item.actyTitle" ng-class="{'on':item.isShowOn}" ng-click="item.isShowOn=!item.isShowOn"></span>
            </div>
            <!-- <div class="introduce_con none" ng-bind="item.actyDesc"></div> -->
            <div class="introduce_con" ng-bind="item.actyDesc" ng-class="{'none':!item.isShowOn}"></div>
        </li>
    </ul>
</div>
