<!--The content below is only a placeholder and can be replaced.-->
<el-table [model]="tableData">
  <el-table-column model-key="name" label="姓名" width="140">
  </el-table-column>
  <el-table-column model-key="date" label="日期" width="140">
  </el-table-column>
  <el-table-column model-key="address" label="地址">
  </el-table-column>
</el-table>

<script type="text">
// in component
private tableData: any[] = [{
  name: '水爷',
  date: '2017-08-19',
  address: '上海市普陀区金沙江路 1518 弄',
}, {
  name: '水爷',
  date: '2017-08-20',
  address: '上海市普陀区金沙江路 1518 弄',
}, {
  name: '水爷',
  date: '2017-08-21',
  address: '上海市普陀区金沙江路 1518 弄',
}, {
  name: '水爷',
  date: '2017-08-22',
  address: '上海市普陀区金沙江路 1510 弄',
}]
</script>